Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: update network talos config for new bootstrap
  talos/network/controlplane/rk0.yaml.j2
  talos/network/controlplane/rk1.yaml.j2
  talos/network/controlplane/rk2.yaml.j2
  talos/network/controlplane/schematic.yaml
  talos/network/machineconfig.yaml.j2
  talos/network/schematic.yaml
  talos/network/talsecret.sops.yaml
  talos/test/controlplane/t1.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/network

chore: update network schematic; rename files; fix talos tasks
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  talos/network/controlplane/rk0.yaml
  talos/network/controlplane/rk1.yaml
  talos/network/controlplane/rk2.yaml
  talos/network/controlplane/schematic.yaml
Labels: area/talos, area/taskfile, cluster/network

chore: more talos config upates
  talos/main/controlplane/k3sj.yaml
  talos/main/controlplane/k3sm.yaml
  talos/main/controlplane/k3st.yaml
  talos/main/controlplane/k3sv.yaml
  talos/main/controlplane/schematic.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/schematic.yaml
  talos/main/talsecret.sops.yaml
  talos/main/worker/k3s0.yaml
  talos/main/worker/k3s2.yaml
  talos/main/worker/k3s3.yaml
  talos/main/worker/schematic.yaml
  talos/network/machineconfig.yaml.j2
  talos/registry/controlplane/harbor.yaml
  talos/registry/controlplane/schematic.yaml
  talos/registry/machineconfig.yaml.j2
  talos/registry/talsecret.sops.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: net0 alias
  talos/main/controlplane/k3sj.yaml
  talos/main/controlplane/k3sm.yaml
  talos/main/controlplane/k3st.yaml
  talos/main/controlplane/k3sv.yaml
  talos/main/worker/k3s0.yaml
  talos/main/worker/k3s2.yaml
  talos/main/worker/k3s3.yaml
  talos/network/controlplane/rk0.yaml
  talos/network/controlplane/rk1.yaml
  talos/network/controlplane/rk2.yaml
  talos/registry/controlplane/harbor.yaml
  talos/test/controlplane/t1.yaml
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: renovate
  .renovaterc.json5
Labels: none

chore: update renovate clusters
  .renovate/clusters.json5
Labels: none

chore: renovate username?
  kubernetes/apps/base/renovate/renovate-jobs/kochhaus.yaml
Labels: area/kubernetes

chore: client-id
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: update annotation; make (internal) DNS targets consistent.
  .archive/kubernetes/apps/ci/woodpecker/server/helm-release.yaml
  .archive/kubernetes/apps/default/bind/primary/helmrelease.yaml
  .archive/kubernetes/apps/default/bind/secondary/helmrelease.yaml
  .archive/kubernetes/apps/default/blocky/app/helmrelease.yaml
  .archive/kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  .archive/kubernetes/apps/drone/drone/drone/ingress.yaml
  .archive/kubernetes/apps/home/emqx/app/helmrelease.yaml
  .archive/kubernetes/apps/home/smtp-relay/helm-release.yaml
  .archive/kubernetes/apps/monitoring/alertmanager-discord-webhook/app/helmrelease.yaml
  .archive/kubernetes/apps/networking/headscale/app/helmrelease.yaml
  .archive/kubernetes/apps/networking/speedtest/app/helmrelease.yaml
  .archive/kubernetes/apps/security/authentik/helm-release.yaml
  kubernetes/apps/base/default/mosquitto/helmrelease.yaml
  kubernetes/apps/base/default/mqtt-exporter/helmrelease.yaml
  kubernetes/apps/base/default/omada-controller-proxy/httproute.yaml
  kubernetes/apps/base/default/omada-controller/httproute.yaml
  kubernetes/apps/base/default/openweathermap-exporter/helmrelease.yaml
  kubernetes/apps/base/default/smtp-relay/helmrelease.yaml
  kubernetes/apps/base/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/base/observability/dnssec-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/json-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/base/observability/network-ups-tools/app/helmrelease.yaml
  kubernetes/apps/base/observability/network-ups-tools/exporter/helmrelease.yaml
  kubernetes/apps/base/observability/tplink-plug-exporter/helmrelease.yaml
  kubernetes/apps/main/dbms/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/main/kube-system/cilium/networking.yaml
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/network/kube-system/cilium/networking.yaml
  kubernetes/apps/registry/harbor/harbor/app/helmrelease.yaml
  kubernetes/apps/registry/kube-system/cilium/networking.yaml
  kubernetes/apps/registry/network/envoy-gateway.yaml
Labels: area/kubernetes

wtf?
  kubernetes/apps/base/default/mqtt-exporter/helmrelease.yaml
Labels: area/kubernetes

chore: remove old bootstrap cruft
  bootstrap/helmfile/crds.yaml
  bootstrap/main/age-key.sops.yaml
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  bootstrap/main/helmfile.d/default.yaml
  bootstrap/main/helmfile.d/templates/release.yaml.gotmpl
  bootstrap/main/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/network/age-key.sops.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/01-apps.yaml
  bootstrap/network/helmfile.d/templates/values-base.yaml.gotmpl
  bootstrap/network/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/registry/age-key.sops.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/01-apps.yaml
  bootstrap/registry/helmfile.d/templates/values-base.yaml.gotmpl
  bootstrap/registry/helmfile.d/templates/values.yaml.gotmpl
  scripts/bootstrap-apps.sh
  scripts/bootstrap-talos.sh
  scripts/fix-talos-ips.sh
  scripts/lib/common.sh
  scripts/render-machine-config.sh
Labels: area/bootstrap, area/scripts, cluster/main, cluster/network, cluster/registry

chore: 1.14.0
  kubernetes/apps/test/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes

chore: disable selinux
  talos/main/controlplane/schematic.yaml
  talos/network/controlplane/schematic.yaml
  talos/registry/controlplane/schematic.yaml
  talos/test/controlplane/schematic.yaml
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: set external-secrets replicas appropriately
  kubernetes/apps/base/security/external-secrets/helmrelease.yaml
  kubernetes/apps/main/security/external-secrets.yaml
  kubernetes/apps/network/security/external-secrets.yaml
  kubernetes/apps/registry/security/external-secrets.yaml
  kubernetes/apps/test/security/external-secrets.yaml
Labels: area/kubernetes

chore: external-secrets replicas and pdb - take 2
  kubernetes/apps/base/security/external-secrets/helmrelease.yaml
  kubernetes/apps/base/security/external-secrets/kustomization.yaml
  kubernetes/apps/base/security/external-secrets/pdb.yaml
  kubernetes/apps/main/security/external-secrets.yaml
  kubernetes/apps/network/security/external-secrets.yaml
  kubernetes/apps/registry/security/external-secrets.yaml
  kubernetes/apps/test/security/external-secrets.yaml
Labels: area/kubernetes

chore: fix cloudflare-tunnel pdb
  kubernetes/apps/base/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/base/network/cloudflare-tunnel/kustomization.yaml
  kubernetes/apps/base/network/cloudflare-tunnel/pdb.yaml
Labels: area/kubernetes

chore: use kernel cmdline arguments from talos image (this changed in 1.13)
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: update talos schematics for all clusters
  talos/main/controlplane/schematic.yaml
  talos/main/worker/schematic.yaml
  talos/network/controlplane/schematic.yaml
  talos/registry/controlplane/schematic.yaml
  talos/test/controlplane/schematic.yaml
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: 1.14.0
  kubernetes/apps/main/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes

chore: 1.14.0
  kubernetes/apps/network/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes

chore: fix talos 1.14 installer upgrades in renovate
  .renovate/talosFactory.json5
  .renovaterc.json5
  kubernetes/apps/main/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/apps/network/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/apps/registry/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/apps/test/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes

chore: add safety kustomization file
  kubernetes/components/kustomization.yaml
Labels: area/kubernetes

chore: updated machineconfig with new separated resources
  talos/test/controlplane/t1.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: cleanup errors
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: update tasks for new multi-doc
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore: re-add IPv6
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: whatspace
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: rewrite registry machineconfig for multidoc
  talos/registry/controlplane/harbor.yaml
  talos/registry/machineconfig.yaml.j2
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore: re-add IPv6
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: update tasks for new multi-doc
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore: cleanup errors
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: updated machineconfig with new separated resources
  talos/test/controlplane/t1.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: rewrite registry machineconfig for multidoc
  talos/registry/controlplane/harbor.yaml
  talos/registry/machineconfig.yaml.j2
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore: main cluster
  talos/main/controlplane/k3sj.yaml
  talos/main/controlplane/k3sm.yaml
  talos/main/controlplane/k3st.yaml
  talos/main/controlplane/k3sv.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/worker/k3s0.yaml
  talos/main/worker/k3s2.yaml
  talos/main/worker/k3s3.yaml
Labels: area/talos, cluster/main

chore: whatspace
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: network cluster
  talos/network/controlplane/rk0.yaml
  talos/network/controlplane/rk1.yaml
  talos/network/controlplane/rk2.yaml
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/network, cluster/registry
