Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: need sops in fluxinstance to decrypt secret in clusters/*
  kubernetes/clusters/test/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore: openebs
  kubernetes/apps/test/actions-runner-system/actions-runner-controller.yaml
  kubernetes/clusters/test/cluster-info.yaml
Labels: area/kubernetes

chore: subdomain
  kubernetes/apps/test/security/onepassword.yaml
Labels: area/kubernetes

chore: fnord
  kubernetes/apps/test/security/onepassword.yaml
Labels: area/kubernetes

chore: registry cluster settings
  .sops.yaml
  kubernetes/clusters/registry/apps.yaml
  kubernetes/clusters/registry/cluster-info.yaml
  kubernetes/clusters/registry/cluster-secrets.sops.yaml
  kubernetes/clusters/registry/flux-instance/helmrelease.yaml
  kubernetes/clusters/test/apps.yaml
  kubernetes/clusters/test/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore: remove
  kubernetes/apps/registry/flux-system/flux-operator.yaml
Labels: area/kubernetes

chore: move flux dashboard httproute
  kubernetes/apps/base/flux-system/addons/httproute.yaml
  kubernetes/apps/test/flux-system/addons.yaml
  kubernetes/clusters/test/apps.yaml
  kubernetes/clusters/test/cluster-info.yaml
Labels: area/kubernetes

chore: openebs -> democratic-csi
  kubernetes/apps/test/actions-runner-system/actions-runner-controller.yaml
  kubernetes/apps/test/storage/democratic-csi.yaml
  kubernetes/apps/test/storage/kustomization.yaml
  kubernetes/apps/test/storage/snapshot-controller.yaml
  kubernetes/clusters/test/cluster-info.yaml
Labels: area/kubernetes

more variable, namespace, patch cleanup
  kubernetes/apps/registry/flux-system/flux-operator.yaml
  kubernetes/clusters/registry/flux-instance/helmrelease.yaml
  kubernetes/clusters/registry/flux-instance/kustomization.yaml
  kubernetes/clusters/test/apps.yaml
Labels: area/kubernetes

chore: add flux-system namespace
  bootstrap/kustomize/secrets.yaml.tpl
Labels: area/bootstrap

chore: add populator-test
  kubernetes/apps/test/default/kustomization.yaml
Labels: area/kubernetes

chore: fix cloudflare tunnel id
  kubernetes/apps/test/network/cloudflare-tunnel.yaml
Labels: area/kubernetes

feat: kopiur
  kubernetes/apps/test/storage/kopiur.yaml
  kubernetes/apps/test/storage/kustomization.yaml
  kubernetes/clusters/test/apps.yaml
  kubernetes/clusters/test/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore: tunnel
  kubernetes/apps/test/network/cloudflare-tunnel.yaml
  kubernetes/apps/test/network/kustomization.yaml
Labels: area/kubernetes

feat: keda
  kubernetes/apps/test/default/populator-test.yaml
  kubernetes/apps/test/observability/keda.yaml
  kubernetes/apps/test/observability/kustomization.yaml
Labels: area/kubernetes

chore: populator-test
  kubernetes/apps/test/default/populator-test.yaml
Labels: area/kubernetes

chore: fix dependsOn
  kubernetes/apps/test/default/populator-test.yaml
Labels: area/kubernetes

chore: bgp
  kubernetes/apps/test/kube-system/cilium/networking.yaml
Labels: area/kubernetes

chore: bind-dns
  kubernetes/apps/test/network/bind-dns.yaml
  kubernetes/apps/test/network/kustomization.yaml
Labels: area/kubernetes

chore: fix envoy endpoints
  kubernetes/apps/test/network/envoy-gateway.yaml
Labels: area/kubernetes

chore: move external service network
  kubernetes/apps/test/kube-system/cilium/networking.yaml
  kubernetes/apps/test/network/envoy-gateway.yaml
  kubernetes/apps/test/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

chore: vars
  kubernetes/clusters/test/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore: bgp
  kubernetes/apps/test/kube-system/cilium/networking.yaml
Labels: area/kubernetes

chore: observability
  kubernetes/apps/test/observability/grafana.yaml
  kubernetes/apps/test/observability/kube-prometheus-stack.yaml
  kubernetes/apps/test/observability/kustomization.yaml
  kubernetes/apps/test/observability/silence-operator.yaml
Labels: area/kubernetes

chore: remove l2
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/test/kube-system/cilium/networking.yaml
Labels: area/kubernetes

chore: use shared envoy-gateway config
  kubernetes/apps/test/network/envoy-gateway.yaml
  kubernetes/apps/test/network/envoy-gateway/envoy.yaml
  kubernetes/apps/test/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/test/network/envoy-gateway/observability.yaml
Labels: area/kubernetes

chore: webhook subdomain is automatic
  kubernetes/apps/base/flux-system/addons/httproute.yaml
  kubernetes/apps/test/flux-system/addons.yaml
Labels: area/kubernetes

chore: fix tuppr healthChecks
  kubernetes/apps/test/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/test/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes

chore: remove duplicate
  kubernetes/apps/base/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes

chore: set alertmanager clusterPeerName
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

chore: tplink spare is at daughter's house
  kubernetes/apps/base/observability/tplink-plug-exporter/prometheus.yaml
Labels: area/kubernetes

chore: remove unused tasks
  Taskfile.yaml
Labels: area/taskfile

chore: switch branch
  kubernetes/clusters/test/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore: fix harbor/envoy-external IPs; remove unused vars
  kubernetes/components/main/cluster-settings/cluster-settings.yaml
  kubernetes/components/network/cluster-settings/cluster-settings.yaml
  kubernetes/components/registry/cluster-settings/cluster-settings.yaml
Labels: area/kubernetes

chore: add test cluster to image-pull
  .github/workflows/image-pull.yaml
Labels: area/github

Revert "chore: replace etcd-defrag job"
  kubernetes/apps/base/kube-system/etcd-defrag/externalsecret.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/helmrelease.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/kustomization.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/resources/dyndns.sh
  kubernetes/apps/base/kube-system/etcd-defrag/serviceaccount.yaml
Labels: area/kubernetes

feat: garage-ui
  kubernetes/apps/base/default/garage-ui/externalsecret.yaml
  kubernetes/apps/base/default/garage-ui/helmrelease.yaml
  kubernetes/apps/base/default/garage-ui/kustomization.yaml
  kubernetes/apps/base/default/garage-ui/ocirepository.yaml
  kubernetes/apps/network/default/garage-ui.yaml
  kubernetes/apps/network/default/kustomization.yaml
Labels: area/kubernetes

chore: upgrade forgejo-runner to v13.1.0
  kubernetes/apps/base/dev/forgejo-runner/helmrelease.yaml
Labels: area/kubernetes

chore: update ping target
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/wifi.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/wired.yaml
Labels: area/kubernetes

chore: update house temperatures dashboard
  kubernetes/apps/base/default/mqtt-exporter/dashboard/house-sensors.json
Labels: area/kubernetes
