Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

more cleanup of old cruft
  hack/alertmanager/am-silencer.sh
  hack/alertmanager/cephmonclockskew.json
  hack/alertmanager/cephnodediskspacewarningdevice.json
  hack/alertmanager/cephnodediskspacewarningmountpoint.json
  hack/alertmanager/cephnodeinconsistentmtu.json
  hack/alertmanager/cephnodenetworkpacketdrops.json
  hack/alertmanager/cephnodenetworkpacketerrors.json
  hack/fix-coredns.sh
  hack/fix-tigera-operator.sh
  hack/kps-restore.sh
  hack/kps-snapshot.sh
  hack/snapshot-job.yaml
Labels: none

chore(kyverno): workaround registry/repository bug
  kubernetes/main/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

attempt #2
  kubernetes/main/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(mise): remote python; other minor updates
  .mise.toml
Labels: none

add externalsecrets healthcheck
  kubernetes/main/apps/security/external-secrets/ks.yaml
  kubernetes/network/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

Revert "add externalsecrets healthcheck"
  kubernetes/main/apps/security/external-secrets/ks.yaml
  kubernetes/network/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

tiny (cough) renovate cleanup
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/clusters.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/ociChartGroups.json5
  .github/renovate/packageRules.json5
  .vscode/extensions.json
  .vscode/settings.json
Labels: area/github, area/renovate

add local renovate
  .github/workflows/renovate.yaml
Labels: area/github

feat: haproxy
  kubernetes/main/apps/network/external-services/app/hass.yaml
  kubernetes/main/apps/network/external-services/app/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/resources/haproxy.cfg
  kubernetes/network/apps/network/haproxy/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

tiny (cough) renovate cleanup
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/clusters.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/ociChartGroups.json5
  .github/renovate/packageRules.json5
  .vscode/extensions.json
  .vscode/settings.json
Labels: area/github, area/renovate

add local renovate
  .github/workflows/renovate.yaml
Labels: area/github

feat: haproxy (#7899)
  kubernetes/main/apps/network/external-services/app/hass.yaml
  kubernetes/main/apps/network/external-services/app/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/resources/haproxy.cfg
  kubernetes/network/apps/network/haproxy/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

feat: haproxy (#7899)
  kubernetes/main/apps/network/external-services/app/hass.yaml
  kubernetes/main/apps/network/external-services/app/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/resources/haproxy.cfg
  kubernetes/network/apps/network/haproxy/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

feat: olivetin
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/olivetin/app/externalsecret.yaml
  kubernetes/network/apps/default/olivetin/app/helmrelease.yaml
  kubernetes/network/apps/default/olivetin/app/kustomization.yaml
  kubernetes/network/apps/default/olivetin/app/resources/config.yaml
  kubernetes/network/apps/default/olivetin/app/scripts/kustomization.yaml
  kubernetes/network/apps/default/olivetin/app/scripts/olivetin-blocky-script.sh
  kubernetes/network/apps/default/olivetin/app/secret.sops.yaml
  kubernetes/network/apps/default/olivetin/ks.yaml
Labels: area/kubernetes, cluster/network

fix blocky script
  kubernetes/network/apps/default/olivetin/app/scripts/olivetin-blocky-script.sh
Labels: area/kubernetes, cluster/network

year
  LICENSE
Labels: none

chore(olivetin): dns settings
  kubernetes/network/apps/default/olivetin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

known_hosts
  kubernetes/network/apps/default/olivetin/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

chore(rook-ceph): v1.17.8
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: webhook
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/webhook/app/helmrelease.yaml
  kubernetes/main/apps/tools/webhook/app/resources/jellyseerr-pushover.sh
  kubernetes/main/apps/tools/webhook/ks.yaml
Labels: area/kubernetes, cluster/main

add router
  kubernetes/main/apps/downloads/vpnconfig.yaml
Labels: area/kubernetes, cluster/main

chore(olivetin): locally-built container with extra seasoning
  kubernetes/network/apps/default/olivetin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(openebs): rename storageClass; move storage path
  kubernetes/registry/apps/harbor/harbor/app/helmrelease.yaml
  kubernetes/registry/apps/harbor/harbor/app/registry-pvc.yaml
  kubernetes/registry/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

kubernetes version FIXME
  Taskfile.yaml
Labels: area/taskfile

talos taskfile rewrite
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix tab
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

removing some dust
  .mise.toml
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yaml
  bootstrap/registry/helmfile.yaml
  scripts/bootstrap-apps.sh
  scripts/lib/common.sh
Labels: area/bootstrap, area/scripts, area/taskfile, cluster/registry

talos rewrite
  .taskfiles/bootstrap/Taskfile.yaml
  talos/registry/clusterconfig/.gitignore
  talos/registry/controlplane/harbor.yaml
  talos/registry/machineconfig.yaml.j2
  talos/registry/patches/README.md
  talos/registry/patches/controller/admission-controller-patch.yaml
  talos/registry/patches/controller/cluster.yaml
  talos/registry/patches/global/machine-files.yaml
  talos/registry/patches/global/machine-kubelet.yaml
  talos/registry/patches/global/machine-network.yaml
  talos/registry/patches/global/machine-openebs.yaml
  talos/registry/patches/global/machine-sysctls.yaml
  talos/registry/patches/global/machine-time.yaml
  talos/registry/schematic.yaml
  talos/registry/talconfig.yaml
  talos/registry/talenv.yaml
Labels: area/talos, area/taskfile, cluster/registry

minijinja config
  .minijinja.toml
Labels: none

Remove talhelper for the registry cluster (#7942)
  .minijinja.toml
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yaml
  bootstrap/registry/helmfile.yaml
  scripts/bootstrap-apps.sh
  scripts/lib/common.sh
  talos/registry/clusterconfig/.gitignore
  talos/registry/controlplane/harbor.yaml
  talos/registry/machineconfig.yaml.j2
  talos/registry/patches/README.md
  talos/registry/patches/controller/admission-controller-patch.yaml
  talos/registry/patches/controller/cluster.yaml
  talos/registry/patches/global/machine-files.yaml
  talos/registry/patches/global/machine-kubelet.yaml
  talos/registry/patches/global/machine-network.yaml
  talos/registry/patches/global/machine-openebs.yaml
  talos/registry/patches/global/machine-sysctls.yaml
  talos/registry/patches/global/machine-time.yaml
  talos/registry/schematic.yaml
  talos/registry/talconfig.yaml
  talos/registry/talenv.yaml
Labels: area/bootstrap, area/scripts, area/talos, area/taskfile, cluster/registry

chore(renovate): kube-prometheus-stack
  .github/renovate/ociChartGroups.json5
Labels: area/github, area/renovate

chore(renovate): updates
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/ociChartGroups.json5
  .github/renovate/overrides.json5
Labels: area/github, area/renovate

disable font ligatures (yuck)
  .vscode/settings.json
Labels: none

more talos bootstrap reorg
  .taskfiles/talos/Taskfile.yaml
  scripts/bootstrap-talos.sh
  scripts/render-machine-config.sh
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml
Labels: area/scripts, area/talos, area/taskfile, cluster/registry

moar. MOAR!
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

remove yq
  scripts/bootstrap-apps.sh
Labels: area/scripts

more fixes
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  scripts/bootstrap-apps.sh
  scripts/bootstrap-talos.sh
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
Labels: area/scripts, area/talos, area/taskfile, cluster/registry

add cluster name
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

default no cluster
  Taskfile.yaml
Labels: area/taskfile

More talos bootstrap (#7950)
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .vscode/settings.json
  Taskfile.yaml
  scripts/bootstrap-apps.sh
  scripts/bootstrap-talos.sh
  scripts/render-machine-config.sh
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
Labels: area/scripts, area/talos, area/taskfile, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
