Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

add changed images to step summary
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix flux-local merge error
  .github/workflows/flux-local.yaml
Labels: area/github

chore(pgadmin): add missing pgadmin secret key
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kured): don't reboot the misbehaving node
  kubernetes/main/apps/tools/kured/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update talos tasks to work with my multiple clusters
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

talos .gitignore fixes
  talos/registry/clusterconfig/.gitignore
  talos/registry/clusterconfig/clusterconfig/.gitignore
Labels: area/talos

mise updates
  .mise.toml
Labels: none

fix talos k8s version
  talos/registry/talconfig.yaml
Labels: area/talos

chore(talos): pre-emptive fix for reboot loop with 1.10
  talos/registry/patches/global/machine-extrakernelargs.yaml
  talos/registry/talconfig.yaml
Labels: area/talos

chore: bjw-s -> bjw-s-labs
  kubernetes/main/flux/meta/repositories/helm/bjw-s.yaml
  kubernetes/network/flux/meta/repositories/helm/bjw-s.yaml
  kubernetes/registry/flux/meta/repositories/helm/bjw-s.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(flux): alert metadata
  kubernetes/main/components/alerts/alert.yaml
  kubernetes/network/components/alerts/alert.yaml
Labels: area/kubernetes, cluster/main, cluster/network

convert k8s-ycl to app-template
  kubernetes/network/apps/tools/k8s-ycl/app/helmrelease.yaml
  kubernetes/network/apps/tools/k8s-ycl/app/kustomization.yaml
  kubernetes/network/apps/tools/k8s-ycl/app/mutatingwebhookconfiguration.yaml
  kubernetes/network/apps/tools/k8s-ycl/app/pki.yaml
Labels: area/kubernetes, cluster/network

convert k8s-ycl to app-template (#6958)
  kubernetes/network/apps/tools/k8s-ycl/app/helmrelease.yaml
  kubernetes/network/apps/tools/k8s-ycl/app/kustomization.yaml
  kubernetes/network/apps/tools/k8s-ycl/app/mutatingwebhookconfiguration.yaml
  kubernetes/network/apps/tools/k8s-ycl/app/pki.yaml
Labels: area/kubernetes, cluster/network

chore(network): retire k8s-ycl
  .archive/kubernetes/apps/tools/k8s-ycl/app/helmrelease.yaml
  .archive/kubernetes/apps/tools/k8s-ycl/app/kustomization.yaml
  .archive/kubernetes/apps/tools/k8s-ycl/app/mutatingwebhookconfiguration.yaml
  .archive/kubernetes/apps/tools/k8s-ycl/app/pki.yaml
  .archive/kubernetes/apps/tools/k8s-ycl/ks.yaml
  kubernetes/network/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(dmarc-report): switch to my image
  kubernetes/main/apps/security/dmarc-report/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(dmarc-report): switch to my image (#6973)
  kubernetes/main/apps/security/dmarc-report/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): bluestore warnings
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): ks.yaml healthchecks; other cleanups
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): no cephFs updates
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): remove objectStore
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/cephobjectstoreuser.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): enable modules diskprediction_local, insights, and rook. minor helmrelease tweaks.
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix volsync depends
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): remove diskpredition_local
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(tigera-operator): increase memory
  kubernetes/main/apps/tigera-operator/tigera-operator/app/helmrelease.yaml
  kubernetes/network/apps/tigera-operator/tigera-operator/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

remove extra cluster reference
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

up deps
  .mise.toml
Labels: none

chore(tigera-operator): still more memory
  kubernetes/main/apps/tigera-operator/tigera-operator/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

archive glance
  .archive/kubernetes/apps/default/glance/app/helmrelease.yaml
  .archive/kubernetes/apps/default/glance/app/kustomization.yaml
  .archive/kubernetes/apps/default/glance/app/resources/glance.yaml
  .archive/kubernetes/apps/default/glance/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(hajimari): disable two ingress
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

convert silence-operator to silence-operator chart
  kubernetes/main/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/main/apps/monitoring/silence-operator/app/rbac.yaml
  kubernetes/main/apps/monitoring/silence-operator/ks.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/ceph.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/kustomization.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/nodememoryhighutilization.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/main/flux/meta/repositories/helm/silence-operator.yaml
Labels: area/kubernetes, cluster/main

oops 2
  kubernetes/main/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

hmmm
  kubernetes/main/flux/meta/repositories/helm/silence-operator.yaml
Labels: area/kubernetes, cluster/main

chore: update external-secrets resources from v1beta1 to v1
  kubernetes/network/apps/default/emqx/app/externalsecret.yaml
  kubernetes/network/apps/default/kochhaus-docs/app/externalsecret.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/externalsecret.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/network/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/network/apps/network/external-dns/bind/externalsecret.yaml
  kubernetes/network/apps/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/network/apps/observability/omada-exporter/app/externalsecret.yaml
  kubernetes/network/components/volsync/minio.yaml
Labels: area/kubernetes, cluster/network

feat(renovate): split app-template PRs
  .github/renovate/packageRules.json5
Labels: area/github, area/renovate

chore(system-upgrade-controller): update serviceAccount definitions
  kubernetes/main/apps/tools/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(system-upgrade-controller): update serviceAccount definitions
  kubernetes/main/apps/tools/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(system-upgrade-controller): update serviceAccount spec
  kubernetes/network/apps/tools/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(system-upgrade-controller): fix rbac
  kubernetes/main/apps/tools/system-upgrade-controller/app/rbac.yaml
  kubernetes/network/apps/tools/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(picoshare): backup the PVC
  kubernetes/main/apps/storage/picoshare/app/helmrelease.yaml
  kubernetes/main/apps/storage/picoshare/ks.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
