Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

remove system-upgrade-controller
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/main

remove mutatingadmissionpolicy feature gate
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

remove external-secrets from bootstrap (we have the CRDs now)
  bootstrap/main/helmfile.d/01-apps.yaml
Labels: area/bootstrap, cluster/main

fix netmask
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore(registry): re-org components
  kubernetes/registry/components/common/kustomization.yaml
  kubernetes/registry/components/common/repos/app-template/kustomization.yaml
  kubernetes/registry/components/common/repos/app-template/ocirepository.yaml
  kubernetes/registry/components/common/repos/kustomization.yaml
  kubernetes/registry/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/registry/components/common/sops/cluster-settings.yaml
  kubernetes/registry/components/common/sops/kustomization.yaml
  kubernetes/registry/components/common/sops/secret.sops.yaml
Labels: area/kubernetes, cluster/registry

reorg registry network namespace
  kubernetes/network/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/network/apps/network/ingress-nginx/ks.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/tls/certificate.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/tls/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/bind-dns/app/kustomization.yaml
  kubernetes/registry/apps/network/bind-dns/app/secret.sops.yaml
  kubernetes/registry/apps/network/bind-dns/ks.yaml
  kubernetes/registry/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/registry/apps/network/ingress-nginx/app/kustomization.yaml
  kubernetes/registry/apps/network/ingress-nginx/ks.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore(network): remove external-secrets dependencies
  kubernetes/network/apps/default/kochhaus-docs/ks.yaml
  kubernetes/network/apps/default/mosquitto/ks.yaml
  kubernetes/network/apps/default/n8n/ks.yaml
  kubernetes/network/apps/default/node-red/ks.yaml
  kubernetes/network/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/network/apps/network/bind-dns/ks.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/network

fix secret name
  kubernetes/registry/apps/network/bind-dns/app/secret.sops.yaml
Labels: area/kubernetes, cluster/registry

fix certificate name
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/registry

Revert "fix(github-release): update aqua:mikefarah/yq ( 4.47.1 → 4.47.2 ) (#8070)"
  .mise.toml
Labels: none

chore(registry): remove nginx
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/tls/certificate.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/tls/kustomization.yaml
  kubernetes/registry/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/registry/apps/network/ingress-nginx/app/kustomization.yaml
  kubernetes/registry/apps/network/ingress-nginx/ks.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/registry

whoops - remove cluster-meta kustomization
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/registry

chore(network-cluster): remove flux receiver
  kubernetes/network/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

chore(network-cluster): store wildcard cert in 1pw
  kubernetes/network/apps/kube-system/certificates/export/certificate.yaml
  kubernetes/network/apps/kube-system/certificates/export/kustomization.yaml
  kubernetes/network/apps/kube-system/certificates/export/pushsecret.yaml
  kubernetes/network/apps/kube-system/certificates/import/externalsecret.yaml
  kubernetes/network/apps/kube-system/certificates/import/kustomization.yaml
  kubernetes/network/apps/kube-system/certificates/ks.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/security/onepassword-connect/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

chore(bind-dns): remove external-secrets dependency
  kubernetes/main/apps/network/bind-dns/ks.yaml
Labels: area/kubernetes, cluster/main

lint
  kubernetes/main/apps/observability/smartctl-exporter/ks.yaml
  kubernetes/main/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

recombine external-secrets values into helmrelease
  kubernetes/main/apps/security/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/main/apps/security/external-secrets/app/helm/values.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

lint
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/network/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

replace cilium gateway with envoy-gateway
  bootstrap/network/helmfile.d/00-crds.yaml
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/echo/app/helmrelease.yaml
  kubernetes/network/apps/default/homer/app/helmrelease.yaml
  kubernetes/network/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
  kubernetes/network/apps/default/n8n/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/openspeedtest/app/helmrelease.yaml
  kubernetes/network/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/network/apps/network/certificates/export/certificate.yaml
  kubernetes/network/apps/network/certificates/export/kustomization.yaml
  kubernetes/network/apps/network/certificates/export/pushsecret.yaml
  kubernetes/network/apps/network/certificates/import/externalsecret.yaml
  kubernetes/network/apps/network/certificates/import/kustomization.yaml
  kubernetes/network/apps/network/certificates/ks.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/network/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/network/apps/network/envoy-gateway/app/observability.yaml
  kubernetes/network/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/network/apps/network/envoy-gateway/ks.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/httproute.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/network/apps/storage/longhorn/app/httproute.yaml
Labels: area/bootstrap, area/kubernetes, cluster/network

switch branch
  kubernetes/network/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/network

there's always one
  kubernetes/network/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/network

correct the externa-dns targets
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/network

enable backendtlspolicy for omada
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(envoy-gateway): enable the Backend API
  kubernetes/network/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(omada-controller): disable cert validation
  kubernetes/network/apps/default/omada-controller/app/backendtlspolicy.yaml
Labels: area/kubernetes, cluster/network

chore(omada-controller): disable TLS verification
  kubernetes/network/apps/default/omada-controller/app/backendtlspolicy.yaml
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

dns?
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore(omada): disable ingress
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore(network-cluster): remove nginx
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/cert-manager/cert-manager/tls/certificate.yaml
  kubernetes/network/apps/cert-manager/cert-manager/tls/kustomization.yaml
  kubernetes/network/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/network/apps/network/ingress-nginx/app/kustomization.yaml
  kubernetes/network/apps/network/ingress-nginx/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network

I'm an idiot
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(cloudflare-dns): fix gateway reference
  kubernetes/network/apps/network/cloudflare-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

fix branch
  kubernetes/network/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/network

update branch
  kubernetes/main/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/main

update CRDs
  bootstrap/main/helmfile.d/00-crds.yaml
Labels: area/bootstrap, cluster/main

loki
  kubernetes/main/apps/observability/loki/app/httproute.yaml
Labels: area/kubernetes, cluster/main

fix cloudflared
  kubernetes/main/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/network/apps/network/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/main, cluster/network

fix branch
  kubernetes/main/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/main

oops - we changed the cloudflared target
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/network

we got rid of flux-webhook-network
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/network

chore(renovate): remove groupsize for talos (since we removed system-upgrade-controller)
  .github/renovate/groups.json5
Labels: area/github, area/renovate
