Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

fix nginx proxy-buffer-size error
  kubernetes/main/apps/network/nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix nginx proxy-buffer-size error
  kubernetes/network/apps/network/internal/ingress-nginx/helmrelease.yaml
Labels: area/kubernetes, cluster/network

fix nginx proxy-buffer-size error
  kubernetes/registry/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore(flux): kustomization spec.wait: false is the default
  kubernetes/network/apps/default/changedetection/ks.yaml
  kubernetes/network/apps/default/echo/ks.yaml
  kubernetes/network/apps/default/homer/ks.yaml
  kubernetes/network/apps/default/it-tools/ks.yaml
  kubernetes/network/apps/default/kochhaus-docs/ks.yaml
  kubernetes/network/apps/default/mosquitto/ks.yaml
  kubernetes/network/apps/default/mqtt-exporter/ks.yaml
  kubernetes/network/apps/default/node-red/ks.yaml
  kubernetes/network/apps/default/omada-controller/ks.yaml
  kubernetes/network/apps/default/openspeedtest/ks.yaml
  kubernetes/network/apps/default/openweathermap-exporter/ks.yaml
  kubernetes/network/apps/default/populator-test/ks.yaml
  kubernetes/network/apps/default/smtp-relay/ks.yaml
  kubernetes/network/apps/flux-system/flux-instance/ks.yaml
  kubernetes/network/apps/flux-system/flux-operator/ks.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/kube-system/coredns/ks.yaml
  kubernetes/network/apps/kube-system/metrics-server/ks.yaml
  kubernetes/network/apps/kube-system/reloader/ks.yaml
  kubernetes/network/apps/kube-system/spegel/ks.yaml
  kubernetes/network/apps/network/external/ks.yaml
  kubernetes/network/apps/network/internal/ks.yaml
  kubernetes/network/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/network/apps/observability/dnssec-exporter/ks.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/json-exporter/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/apps/observability/network-ups-tools/ks.yaml
  kubernetes/network/apps/observability/omada-exporter/ks.yaml
  kubernetes/network/apps/observability/promtail/ks.yaml
  kubernetes/network/apps/observability/smartctl-exporter/ks.yaml
  kubernetes/network/apps/observability/snmp-exporter/ks.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/ks.yaml
  kubernetes/network/apps/remote/openssh/ks.yaml
Labels: area/kubernetes, cluster/network

chore(flux): consistency
  kubernetes/network/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(cert-manager): increase timeout; use OCI chart
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/registry/flux/meta/repositories/helm/jetstack.yaml
  kubernetes/registry/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/registry

chore(registry): remove flux webhook - disable chart digest tracking
  kubernetes/registry/apps/flux-system/flux-instance/app/github/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/github/webhooks/secret.sops.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes, cluster/registry

cert-manager 2
  bootstrap/network/helmfile.yaml
  bootstrap/registry/helmfile.yaml
Labels: area/bootstrap

chore(cilium) - changes from network cluster; enable cilium gateway; folder reorg
  bootstrap/registry/helmfile.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/registry/apps/kube-system/cilium/app/networks.yaml
  kubernetes/registry/apps/kube-system/cilium/config/pool.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/registry/apps/kube-system/cilium/ks.yaml
  kubernetes/registry/components/common/cluster-settings.yaml
Labels: area/bootstrap, area/kubernetes, cluster/registry

chore(coredns): folder reorg; use OCI chart
  bootstrap/registry/helmfile.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helm/kustomizeconfig.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/registry/flux/meta/repositories/helm/coredns.yaml
  kubernetes/registry/flux/meta/repositories/helm/kustomization.yaml
Labels: area/bootstrap, area/kubernetes, cluster/registry

chore(metrics-server): use OCI chart
  kubernetes/registry/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/registry/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/registry/flux/meta/repositories/helm/metrics-server.yaml
Labels: area/kubernetes, cluster/registry

chore(reloader): use OCI chart
  kubernetes/registry/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/registry/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/registry/flux/meta/repositories/helm/spegel.yaml
  kubernetes/registry/flux/meta/repositories/helm/stakater.yaml
Labels: area/kubernetes, cluster/registry

add app-template OCI chart component
  kubernetes/registry/components/repos/app-template/kustomization.yaml
  kubernetes/registry/components/repos/app-template/ocirepository.yaml
Labels: area/kubernetes, cluster/registry

replace prometheus-community HelmRepository; remove unsed HelmRepositories
  kubernetes/registry/apps/harbor/harbor/backup/helmrelease.yaml
  kubernetes/registry/apps/harbor/kustomization.yaml
  kubernetes/registry/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/registry/flux/meta/repositories/helm/bjw-s.yaml
  kubernetes/registry/flux/meta/repositories/helm/cilium.yaml
  kubernetes/registry/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/registry/flux/meta/repositories/helm/k8s-gateway.yaml
  kubernetes/registry/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/registry/flux/meta/repositories/helm/openebs.yaml
  kubernetes/registry/flux/meta/repositories/helm/prometheus-community.yaml
Labels: area/kubernetes, cluster/registry

chore(talos): disable selinux
  talos/network/talconfig.yaml
Labels: area/talos

chore(talos): reorg registry
  talos/registry/patches/controller/cluster.yaml
  talos/registry/patches/global/machine-extrakernelargs.yaml
  talos/registry/patches/global/machine-files.yaml
  talos/registry/patches/global/machine-kubelet.yaml
  talos/registry/talconfig.yaml
  talos/registry/talenv.yaml
Labels: area/talos

tab
  talos/registry/talconfig.yaml
Labels: area/talos

chore(talos): add harbor pull-through container cache
  talos/network/talconfig.yaml
Labels: area/talos

chore(kured): disable discord notifications
  kubernetes/main/apps/tools/kured/app/helmrelease.yaml
  kubernetes/main/apps/tools/kured/app/kustomization.yaml
  kubernetes/main/apps/tools/kured/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(omada): try gateway
  kubernetes/network/apps/default/omada-controller/app/backendtlspolicy.yaml
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(media-bowser): add a writable /tmp
  kubernetes/main/apps/media/media-browser/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: n8n
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/n8n/app/externalsecret.yaml
  kubernetes/network/apps/default/n8n/app/helmrelease.yaml
  kubernetes/network/apps/default/n8n/ks.yaml
Labels: area/kubernetes, cluster/network

feat: n8n (#7623)
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/n8n/app/externalsecret.yaml
  kubernetes/network/apps/default/n8n/app/helmrelease.yaml
  kubernetes/network/apps/default/n8n/ks.yaml
Labels: area/kubernetes, cluster/network

feat: silence-operator (network)
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/network/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/ks.yaml
  kubernetes/network/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/network

correct CRD name in flux healthChecks
  kubernetes/network/apps/observability/silence-operator/ks.yaml
Labels: area/kubernetes, cluster/network

feat: silence-operator (network) (#7628)
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/network/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/ks.yaml
  kubernetes/network/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/network

chore(network): disable silence operator
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

fix upgrade-k8s task to use talenv.yaml
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

feat: atuin (again)
  kubernetes/main/apps/default/atuin/app/externalsecret.yaml
  kubernetes/main/apps/default/atuin/app/helmrelease.yaml
  kubernetes/main/apps/default/atuin/app/kustomization.yaml
  kubernetes/main/apps/default/atuin/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

remove defaults
  kubernetes/main/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

upstream volsync image is now multi-arch
  kubernetes/network/apps/storage/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(volsync): remove timezone hack - it will not work on Talos
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(talos): fix harbor mirror config
  talos/network/talconfig.yaml
Labels: area/talos

node-red is apparently single-stack
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: retire wallos
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/wallos/app/helmrelease.yaml
  kubernetes/main/apps/default/wallos/app/kustomization.yaml
  kubernetes/main/apps/default/wallos/ks.yaml
Labels: area/kubernetes, cluster/main

chore: retire karakeep
  kubernetes/main/apps/default/karakeep/app/externalsecret.yaml
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/main/apps/default/karakeep/app/kustomization.yaml
  kubernetes/main/apps/default/karakeep/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

prepare for cilium 1.18 upgrade
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore: update cilium apiversions
  kubernetes/network/apps/kube-system/cilium/app/networks.yaml
  kubernetes/registry/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore(talos): add reboot-mode=powercycle to talos:upgrade-node
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

feat: jellyfin
  .archive/kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  .archive/kubernetes/apps/media/jellyfin/app/volsync.yaml
  .archive/kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/main/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/main/apps/media/jellyfin/app/pvc.yaml
  kubernetes/main/apps/media/jellyfin/ks.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
