Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

not sure if I like this ...
  kubernetes/base/components/gatus/external/config.yaml
  kubernetes/base/components/gatus/external/kustomization.yaml
  kubernetes/base/components/gatus/guarded/config.yaml
  kubernetes/base/components/gatus/guarded/kustomization.yaml
  kubernetes/base/components/gatus/internal/config.yaml
  kubernetes/base/components/gatus/internal/kustomization.yaml
Labels: area/kubernetes

ignore base
  .github/workflows/flux-local.yaml
Labels: area/github

more ignore base
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

feat: shared echo chart (#9547)
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/image-pull.yaml
  kubernetes/base/apps/default/echo/helmrelease.yaml
  kubernetes/base/apps/default/echo/kustomization.yaml
  kubernetes/base/components/gatus/external/config.yaml
  kubernetes/base/components/gatus/external/kustomization.yaml
  kubernetes/base/components/gatus/guarded/config.yaml
  kubernetes/base/components/gatus/guarded/kustomization.yaml
  kubernetes/base/components/gatus/internal/config.yaml
  kubernetes/base/components/gatus/internal/kustomization.yaml
  kubernetes/main/apps/default/echo.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/network/apps/default/echo.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/main, cluster/network

chore: add CLUSTER variable to flux
  kubernetes/main/flux/cluster/ks.yaml
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

fix: talos oomconfig
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: coredns patching experiment
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/network

chore: coredns patching experiment
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/flux/cluster/ks.yaml
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: shared coredns deployment
  kubernetes/base/apps/kube-system/coredns/helmrelease.yaml
  kubernetes/base/apps/kube-system/coredns/kustomization.yaml
  kubernetes/base/apps/kube-system/coredns/ocirepository.yaml
  kubernetes/main/apps/kube-system/coredns.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/coredns.yaml
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/network/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/registry/apps/kube-system/coredns.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/registry/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: shared coredns deployment (#9569)
  kubernetes/base/apps/kube-system/coredns/helmrelease.yaml
  kubernetes/base/apps/kube-system/coredns/kustomization.yaml
  kubernetes/base/apps/kube-system/coredns/ocirepository.yaml
  kubernetes/main/apps/kube-system/coredns.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/coredns.yaml
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/network/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/registry/apps/kube-system/coredns.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/registry/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: fix flux-local processing for new base folder
  .github/workflows/flux-local.yaml
Labels: area/github

chore: shared chart for external-secrets
  kubernetes/base/apps/external-secrets/helmrelease.yaml
  kubernetes/base/apps/external-secrets/kustomization.yaml
  kubernetes/base/apps/external-secrets/ocirepository.yaml
  kubernetes/base/apps/external-secrets/pdb.yaml
  kubernetes/main/apps/security/external-secrets.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/network/apps/security/external-secrets.yaml
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/app/ocirepository.yaml
  kubernetes/network/apps/security/external-secrets/app/pdb.yaml
  kubernetes/network/apps/security/kustomization.yaml
  kubernetes/registry/apps/security/external-secrets.yaml
  kubernetes/registry/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/registry/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/registry/apps/security/external-secrets/app/ocirepository.yaml
  kubernetes/registry/apps/security/external-secrets/app/pdb.yaml
  kubernetes/registry/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: also fix ks.yaml, dummy
  kubernetes/main/apps/security/external-secrets.yaml
  kubernetes/network/apps/security/external-secrets.yaml
  kubernetes/registry/apps/security/external-secrets.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

I need more caffeine
  kubernetes/base/apps/security/external-secrets/helmrelease.yaml
  kubernetes/base/apps/security/external-secrets/kustomization.yaml
  kubernetes/base/apps/security/external-secrets/ocirepository.yaml
  kubernetes/base/apps/security/external-secrets/pdb.yaml
Labels: area/kubernetes

chore: shared chart for external-secrets (#9571)
  kubernetes/base/apps/security/external-secrets/helmrelease.yaml
  kubernetes/base/apps/security/external-secrets/kustomization.yaml
  kubernetes/base/apps/security/external-secrets/ocirepository.yaml
  kubernetes/base/apps/security/external-secrets/pdb.yaml
  kubernetes/main/apps/security/external-secrets.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/network/apps/security/external-secrets.yaml
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/app/ocirepository.yaml
  kubernetes/network/apps/security/external-secrets/app/pdb.yaml
  kubernetes/network/apps/security/kustomization.yaml
  kubernetes/registry/apps/security/external-secrets.yaml
  kubernetes/registry/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/registry/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/registry/apps/security/external-secrets/app/ocirepository.yaml
  kubernetes/registry/apps/security/external-secrets/app/pdb.yaml
  kubernetes/registry/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: remove renovate tags for mirror.gcr.io and use registryAliases instead
  .renovate/overrides.json5
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/dbms/postgres-backup/app/helmrelease.yaml
  kubernetes/main/apps/default/excalidraw/app/helmrelease.yaml
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/main/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
  kubernetes/main/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/whoami/app/helmrelease.yaml
  kubernetes/main/apps/observability/goldpinger/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/app/helmrelease.yaml
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: remove renovate tags for mirror.gcr.io and use registryAliases instead (#9572)
  .renovate/overrides.json5
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/dbms/postgres-backup/app/helmrelease.yaml
  kubernetes/main/apps/default/excalidraw/app/helmrelease.yaml
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/main/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
  kubernetes/main/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/whoami/app/helmrelease.yaml
  kubernetes/main/apps/observability/goldpinger/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/app/helmrelease.yaml
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: deploy more nfs-scaler configs
  kubernetes/main/apps/default/calibre-web/ks.yaml
  kubernetes/main/apps/default/filebrowser/ks.yaml
  kubernetes/main/apps/default/media-browser/ks.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/ocis/ks.yaml
  kubernetes/main/apps/default/onedrive/ks.yaml
  kubernetes/main/apps/default/syncthing/ks.yaml
Labels: area/kubernetes, cluster/main

chore: more memory for postgresql
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: update bootstrap to support helm v4
  .mise.toml
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
  scripts/bootstrap-apps.sh
Labels: area/bootstrap, area/scripts, cluster/main, cluster/network, cluster/registry

chore: add field-manager to namespace bootstrap
  scripts/bootstrap-apps.sh
Labels: area/scripts

chore: install external-secrets at bootstrap time
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/01-apps.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/01-apps.yaml
Labels: area/bootstrap, cluster/main, cluster/network, cluster/registry

chore(renovate-bot): reduce parallelism to 3; run every four hours
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

feat: dragonfly component
  kubernetes/main/components/dragonfly/dragonfly.yaml
  kubernetes/main/components/dragonfly/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(renovate-operator): add a dockerhub PAT; enable redis/dragonfly cache
  kubernetes/main/apps/renovate/renovate-operator/jobs/externalsecret.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
  kubernetes/main/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes, cluster/main

chore: dragonfly rbac
  kubernetes/main/apps/dbms/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/main

chore(kasa): drop pod labels
  kubernetes/main/apps/observability/tplink-plug-exporter/app/prometheus.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/prometheus.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: base cluster
  .renovate/clusters.json5
Labels: none

disable tproxy
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

disable tproxy
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

disable tproxy
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container): update quay.io/cilium/charts/cilium ( 1.18.6 → 1.19.0 ) [registry] (#9677)"
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, cluster/registry

chore: add task hints for bootstrap
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

chore: add multus to dependsOn
  kubernetes/network/apps/default/matter-server/ks.yaml
  kubernetes/network/apps/default/matterbridge/ks.yaml
  kubernetes/network/apps/default/netshoot-iot/ks.yaml
Labels: area/kubernetes, cluster/network

chore: fix registry bootstrap (needs cleanup)
  bootstrap/registry/helmfile.d/01-apps.yaml
  bootstrap/registry/helmfile.d/templates/values-base.yaml.gotmpl
Labels: area/bootstrap, cluster/registry

feat: esphome
  kubernetes/network/apps/default/esphome/app/externalsecret.yaml
  kubernetes/network/apps/default/esphome/app/helmrelease.yaml
  kubernetes/network/apps/default/esphome/app/kustomization.yaml
  kubernetes/network/apps/default/esphome/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: remove renovate hint
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: fix dragonfly topology matchlabels
  kubernetes/main/components/dragonfly/dragonfly.yaml
Labels: area/kubernetes, cluster/main

chore: downgrade cilium to 1.18.6
  kubernetes/network/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, cluster/network

chore: disable uvt alertmanager
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network
