Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: move static-web to base
  kubernetes/apps/base/default/static-web/helmrelease.yaml
  kubernetes/apps/base/default/static-web/kustomization.yaml
  kubernetes/apps/base/default/static-web/ocirepository.yaml
  kubernetes/apps/base/default/static-web/secret.sops.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/static-web.yaml
Labels: area/kubernetes, cluster/main

chore: move syncthing to base
  kubernetes/apps/base/default/syncthing/helmrelease.yaml
  kubernetes/apps/base/default/syncthing/kustomization.yaml
  kubernetes/apps/base/default/syncthing/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/syncthing.yaml
Labels: area/kubernetes, cluster/main

chore: move tautulli to base
  kubernetes/apps/base/default/tautulli/externalsecret.yaml
  kubernetes/apps/base/default/tautulli/helmrelease.yaml
  kubernetes/apps/base/default/tautulli/kustomization.yaml
  kubernetes/apps/base/default/tautulli/ocirepository.yaml
  kubernetes/apps/base/default/tautulli/pvc.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/tautulli.yaml
Labels: area/kubernetes, cluster/main

chore: move whoami to base
  kubernetes/apps/base/default/whoami/externalsecret.yaml
  kubernetes/apps/base/default/whoami/helmrelease.yaml
  kubernetes/apps/base/default/whoami/kustomization.yaml
  kubernetes/apps/base/default/whoami/ocirepository.yaml
  kubernetes/apps/base/default/whoami/securitypolicy.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/whoami.yaml
Labels: area/kubernetes, cluster/main

chore: move your-spotify to base
  kubernetes/apps/base/default/your-spotify/externalsecret.yaml
  kubernetes/apps/base/default/your-spotify/helmrelease.yaml
  kubernetes/apps/base/default/your-spotify/kustomization.yaml
  kubernetes/apps/base/default/your-spotify/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/your-spotify.yaml
Labels: area/kubernetes, cluster/main

chore: move bentopdf to base
  kubernetes/apps/base/default/bentopdf/helmrelease.yaml
  kubernetes/apps/base/default/bentopdf/kustomization.yaml
  kubernetes/apps/base/default/bentopdf/ocirepository.yaml
  kubernetes/network/apps/default/bentopdf.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move blocky-ui to base
  kubernetes/apps/base/default/blocky-ui/helmrelease.yaml
  kubernetes/apps/base/default/blocky-ui/kustomization.yaml
  kubernetes/apps/base/default/blocky-ui/ocirepository.yaml
  kubernetes/network/apps/default/blocky-ui.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move changedetection to base
  kubernetes/apps/base/default/changedetection/helmrelease.yaml
  kubernetes/apps/base/default/changedetection/kustomization.yaml
  kubernetes/apps/base/default/changedetection/ocirepository.yaml
  kubernetes/network/apps/default/changedetection.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move esphome to base
  kubernetes/apps/base/default/esphome/externalsecret.yaml
  kubernetes/apps/base/default/esphome/helmrelease.yaml
  kubernetes/apps/base/default/esphome/kustomization.yaml
  kubernetes/apps/base/default/esphome/ocirepository.yaml
  kubernetes/network/apps/default/esphome.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move hassproxy to base
  kubernetes/apps/base/default/hassproxy/backend.yaml
  kubernetes/apps/base/default/hassproxy/httproute.yaml
  kubernetes/apps/base/default/hassproxy/kustomization.yaml
  kubernetes/network/apps/default/hassproxy.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move homer to base
  kubernetes/apps/base/default/homer/helmrelease.yaml
  kubernetes/apps/base/default/homer/kustomization.yaml
  kubernetes/apps/base/default/homer/ocirepository.yaml
  kubernetes/apps/base/default/homer/resources/homer-config.yaml
  kubernetes/network/apps/default/homer.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move it-tools to base
  kubernetes/apps/base/default/it-tools/helmrelease.yaml
  kubernetes/apps/base/default/it-tools/kustomization.yaml
  kubernetes/apps/base/default/it-tools/ocirepository.yaml
  kubernetes/network/apps/default/it-tools.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move kochhaus-docs to base
  kubernetes/apps/base/default/kochhaus-docs/externalsecret.yaml
  kubernetes/apps/base/default/kochhaus-docs/helmrelease.yaml
  kubernetes/apps/base/default/kochhaus-docs/kustomization.yaml
  kubernetes/apps/base/default/kochhaus-docs/ocirepository.yaml
  kubernetes/network/apps/default/kochhaus-docs.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move matterbridge to base
  kubernetes/apps/base/default/matterbridge/helmrelease.yaml
  kubernetes/apps/base/default/matterbridge/kustomization.yaml
  kubernetes/apps/base/default/matterbridge/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/matterbridge.yaml
Labels: area/kubernetes, cluster/network

chore: move matter-server to base
  kubernetes/apps/base/default/matter-server/helmrelease.yaml
  kubernetes/apps/base/default/matter-server/kustomization.yaml
  kubernetes/apps/base/default/matter-server/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/matter-server.yaml
Labels: area/kubernetes, cluster/network

chore: move mosquitto to base
  kubernetes/apps/base/default/mosquitto/externalsecret.yaml
  kubernetes/apps/base/default/mosquitto/gatus.yaml
  kubernetes/apps/base/default/mosquitto/helmrelease.yaml
  kubernetes/apps/base/default/mosquitto/kustomization.yaml
  kubernetes/apps/base/default/mosquitto/ocirepository.yaml
  kubernetes/apps/base/default/mosquitto/pvc.yaml
  kubernetes/apps/base/default/mosquitto/resources/mosquitto.conf
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/mosquitto.yaml
Labels: area/kubernetes, cluster/network

chore: move mqtt-exporter to base
  kubernetes/apps/base/default/mqtt-exporter/dashboard/house-sensors.json
  kubernetes/apps/base/default/mqtt-exporter/dashboard/kustomization.yaml
  kubernetes/apps/base/default/mqtt-exporter/externalsecret.yaml
  kubernetes/apps/base/default/mqtt-exporter/helmrelease.yaml
  kubernetes/apps/base/default/mqtt-exporter/kustomization.yaml
  kubernetes/apps/base/default/mqtt-exporter/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/mqtt-exporter.yaml
Labels: area/kubernetes, cluster/network

chore: move netshoot-iot to base
  kubernetes/apps/base/default/netshoot-iot/helmrelease.yaml
  kubernetes/apps/base/default/netshoot-iot/kustomization.yaml
  kubernetes/apps/base/default/netshoot-iot/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/netshoot-iot.yaml
Labels: area/kubernetes, cluster/network

chore: move node-red to base
  kubernetes/apps/base/default/node-red/helmrelease.yaml
  kubernetes/apps/base/default/node-red/kustomization.yaml
  kubernetes/apps/base/default/node-red/ocirepository.yaml
  kubernetes/apps/base/default/node-red/resources/lokirule.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/node-red.yaml
Labels: area/kubernetes, cluster/network

chore: move omada-controller and omada-controller-proxy to base
  kubernetes/apps/base/default/omada-controller-proxy/backend.yaml
  kubernetes/apps/base/default/omada-controller-proxy/httproute.yaml
  kubernetes/apps/base/default/omada-controller-proxy/kustomization.yaml
  kubernetes/apps/base/default/omada-controller/helmrelease.yaml
  kubernetes/apps/base/default/omada-controller/httproute.yaml
  kubernetes/apps/base/default/omada-controller/kustomization.yaml
  kubernetes/apps/base/default/omada-controller/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/omada-controller-proxy.yaml
Labels: area/kubernetes, cluster/network

chore: move openspeedtest to base
  kubernetes/apps/base/default/openspeedtest/helmrelease.yaml
  kubernetes/apps/base/default/openspeedtest/kustomization.yaml
  kubernetes/apps/base/default/openspeedtest/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/openspeedtest.yaml
Labels: area/kubernetes, cluster/network

chore: move openweathermap-exporter to base
  kubernetes/apps/base/default/openweathermap-exporter/dashboard/kustomization.yaml
  kubernetes/apps/base/default/openweathermap-exporter/dashboard/openweathermap.json
  kubernetes/apps/base/default/openweathermap-exporter/helmrelease.yaml
  kubernetes/apps/base/default/openweathermap-exporter/kustomization.yaml
  kubernetes/apps/base/default/openweathermap-exporter/ocirepository.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/openweathermap-exporter.yaml
Labels: area/kubernetes, cluster/network

chore: move smtp-relay to base
  kubernetes/apps/base/default/smtp-relay/certificate.yaml
  kubernetes/apps/base/default/smtp-relay/gatus.yaml
  kubernetes/apps/base/default/smtp-relay/helmrelease.yaml
  kubernetes/apps/base/default/smtp-relay/kustomization.yaml
  kubernetes/apps/base/default/smtp-relay/ocirepository.yaml
  kubernetes/apps/base/default/smtp-relay/resources/maddy.conf
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/smtp-relay.yaml
Labels: area/kubernetes, cluster/network

chore: move zigbee2mqtt to base
  kubernetes/apps/base/default/zigbee2mqtt/externalsecret.yaml
  kubernetes/apps/base/default/zigbee2mqtt/helmrelease.yaml
  kubernetes/apps/base/default/zigbee2mqtt/kustomization.yaml
  kubernetes/apps/base/default/zigbee2mqtt/ocirepository.yaml
  kubernetes/apps/base/default/zigbee2mqtt/resources/lokirule.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/zigbee2mqtt.yaml
Labels: area/kubernetes, cluster/network

chore: move openssh to base
  kubernetes/apps/base/default/netbootxyz/helmrelease.yaml
  kubernetes/apps/base/remote/openssh/45-config
  kubernetes/apps/base/remote/openssh/helmrelease.yaml
  kubernetes/apps/base/remote/openssh/kustomization.yaml
  kubernetes/apps/base/remote/openssh/ocirepository.yaml
  kubernetes/apps/base/remote/openssh/policy.yaml
  kubernetes/apps/base/remote/openssh/secret.sops.yaml
  kubernetes/network/apps/remote/kustomization.yaml
  kubernetes/network/apps/remote/openssh.yaml
Labels: area/kubernetes, cluster/network

feat: bookboss
  kubernetes/apps/base/default/bookboss/externalsecret.yaml
  kubernetes/apps/base/default/bookboss/helmrelease.yaml
  kubernetes/apps/base/default/bookboss/kustomization.yaml
  kubernetes/apps/base/default/bookboss/ocirepository.yaml
  kubernetes/main/apps/default/bookboss.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: bookboss
  kubernetes/apps/base/default/bookboss/externalsecret.yaml
  kubernetes/apps/base/default/bookboss/helmrelease.yaml
  kubernetes/apps/base/default/bookboss/kustomization.yaml
  kubernetes/apps/base/default/bookboss/ocirepository.yaml
  kubernetes/main/apps/default/bookboss.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: add prometheus rules for zigbee devices
  kubernetes/apps/base/default/mqtt-exporter/kustomization.yaml
  kubernetes/apps/base/default/mqtt-exporter/prometheusrule.yaml
Labels: area/kubernetes

chore: remove diffs in kube-prometheus-stack deployment
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/dashboards/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/dashboards/network-status/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/dashboards/network-status/network-status.json
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/wifi.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/wired.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: add sda to smartctl-exporter
  kubernetes/network/apps/observability/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: collapse smartctl-exporter; add to registry cluster
  kubernetes/apps/base/observability/smartctl-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/smartctl-exporter/kustomization.yaml
  kubernetes/apps/base/observability/smartctl-exporter/ocirepository.yaml
  kubernetes/apps/base/observability/smartctl-exporter/prometheusrule.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/smartctl-exporter.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/smartctl-exporter.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/ocirepository.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/registry/apps/observability/kustomization.yaml
  kubernetes/registry/apps/observability/smartctl-exporter.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: cilium cli 0.19.3 not available
  .mise.toml
Labels: none

chore: bootstrap fixes
  bootstrap/main/helmfile.d/01-apps.yaml
  bootstrap/main/helmfile.d/templates/values-base.yaml.gotmpl
  bootstrap/network/helmfile.d/01-apps.yaml
  bootstrap/network/helmfile.d/templates/values-base.yaml.gotmpl
  bootstrap/registry/helmfile.d/01-apps.yaml
Labels: area/bootstrap, cluster/main, cluster/network, cluster/registry

chore: use mqtt_zigbee_availability also
  kubernetes/apps/base/default/mqtt-exporter/prometheusrule.yaml
Labels: area/kubernetes

chore: simplify mise
  .mise.toml
Labels: none

chore: fix image-pull workflow
  .github/workflows/image-pull.yaml
Labels: area/github

chore(flux-instance): use default latest manifests and reconcile every 1h
  .renovate/groups.json5
  kubernetes/main/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: park apiserver guaranteed qos changes
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore: adjust renovate configs for home-operations/renovate-presets
  .renovate/changelogs.json5
  .renovate/customManagers.json5
  .renovate/overrides.json5
  .renovate/packageRules.json5
  .renovaterc.json5
Labels: none

chore: bring back jellyfin
  kubernetes/apps/base/default/jellyfin/helmrelease.yaml
  kubernetes/apps/base/default/jellyfin/kustomization.yaml
  kubernetes/apps/base/default/jellyfin/ocirepository.yaml
  kubernetes/apps/base/default/jellyfin/pvc.yaml
  kubernetes/apps/base/default/jellyfin/resourceclaimtemplate.yaml
  kubernetes/main/apps/default/jellyfin.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main
