Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*

chore(kube-prometheus-stack): collect flux metrics
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomizeconfig.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics-config.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): collect flux metrics (#7173)
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomizeconfig.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics-config.yaml
Labels: area/kubernetes, cluster/main

chore(system-upgrade-controller): update service account name
  kubernetes/main/apps/tools/system-upgrade-controller/plans/agent.yaml
  kubernetes/main/apps/tools/system-upgrade-controller/plans/server.yaml
  kubernetes/network/apps/tools/system-upgrade-controller/plans/agent.yaml
  kubernetes/network/apps/tools/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(calico): add missing podSelector to whisker networkpolicy
  kubernetes/network/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
Labels: area/kubernetes, cluster/network

chore(cnpg): switch to barman plugin
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus-v16.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes, cluster/main

migrate cert-manager and external-secrets
  bootstrap/main/helmfile.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/security/external-secrets/app/clustersecretstore.yaml
  kubernetes/main/apps/security/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/main/apps/security/external-secrets/app/helm/values.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/ks.yaml
  kubernetes/main/apps/security/external-secrets/stores/kustomization.yaml
Labels: area/bootstrap, area/kubernetes, cluster/main

remove external-secrets-stores dependency
  kubernetes/main/apps/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
  kubernetes/main/apps/dbms/dragonfly/ks.yaml
  kubernetes/main/apps/default/docmost/ks.yaml
  kubernetes/main/apps/default/homepage/ks.yaml
  kubernetes/main/apps/default/karakeep/ks.yaml
  kubernetes/main/apps/default/miniflux/ks.yaml
  kubernetes/main/apps/default/populator-test/ks.yaml
  kubernetes/main/apps/jenkins/jenkins/ks.yaml
  kubernetes/main/apps/joomla/mariadb/ks.yaml
  kubernetes/main/apps/joomla/rtr/ks.yaml
  kubernetes/main/apps/monitoring/gatus/ks.yaml
  kubernetes/main/apps/monitoring/grafana/ks.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/smokeping/ks.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
  kubernetes/main/apps/security/dmarc-report/ks.yaml
  kubernetes/main/apps/security/lldap/ks.yaml
  kubernetes/main/apps/storage/nextcloud/ks.yaml
  kubernetes/main/apps/storage/ocis/ks.yaml
  kubernetes/main/apps/storage/picoshare/ks.yaml
Labels: area/kubernetes, cluster/main

chore(flux): disable chart digest tracking
  kubernetes/main/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/main

restructure coredns
  kubernetes/main/apps/kube-system/coredns/app/helm/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes, cluster/main

chore(metrics-server): tweaks
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes, cluster/main

chore(gatus): tweaks; switch to home-ops container
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/main/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/main/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes, cluster/main

chore(grafana): add gatus
  kubernetes/main/apps/monitoring/grafana/ks.yaml
Labels: area/kubernetes, cluster/main

chore(kromgo): update config
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/resources/config.yaml
  kubernetes/main/apps/monitoring/kromgo/ks.yaml
Labels: area/kubernetes, cluster/main

chore(kps): dependsOn rook
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/main

chore(loki): dependsOn rook; move storage; update config
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes, cluster/main

rejig the silence operator - again
  kubernetes/main/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/silence-operator/crds/helmrelease.yaml
  kubernetes/main/apps/monitoring/silence-operator/ks.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/kustomization.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/main

rename cloudflared to cloudflare-tunnel
  kubernetes/main/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
  kubernetes/main/apps/network/cloudflare-tunnel/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/main/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/main/apps/network/cloudflare-tunnel/ks.yaml
  kubernetes/main/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(external-dns): add prometheus rule
  kubernetes/main/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

chore(snapshot-controller): add healthchecks
  kubernetes/main/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/storage/snapshot-controller/ks.yaml
Labels: area/kubernetes, cluster/main

chore(descheduler): enable RemoveFailedPods plugin
  kubernetes/main/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/tools/descheduler/ks.yaml
Labels: area/kubernetes, cluster/main

chore(reloader): enableHA
  kubernetes/main/apps/tools/reloader/app/helmrelease.yaml
  kubernetes/main/apps/tools/reloader/ks.yaml
Labels: area/kubernetes, cluster/main

ks tweaks
  kubernetes/main/apps/monitoring/promtail/ks.yaml
  kubernetes/main/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/main/apps/tools/intel-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/main

chore(openebs): fix localpv hostpath
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/main/apps/storage/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

chore(volsync): add jitter; runAsNonRoot; config cleanup
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/main/apps/storage/volsync/app/kustomization.yaml
  kubernetes/main/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/main/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/main/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/main

chore(cert-manager): cluster self-signed issuer
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
Labels: area/kubernetes, cluster/main

chore(cnpg): add the barman-cloud plugin
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

chore(cnpg): switch to barman plugin (#7260)
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus-v16.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes, cluster/main

flux/helm tweaks
  kubernetes/registry/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/registry/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/registry/apps/storage/openebs/ks.yaml
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/registry

chore(openebs): now we need to disable more apps. Ugh.
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(openebs): now we need to disable more apps. Ugh.
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(openebs): now we need to disable more apps. Ugh.
  kubernetes/registry/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore(openebs): now we need to disable more apps. Ugh.
  kubernetes/network/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(cnpg): switch back to built-in barman
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus-v16.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes, cluster/main

alertmanager mesh
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(alertmanager): fix domain name
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(homepage): fix es
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

more cert-manager cleanup
  kubernetes/main/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/cert-manager/cert-manager/tls/production.yaml
  kubernetes/main/apps/network/nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/cert-manager/cert-manager/tls/production.yaml
  kubernetes/network/apps/network/nginx/external/helmrelease.yaml
  kubernetes/network/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuers.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/registry/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(cloudnative-pg): remove barman-cloud-plugin and the self-signed certificate signer
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative-pg): remove barman-cloud-plugin and the self-signed certificate signer (#7422)
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative-pg): remove barman-cloud-plugin and the self-signed certificate signer
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main
