Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: dragonfly netpols do not work with cilium?
  kubernetes/main/components/dragonfly/dragonfly.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container): update quay.io/cilium/charts/cilium ( 1.18.6 → 1.19.1 ) [main] (#9675)"
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore(talos): move image: to nodes (for VM node)
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3sv.yaml.j2
Labels: area/talos, cluster/main

chore: fix nut configs
  kubernetes/main/apps/observability/network-ups-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: (re) disable tproxy
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: add control-plane label to dragonfly operator pod
  kubernetes/main/apps/dbms/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: re-enable dragonfly network policy
  kubernetes/main/components/dragonfly/dragonfly.yaml
Labels: area/kubernetes, cluster/main

chore: bentopdf non-root fixes
  kubernetes/network/apps/default/bentopdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: replace k3st drive
  talos/main/nodes/k3st.yaml.j2
Labels: area/talos, cluster/main

Revert "feat(container): update ghcr.io/haraldkoch/maddy ( 0.8.2 → 0.9.0 ) [network] (#10436)"
  kubernetes/network/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: move blackbox-exporter to base
  kubernetes/base/apps/observability/blackbox-exporter/dashboard/icmp.json
  kubernetes/base/apps/observability/blackbox-exporter/dashboard/kustomization.yaml
  kubernetes/base/apps/observability/blackbox-exporter/helmrelease.yaml
  kubernetes/base/apps/observability/blackbox-exporter/kustomization.yaml
  kubernetes/base/apps/observability/blackbox-exporter/ocirepository.yaml
  kubernetes/main/apps/observability/blackbox-exporter.yaml
  kubernetes/main/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/main/apps/observability/blackbox-exporter/kustomization.yaml
  kubernetes/main/apps/observability/blackbox-exporter/probes.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/network/apps/observability/blackbox-exporter/httproute.yaml
  kubernetes/network/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/network/apps/observability/blackbox-exporter/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/probes.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: add flux webhook to registry cluster; sync flux-instance folders
  kubernetes/main/apps/flux-system/flux-instance/ks.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/podmonitor.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/registry/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add CLUSTER_DOMAIN
  kubernetes/registry/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/registry

fnord
  README.md
Labels: area/docs

chore: add cloudflared, cloudflare-dns, envoy-external to registry cluster
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/registry/apps/network/cloudflare-dns/ks.yaml
  kubernetes/registry/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/registry/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/registry/apps/network/cloudflared/app/pdb.yaml
  kubernetes/registry/apps/network/cloudflared/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/kustomization.yaml
  kubernetes/registry/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/registry

chore: add cloudflared, cloudflare-dns, envoy-external to registry cluster
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/registry/apps/network/cloudflare-dns/ks.yaml
  kubernetes/registry/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/registry/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/registry/apps/network/cloudflared/app/pdb.yaml
  kubernetes/registry/apps/network/cloudflared/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/kustomization.yaml
  kubernetes/registry/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/registry

chore: remove tekton
  kubernetes/main/apps/cicd/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: remove tekton
  kubernetes/main/apps/tekton-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: replace tekton manual install with tekton-operator
  kubernetes/main/apps/tekton-operator/kustomization.yaml
  kubernetes/main/apps/tekton-operator/namespace.yaml
  kubernetes/main/apps/tekton-operator/tekton-operator/app/kustomization.yaml
  kubernetes/main/apps/tekton-operator/tekton-operator/config/kustomization.yaml
  kubernetes/main/apps/tekton-operator/tekton-operator/config/tektonconfig.yaml
  kubernetes/main/apps/tekton-operator/tekton-operator/ks.yaml
  kubernetes/main/apps/tekton-pipelines/kustomization.yaml
  kubernetes/main/apps/tekton-pipelines/namespace.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/app/externalsecrets.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/app/httproute.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/app/kustomization.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/app/pvc.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/app/securitypolicy.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/app/tekton-results-db-job.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/ks.yaml
  kubernetes/main/apps/tekton-system/tekton/app/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/app/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/README.md
  kubernetes/main/apps/tekton-system/tekton/cleanup/binding.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cleanup-template.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cronjob.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/eventlistener.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/rbac.yaml
  kubernetes/main/apps/tekton-system/tekton/ks.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/hello-world.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/hello.yaml
Labels: area/kubernetes, cluster/main

chore: remove old tekton-cleanup
  kubernetes/main/apps/cicd/kustomization.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/cronjob.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/kustomization.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/rbac.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/ks.yaml
Labels: area/kubernetes, cluster/main

chore: re-enable blog pipeline
  kubernetes/main/apps/cicd/blog/ks.yaml
  kubernetes/main/apps/cicd/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: retire flux-ks-sync workflow
  .github/workflows/flux-ks-sync.yaml
Labels: area/github

chore: retire personal schema builder
  .github/workflows/schemas.yaml
Labels: area/github

chore: disable helm-repository-sync
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore: workflow tidying
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: more workflow tweaks
  .github/workflows/renovate.yaml
Labels: area/github

chore: sync cert-manager deployments
  kubernetes/network/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore: merge cert-manager into base
  kubernetes/base/apps/cert-manager/cert-manager/clusterissuer.yaml
  kubernetes/base/apps/cert-manager/cert-manager/externalsecret.yaml
  kubernetes/base/apps/cert-manager/cert-manager/helmrelease.yaml
  kubernetes/base/apps/cert-manager/cert-manager/kustomization.yaml
  kubernetes/base/apps/cert-manager/cert-manager/ocirepository.yaml
  kubernetes/base/apps/cert-manager/cert-manager/prometheusrule.yaml
  kubernetes/main/apps/cert-manager/cert-manager.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/network/apps/cert-manager/cert-manager.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/network/apps/cert-manager/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/registry/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: workflow tidying
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: sync cert-manager deployments
  kubernetes/network/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore: merge cert-manager into base
  kubernetes/base/apps/cert-manager/cert-manager/clusterissuer.yaml
  kubernetes/base/apps/cert-manager/cert-manager/externalsecret.yaml
  kubernetes/base/apps/cert-manager/cert-manager/helmrelease.yaml
  kubernetes/base/apps/cert-manager/cert-manager/kustomization.yaml
  kubernetes/base/apps/cert-manager/cert-manager/ocirepository.yaml
  kubernetes/base/apps/cert-manager/cert-manager/prometheusrule.yaml
  kubernetes/main/apps/cert-manager/cert-manager.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/network/apps/cert-manager/cert-manager.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/network/apps/cert-manager/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/registry/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: sync cloudflare-dns deployments; use CLUSTER variable
  kubernetes/main/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflare-dns/ks.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflare-dns/ks.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflare-dns/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: collapse cloudflare-dns into base
  kubernetes/base/apps/network/cloudflare-dns/externalsecret.yaml
  kubernetes/base/apps/network/cloudflare-dns/helmrelease.yaml
  kubernetes/base/apps/network/cloudflare-dns/kustomization.yaml
  kubernetes/base/apps/network/cloudflare-dns/ocirepository.yaml
  kubernetes/base/apps/network/cloudflare-dns/prometheusrule.yaml
  kubernetes/main/apps/network/cloudflare-dns.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/cloudflare-dns.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/registry/apps/network/cloudflare-dns.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/registry/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: synchronize cloudflared deployments
  kubernetes/main/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
  kubernetes/main/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/network/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/network/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/registry/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/registry/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflared/ks.yaml
  kubernetes/registry/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: rename cloudflared endpoints
  kubernetes/main/apps/network/cloudflared/ks.yaml
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/main/apps/network/envoy-gateway/ks.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/ks.yaml
  kubernetes/registry/apps/network/cloudflared/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: collapse cloudflared into base; rename to cloudflare-tunnel
  kubernetes/base/apps/network/cloudflare-tunnel/dnsendpoint.yaml
  kubernetes/base/apps/network/cloudflare-tunnel/externalsecret.yaml
  kubernetes/base/apps/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/base/apps/network/cloudflare-tunnel/kustomization.yaml
  kubernetes/base/apps/network/cloudflare-tunnel/pdb.yaml
  kubernetes/main/apps/network/cloudflare-tunnel.yaml
  kubernetes/main/apps/network/cloudflared/app/pdb.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/cloudflare-tunnel.yaml
  kubernetes/network/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/network/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/network/apps/network/cloudflared/app/pdb.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/registry/apps/network/cloudflare-tunnel.yaml
  kubernetes/registry/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/registry/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/registry/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/registry/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/registry/apps/network/cloudflared/app/pdb.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: fluent-bit has an OCI chart now
  kubernetes/network/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes, cluster/network

chore: cleanup silences
  kubernetes/network/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/network

chore(gatus): rewrite config; use sqlite and a PVC for persistence
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/kustomization.yaml
  kubernetes/network/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/network

chore: sync main gatus with network
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/kustomization.yaml
  kubernetes/main/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main, cluster/network
