Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: move cnpg to local-hostpath
  kubernetes/apps/main/dbms/cloudnative-pg/cluster/kochhaus.yaml
Labels: area/kubernetes

chore: fix arc permissions
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

chore: retire openebs (main)
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/apps/main/storage/openebs.yaml
Labels: area/kubernetes

chore: cluster -> CLUSTER
  .taskfiles/flux/Taskfile.yaml
Labels: area/taskfile

chore: move flux httproute to addons
  kubernetes/apps/base/flux-system/addons/httproute.yaml
  kubernetes/apps/base/flux-system/flux-operator/helmrelease.yaml
  kubernetes/apps/main/flux-system/addons.yaml
  kubernetes/apps/network/flux-system/addons.yaml
  kubernetes/apps/registry/flux-system/addons.yaml
Labels: area/kubernetes

chore: add tunnel_id to es
  kubernetes/apps/base/network/cloudflare-tunnel/externalsecret.yaml
Labels: area/kubernetes

chore: remove secret variables
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/wifi.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/wired.yaml
  kubernetes/components/main/cluster-settings/cluster-secrets.sops.yaml
  kubernetes/components/network/cluster-settings/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore: tags
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/garage.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/wifi.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/wired.yaml
Labels: area/kubernetes

chore: kps storage capacity variable
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/main/observability/kube-prometheus-stack.yaml
  kubernetes/apps/network/observability/kube-prometheus-stack.yaml
Labels: area/kubernetes

chore: remove wait: false to use healthchecks
  kubernetes/apps/main/network/cloudflare-dns.yaml
  kubernetes/apps/network/network/cloudflare-dns.yaml
Labels: area/kubernetes

chore: yaml tag
  kubernetes/apps/base/observability/kube-prometheus-stack/scrapeconfigs/garage.yaml
  kubernetes/apps/main/kube-system/cilium/networking.yaml
  kubernetes/apps/network/kube-system/cilium/networking.yaml
  kubernetes/apps/registry/kube-system/cilium/networking.yaml
Labels: area/kubernetes

chore: move populator-test to base folder
  kubernetes/apps/base/default/populator-test/helmrelease.yaml
  kubernetes/apps/base/default/populator-test/kustomization.yaml
  kubernetes/apps/base/default/populator-test/ocirepository.yaml
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/populator-test.yaml
  kubernetes/apps/network/default/kustomization.yaml
  kubernetes/apps/network/default/populator-test.yaml
  kubernetes/apps/network/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/network/default/populator-test/app/kustomization.yaml
  kubernetes/apps/network/default/populator-test/app/ocirepository.yaml
Labels: area/kubernetes

chore: remove openebs dependency
  kubernetes/apps/main/actions-runner-system/actions-runner-controller.yaml
  kubernetes/apps/main/dbms/cloudnative-pg.yaml
  kubernetes/apps/main/storage/volsync.yaml
Labels: area/kubernetes

chore: import kopiur for future testing
  kubernetes/apps/base/storage/kopiur/app/helmrelease.yaml
  kubernetes/apps/base/storage/kopiur/app/kustomization.yaml
  kubernetes/apps/base/storage/kopiur/app/ocirepository.yaml
  kubernetes/apps/base/storage/kopiur/repository/externalsecret.yaml
  kubernetes/apps/base/storage/kopiur/repository/kustomization.yaml
  kubernetes/apps/base/storage/kopiur/repository/repository.yaml
  kubernetes/components/kopiur/backup/kustomization.yaml
  kubernetes/components/kopiur/backup/pvc.yaml
  kubernetes/components/kopiur/backup/restore.yaml
  kubernetes/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/components/kopiur/backup/snapshotschedule.yaml
  kubernetes/components/kopiur/restore/kustomization.yaml
  kubernetes/components/kopiur/restore/restore.yaml
Labels: area/kubernetes

chore: move envoy-gateway to base folder
  kubernetes/apps/base/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/base/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/base/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/base/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/base/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/base/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/base/network/envoy-gateway/config/observability.yaml
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/main/network/envoy-gateway/ks.yaml
  kubernetes/apps/main/network/kustomization.yaml
  kubernetes/apps/network/network/envoy-gateway.yaml
  kubernetes/apps/network/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/network/envoy-gateway/app/observability.yaml
  kubernetes/apps/network/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/network/kustomization.yaml
Labels: area/kubernetes

chore: move envoy-gateway to base folder
  kubernetes/apps/base/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/base/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/base/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/base/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/base/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/base/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/base/network/envoy-gateway/config/observability.yaml
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/main/network/envoy-gateway/ks.yaml
  kubernetes/apps/main/network/kustomization.yaml
  kubernetes/apps/network/network/envoy-gateway.yaml
  kubernetes/apps/network/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/network/envoy-gateway/app/observability.yaml
  kubernetes/apps/network/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/network/kustomization.yaml
  kubernetes/apps/registry/network/envoy-gateway.yaml
  kubernetes/apps/registry/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/registry/network/envoy-gateway/app/observability.yaml
  kubernetes/apps/registry/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/registry/network/envoy-gateway/ks.yaml
  kubernetes/apps/registry/network/kustomization.yaml
Labels: area/kubernetes

chore: format
  kubernetes/apps/base/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes

chore: fix envoy-gateway wait
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/network/network/envoy-gateway.yaml
  kubernetes/apps/registry/network/envoy-gateway.yaml
Labels: area/kubernetes

chore: update talos tasks
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(cilium): enable l2
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
Labels: area/kubernetes

chore: checkpoint
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/helmfile/apps.yaml
  bootstrap/helmfile/crds.yaml
  bootstrap/helmfile/templates/release.yaml.gotmpl
  bootstrap/kustomize/secrets.yaml.tpl
  kubernetes/apps/base/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/test/kube-system/cilium/networking.yaml
  kubernetes/apps/test/network/envoy-gateway.yaml
  kubernetes/apps/test/network/envoy-gateway/envoy.yaml
  kubernetes/apps/test/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/test/network/envoy-gateway/observability.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/talos, area/taskfile

chore: use existing apply-node
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

chore: static IPs
  talos/test/controlplane/t1.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: ipv6
  kubernetes/apps/test/kube-system/cilium/networking.yaml
  talos/test/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

chore: machineconfig updates
  talos/registry/machineconfig.yaml.j2
  talos/test/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore: normalize machineconfig
  talos/test/machineconfig.yaml.j2
Labels: area/talos

chore: namespace
  kubernetes/clusters/test/apps.yaml
Labels: area/kubernetes

chore: fix cluster IP
  kubernetes/apps/test/kube-system/cilium/networking.yaml
Labels: area/kubernetes

chore: namespace
  kubernetes/clusters/test/apps.yaml
  kubernetes/clusters/test/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore: sops
  kubernetes/clusters/test/apps.yaml
Labels: area/kubernetes

chore: es is in the security namespace
  kubernetes/apps/test/security/external-secrets.yaml
  kubernetes/apps/test/security/kustomization.yaml
  kubernetes/apps/test/security/onepassword-connect.yaml
Labels: area/kubernetes

chore: fix secrets, etc.
  bootstrap/helmfile/apps.yaml
  bootstrap/kustomize/secrets.yaml.tpl
Labels: area/bootstrap

chore: replicas
  kubernetes/apps/test/network/envoy-gateway.yaml
Labels: area/kubernetes

chore: tabs
  kubernetes/clusters/test/apps.yaml
Labels: area/kubernetes

chore: 1pw
  kubernetes/apps/test/security/onepassword.yaml
Labels: area/kubernetes

chore: move echo back to default
  kubernetes/apps/test/default/echo.yaml
  kubernetes/apps/test/default/kustomization.yaml
Labels: area/kubernetes

chore: 1pw
  kubernetes/apps/test/security/kustomization.yaml
Labels: area/kubernetes

chore: openebs
  kubernetes/apps/test/storage/kustomization.yaml
  kubernetes/apps/test/storage/openebs.yaml
Labels: area/kubernetes

chore: fnord
  kubernetes/clusters/test/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore: envoy IPs
  kubernetes/apps/test/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
