Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: bigger disk
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: longhorn monitoring
  kubernetes/network/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: try ubuntu-slim runner
  .github/workflows/codeql.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: add x-real-ip header for anubis
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

feat: anubis
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: anubis (#9856)
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: fix client_secret for filebrowser
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

feat: anubis (#9856)
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/kustomization.yaml
  kubernetes/main/apps/security/authelia/app/resources/anubis.yaml
Labels: area/kubernetes, cluster/main

chore: fix client_secret for filebrowser
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: fix nut-exporter serviceMonitor
  kubernetes/network/apps/observability/network-ups-tools/exporter/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: tekton
  kubernetes/main/apps/cicd/kustomization.yaml
  kubernetes/main/apps/cicd/namespace.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/cronjob.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/kustomization.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/rbac.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/ks.yaml
  kubernetes/main/apps/tekton-system/kustomization.yaml
  kubernetes/main/apps/tekton-system/namespace.yaml
  kubernetes/main/apps/tekton-system/tekton/app/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/app/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/README.md
  kubernetes/main/apps/tekton-system/tekton/cleanup/binding.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cleanup-template.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cronjob.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/eventlistener.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/rbac.yaml
  kubernetes/main/apps/tekton-system/tekton/ks.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/hello-world.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/hello.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: tekton
  kubernetes/main/apps/cicd/kustomization.yaml
  kubernetes/main/apps/cicd/namespace.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/cronjob.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/kustomization.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/rbac.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/ks.yaml
  kubernetes/main/apps/tekton-system/kustomization.yaml
  kubernetes/main/apps/tekton-system/namespace.yaml
  kubernetes/main/apps/tekton-system/tekton/app/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/app/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/README.md
  kubernetes/main/apps/tekton-system/tekton/cleanup/binding.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cleanup-template.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cronjob.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/eventlistener.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/rbac.yaml
  kubernetes/main/apps/tekton-system/tekton/ks.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/hello-world.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/hello.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: tekton (#10052)
  kubernetes/main/apps/cicd/kustomization.yaml
  kubernetes/main/apps/cicd/namespace.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/cronjob.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/kustomization.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/app/rbac.yaml
  kubernetes/main/apps/cicd/tekton-cleanup/ks.yaml
  kubernetes/main/apps/tekton-system/kustomization.yaml
  kubernetes/main/apps/tekton-system/namespace.yaml
  kubernetes/main/apps/tekton-system/tekton/app/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/app/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/README.md
  kubernetes/main/apps/tekton-system/tekton/cleanup/binding.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cleanup-template.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/cronjob.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/eventlistener.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/cleanup/rbac.yaml
  kubernetes/main/apps/tekton-system/tekton/ks.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/pipelines/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/goodbye.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/hello-world.yaml
  kubernetes/main/apps/tekton-system/tekton/tasks/kustomization.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/hello.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/httproute.yaml
  kubernetes/main/apps/tekton-system/tekton/triggers/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: archive jellyfin
  .archive/kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  .archive/kubernetes/apps/default/jellyfin/app/kustomization.yaml
  .archive/kubernetes/apps/default/jellyfin/app/pvc.yaml
  .archive/kubernetes/apps/default/jellyfin/app/resourceclaimtemplate.yaml
  .archive/kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: downgrade tekton-pipeline to 1.9.1
  kubernetes/main/apps/tekton-system/tekton/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: weblog rebuilder
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
  kubernetes/main/apps/cicd/blog/app/kustomization.yaml
  kubernetes/main/apps/cicd/blog/ks.yaml
Labels: area/kubernetes, cluster/main

chore: combine tuppr into base
  kubernetes/base/apps/system-upgrade/tuppr/helmrelease.yaml
  kubernetes/base/apps/system-upgrade/tuppr/kustomization.yaml
  kubernetes/base/apps/system-upgrade/tuppr/ocirepository.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/tuppr.yaml
  kubernetes/main/apps/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/main/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/main/apps/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/network/apps/system-upgrade/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/network/apps/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/network/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/network/apps/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/registry/apps/system-upgrade/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/registry/apps/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/registry/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: combine tuppr into base (#10120)
  kubernetes/base/apps/system-upgrade/tuppr/helmrelease.yaml
  kubernetes/base/apps/system-upgrade/tuppr/kustomization.yaml
  kubernetes/base/apps/system-upgrade/tuppr/ocirepository.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/tuppr.yaml
  kubernetes/main/apps/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/main/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/main/apps/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/network/apps/system-upgrade/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/network/apps/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/network/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/network/apps/system-upgrade/upgrades/talosupgrade.yaml
  kubernetes/registry/apps/system-upgrade/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/registry/apps/system-upgrade/upgrades/kubernetesupgrade.yaml
  kubernetes/registry/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/upgrades/talosupgrade.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move volsync to base
  kubernetes/base/apps/storage/volsync/helmrelease.yaml
  kubernetes/base/apps/storage/volsync/kustomization.yaml
  kubernetes/base/apps/storage/volsync/mutatingadmissionpolicy.yaml
  kubernetes/base/apps/storage/volsync/ocirepository.yaml
  kubernetes/base/apps/storage/volsync/prometheusrule.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/volsync.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/storage/volsync.yaml
  kubernetes/network/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/network/apps/storage/volsync/app/kustomization.yaml
  kubernetes/network/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/network/apps/storage/volsync/app/ocirepository.yaml
  kubernetes/network/apps/storage/volsync/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/network

fix path
  kubernetes/network/apps/storage/volsync.yaml
Labels: area/kubernetes, cluster/network

chore: move volsync to base (#10134)
  kubernetes/base/apps/storage/volsync/helmrelease.yaml
  kubernetes/base/apps/storage/volsync/kustomization.yaml
  kubernetes/base/apps/storage/volsync/mutatingadmissionpolicy.yaml
  kubernetes/base/apps/storage/volsync/ocirepository.yaml
  kubernetes/base/apps/storage/volsync/prometheusrule.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/volsync.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/storage/volsync.yaml
  kubernetes/network/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/network/apps/storage/volsync/app/kustomization.yaml
  kubernetes/network/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/network/apps/storage/volsync/app/ocirepository.yaml
  kubernetes/network/apps/storage/volsync/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: disable anubis
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: move reloader to base
  kubernetes/base/apps/tools/reloader/helmrelease.yaml
  kubernetes/base/apps/tools/reloader/kustomization.yaml
  kubernetes/base/apps/tools/reloader/ocirepository.yaml
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/reloader.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/network/apps/tools/kustomization.yaml
  kubernetes/network/apps/tools/namespace.yaml
  kubernetes/network/apps/tools/reloader.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
  kubernetes/registry/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/registry/apps/tools/kustomization.yaml
  kubernetes/registry/apps/tools/namespace.yaml
  kubernetes/registry/apps/tools/reloader.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move reloader to base (#10161)
  kubernetes/base/apps/tools/reloader/helmrelease.yaml
  kubernetes/base/apps/tools/reloader/kustomization.yaml
  kubernetes/base/apps/tools/reloader/ocirepository.yaml
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/reloader.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/network/apps/tools/kustomization.yaml
  kubernetes/network/apps/tools/namespace.yaml
  kubernetes/network/apps/tools/reloader.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
  kubernetes/registry/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/registry/apps/tools/kustomization.yaml
  kubernetes/registry/apps/tools/namespace.yaml
  kubernetes/registry/apps/tools/reloader.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

Revert "feat(container)!: Update ghcr.io/nextcloud/helm/nextcloud ( 8.9.1 → 9.0.1 ) [main] (#10174)"
  kubernetes/main/apps/default/nextcloud/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore: hugo pipeline for weblog
  kubernetes/main/apps/cicd/blog/app/externalsecret.yaml
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
  kubernetes/main/apps/cicd/blog/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: fix rsync version
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
Labels: area/kubernetes, cluster/main

chore: add an eventlistener/trigger
  kubernetes/main/apps/cicd/blog/app/kustomization.yaml
  kubernetes/main/apps/cicd/blog/app/rbac.yaml
  kubernetes/main/apps/cicd/blog/app/trigger.yaml
Labels: area/kubernetes, cluster/main

chore: add httproute
  kubernetes/main/apps/cicd/blog/app/httproute.yaml
  kubernetes/main/apps/cicd/blog/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: fix shell for git script
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
Labels: area/kubernetes, cluster/main

chore: add when expression for publish
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
Labels: area/kubernetes, cluster/main

chore: avoid flux substitutions
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
Labels: area/kubernetes, cluster/main

chore: git container
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
Labels: area/kubernetes, cluster/main

chore: barf
  kubernetes/main/apps/cicd/blog/app/trigger.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): use chart httpRoute; config tweaks
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: nextcloud 9.0.3
  kubernetes/main/apps/default/nextcloud/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore: hugo pipeline for weblog
  kubernetes/main/apps/cicd/blog/app/externalsecret.yaml
  kubernetes/main/apps/cicd/blog/app/httproute.yaml
  kubernetes/main/apps/cicd/blog/app/hugo.yaml
  kubernetes/main/apps/cicd/blog/app/kustomization.yaml
  kubernetes/main/apps/cicd/blog/app/rbac.yaml
  kubernetes/main/apps/cicd/blog/app/trigger.yaml
Labels: area/kubernetes, cluster/main

chore: nextcloud 9.0.3
  kubernetes/main/apps/default/nextcloud/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): use chart httpRoute; config tweaks
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(github-release): update aqua:siderolabs/talos ( 1.12.4 → 1.12.5 )
  .mise.toml
Labels: none

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
