Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore(n8n): ignore pre-release releases
  kubernetes/network/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: bentopdf
  kubernetes/network/apps/default/bentopdf/app/helmrelease.yaml
  kubernetes/network/apps/default/bentopdf/app/kustomization.yaml
  kubernetes/network/apps/default/bentopdf/ks.yaml
  kubernetes/network/apps/default/homer/app/resources/homer-config.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: fix cloudnative-pg OCI repository
  kubernetes/main/apps/dbms/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore: add httproutes for new flux UI
  kubernetes/main/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add httproutes for new flux UI
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: prometheus cleanup
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomizeconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/kube-state-metrics-config.yaml
Labels: area/kubernetes, cluster/main

chore: remove unused CiliumL2AnnouncementPolicy
  kubernetes/network/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/network

chore: enable cilium SocketLB and talos forwardKubeDNSToHost
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  talos/network/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos, cluster/network

chore: add hostname to cluster LB service; externalTrafficPolicy: Local
  kubernetes/network/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/network

feat: renovate-operator
  kubernetes/main/apps/renovate/kustomization.yaml
  kubernetes/main/apps/renovate/namespace.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/helmrelease.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/httproute.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/kustomization.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/ocirepository.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/externalsecret.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/kustomization.yaml
  kubernetes/main/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes, cluster/main

feat: renovate-operator (#9046)
  kubernetes/main/apps/renovate/kustomization.yaml
  kubernetes/main/apps/renovate/namespace.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/helmrelease.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/httproute.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/kustomization.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/ocirepository.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/externalsecret.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/kustomization.yaml
  kubernetes/main/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes, cluster/main

chore: add discoverTopics to renovate
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: switch network cluster to use bond0 interfaces
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

for the last time ...
  .mise.toml
Labels: none

chore: add IoT network to interfaces; disable IPv6 autoconfig on the base ethernet device
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

for the last time ...
  .mise.toml
Labels: none

feat: multus
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/network/multus/app/helmrelease.yaml
  kubernetes/network/apps/network/multus/app/kustomization.yaml
  kubernetes/network/apps/network/multus/app/ocirepository.yaml
  kubernetes/network/apps/network/multus/ks.yaml
  kubernetes/network/apps/network/multus/networks/iot.yaml
  kubernetes/network/apps/network/multus/networks/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: netshoot on iot network
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/netshoot-iot/app/helmrelease.yaml
  kubernetes/network/apps/default/netshoot-iot/app/kustomization.yaml
  kubernetes/network/apps/default/netshoot-iot/ks.yaml
Labels: area/kubernetes, cluster/network

fix: ip address conflict
  kubernetes/network/apps/default/netshoot-iot/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: cilium devices
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: matter-server
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/network/apps/default/matter-server/app/kustomization.yaml
  kubernetes/network/apps/default/matter-server/ks.yaml
Labels: area/kubernetes, cluster/network

feat: matter-server (#9067)
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/matter-server/app/helmrelease.yaml
  kubernetes/network/apps/default/matter-server/app/kustomization.yaml
  kubernetes/network/apps/default/matter-server/ks.yaml
Labels: area/kubernetes, cluster/network

feat: matterbridge
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/matterbridge/app/helmrelease.yaml
  kubernetes/network/apps/default/matterbridge/app/kustomization.yaml
  kubernetes/network/apps/default/matterbridge/ks.yaml
Labels: area/kubernetes, cluster/network

chore: fix port
  kubernetes/network/apps/default/matterbridge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: matterbridge (#9069)
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/matterbridge/app/helmrelease.yaml
  kubernetes/network/apps/default/matterbridge/app/kustomization.yaml
  kubernetes/network/apps/default/matterbridge/ks.yaml
Labels: area/kubernetes, cluster/network

chore: matterbridge memory
  kubernetes/network/apps/default/matterbridge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: make matterbridge /home/node writable
  kubernetes/network/apps/default/matterbridge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: run matterbridge as root. ugh.
  kubernetes/network/apps/default/matterbridge/app/helmrelease.yaml
  kubernetes/network/apps/default/matterbridge/ks.yaml
Labels: area/kubernetes, cluster/network

chore: update cloudflared deployment
  kubernetes/network/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/network/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/network/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/network/apps/network/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

chore: update common component: rename sops to vars and remove secret
  kubernetes/network/components/common/kustomization.yaml
  kubernetes/network/components/common/sops/secret.sops.yaml
  kubernetes/network/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/network/components/common/vars/cluster-settings.yaml
  kubernetes/network/components/common/vars/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: remove preUpgradeHook, analytics configs from openebs
  kubernetes/network/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: cleanup kube-prometheus-stack deployment
  kubernetes/network/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/kustomizeconfig.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/resources/kube-state-metrics-config.yaml
Labels: area/kubernetes, cluster/network

chore: envoy: traffic policy Local; increase buggers
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/network

chore: yaml tweaks
  kubernetes/network/apps/default/echo/app/helmrelease.yaml
  kubernetes/network/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/certificates/export/certificate.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
  kubernetes/network/apps/storage/longhorn/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore: move age key to bootstrap
  bootstrap/network/age-key.sops.yaml
  scripts/bootstrap-apps.sh
Labels: area/bootstrap, area/scripts, cluster/network

chore: move age key to bootstrap
  bootstrap/main/age-key.sops.yaml
  bootstrap/registry/age-key.sops.yaml
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/main/components/common/vars/cluster-settings.yaml
  kubernetes/main/components/common/vars/kustomization.yaml
  kubernetes/registry/components/common/kustomization.yaml
  kubernetes/registry/components/common/vars/cluster-secrets.sops.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
  kubernetes/registry/components/common/vars/kustomization.yaml
Labels: area/bootstrap, area/kubernetes, cluster/main, cluster/registry

chore: make envoy-gateway version consistent
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
Labels: area/bootstrap, cluster/main, cluster/network, cluster/registry

chore: enable SocketLB in cilium
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/registry

chore: add dns entry to registry vip
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/registry

chore: reloader: enable HA, resources
  kubernetes/registry/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry
