Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*

feat: it-tools
  kubernetes/network/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/network/apps/default/it-tools/app/kustomization.yaml
  kubernetes/network/apps/default/it-tools/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: kochhaus-docs
  kubernetes/network/apps/default/kochhaus-docs/app/externalsecret.yaml
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
  kubernetes/network/apps/default/kochhaus-docs/app/kustomization.yaml
  kubernetes/network/apps/default/kochhaus-docs/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

cleanup network 1
  kubernetes/network-old/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/network-old/apps/network/echo-server/app/kustomization.yaml
  kubernetes/network-old/apps/network/echo-server/ks.yaml
  kubernetes/network-old/apps/network/nginx/external/helmrelease.yaml
  kubernetes/network-old/apps/network/nginx/external/kustomization.yaml
  kubernetes/network-old/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/network-old/apps/network/nginx/internal/kustomization.yaml
  kubernetes/network-old/apps/network/nginx/ks.yaml
  kubernetes/network/apps/network/external/cloudflared/dnsendpoint.yaml
  kubernetes/network/apps/network/internal/external-dns/helmrelease.yaml
Labels: area/kubernetes, cluster/network

whoops - fix cilium IP allocation
  kubernetes/network/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/openweathermap-exporter/app/helmrelease.yaml
  kubernetes/network/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/network/apps/remote/openssh/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

move policy for substitutions
  kubernetes/network/apps/remote/kustomization.yaml
  kubernetes/network/apps/remote/openssh/app/kustomization.yaml
  kubernetes/network/apps/remote/openssh/app/policy.yaml
Labels: area/kubernetes, cluster/network

share IP
  kubernetes/network/apps/default/openweathermap-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

correct cloudflare tunnel
  kubernetes/network/apps/network/external/cloudflared/secret.sops.yaml
Labels: area/kubernetes, cluster/network

cilium sharing
  kubernetes/network/apps/default/openweathermap-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/dnssec-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

delete migrated apps
  kubernetes/network-old/apps/observability/grafana/app/dashboards/etcd-dashboard.json
  kubernetes/network-old/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/network-old/apps/observability/grafana/app/dashboards/node-aggregate.json
  kubernetes/network-old/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/network-old/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network-old/apps/observability/grafana/app/kustomization.yaml
  kubernetes/network-old/apps/observability/grafana/ks.yaml
  kubernetes/network-old/apps/observability/json-exporter/app/helmrelease.yaml
  kubernetes/network-old/apps/observability/json-exporter/app/kustomization.yaml
  kubernetes/network-old/apps/observability/json-exporter/app/probes.yaml
  kubernetes/network-old/apps/observability/json-exporter/app/prometheusrule.yaml
  kubernetes/network-old/apps/observability/json-exporter/app/resources/config.yaml
  kubernetes/network-old/apps/observability/json-exporter/ks.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/dashboards/kustomization.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/dashboards/network-status/kustomization.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/dashboards/network-status/network-status.json
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/externalsecret.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/jezebel.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/mnemosyne.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/wifi.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/app/scrapeconfigs/wired.yaml
  kubernetes/network-old/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network-old/apps/observability/opnsense-exporter/app/externalsecret.yaml
  kubernetes/network-old/apps/observability/opnsense-exporter/app/helmrelease.yaml
  kubernetes/network-old/apps/observability/opnsense-exporter/app/kustomization.yaml
  kubernetes/network-old/apps/observability/opnsense-exporter/ks.yaml
Labels: area/kubernetes

feat: network-ups-tools (exporter)
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/network-ups-tools/exporter/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/network-ups-tools/exporter/dashboard/prometheus-nut-exporter.json
  kubernetes/network/apps/observability/network-ups-tools/exporter/dashboard/ups-aggregate.json
  kubernetes/network/apps/observability/network-ups-tools/exporter/helmrelease.yaml
  kubernetes/network/apps/observability/network-ups-tools/exporter/kustomization.yaml
  kubernetes/network/apps/observability/network-ups-tools/exporter/prometheus.yaml
  kubernetes/network/apps/observability/network-ups-tools/ks.yaml
Labels: area/kubernetes, cluster/network

feat: blackbox-exporter
  kubernetes/network/apps/observability/blackbox-exporter/app/dashboard/icmp.json
  kubernetes/network/apps/observability/blackbox-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/network/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: dnssec-exporter
  kubernetes/network/apps/observability/dnssec-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/dnssec-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/dnssec-exporter/app/prometheusrule.yaml
  kubernetes/network/apps/observability/dnssec-exporter/app/secret.sops.yaml
  kubernetes/network/apps/observability/dnssec-exporter/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(external-dns): rename cloudflare instance
  kubernetes/network/apps/network/external/external-dns/externalsecret.yaml
  kubernetes/network/apps/network/external/external-dns/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: smartctl-exporter
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/network/apps/observability/smartctl-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

feat: omada-exporter
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/omada-exporter/app/externalsecret.yaml
  kubernetes/network/apps/observability/omada-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/omada-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/omada-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

lint
  kubernetes/network/apps/default/openweathermap-exporter/app/helmrelease.yaml
  kubernetes/network/apps/network/external/cloudflared/dnsendpoint.yaml
Labels: area/kubernetes, cluster/network

feat: promtail
  kubernetes/network-old/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/network/apps/observability/promtail/app/kustomization.yaml
  kubernetes/network/apps/observability/promtail/ks.yaml
Labels: area/kubernetes, cluster/network

feat: snmp-exporter
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/snmp-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/snmp-exporter/app/opnsense/helmrelease.yaml
  kubernetes/network/apps/observability/snmp-exporter/app/opnsense/kustomization.yaml
  kubernetes/network/apps/observability/snmp-exporter/app/opnsense/resources/dashboard.json
  kubernetes/network/apps/observability/snmp-exporter/app/opnsense/resources/snmp.yaml
  kubernetes/network/apps/observability/snmp-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

feat: tplink-plug-exporter
  kubernetes/network-old/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/network-ups-tools/exporter/helmrelease.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/dashboard/tplink-plug-exporter.json
  kubernetes/network/apps/observability/tplink-plug-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/prometheus.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

nut hostnames?
  kubernetes/network/apps/observability/network-ups-tools/exporter/prometheus.yaml
Labels: area/kubernetes, cluster/network

chore(homer): add new links
  kubernetes/network/apps/default/homer/app/resources/homer-config.yaml
Labels: area/kubernetes, cluster/network

get rid of the ansible stuff too
  ansible/network/.ansible-lint
  ansible/network/inventory/group_vars/kubernetes/harbor.yaml
  ansible/network/inventory/group_vars/kubernetes/main.yaml
  ansible/network/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/network/inventory/group_vars/master/main.yaml
  ansible/network/inventory/group_vars/master/zigbee.yaml
  ansible/network/inventory/group_vars/worker/main.yaml
  ansible/network/inventory/hosts.yaml
  ansible/network/playbooks/cluster-installation.yaml
  ansible/network/playbooks/cluster-nuke.yaml
  ansible/network/playbooks/cluster-prepare.yaml
  ansible/network/playbooks/cluster-reboot.yaml
  ansible/network/playbooks/cluster-rollout-update.yaml
  ansible/network/playbooks/files/nfsmount.conf
  ansible/network/playbooks/tasks/coredns.yaml
  ansible/network/playbooks/tasks/cruft.yaml
  ansible/network/playbooks/tasks/kubeconfig.yaml
  ansible/network/playbooks/tasks/version-check.yaml
  ansible/network/playbooks/templates/custom-calico-installation.yaml.j2
  ansible/network/playbooks/templates/custom-coredns-helmchart.yaml.j2
  ansible/network/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  ansible/network/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  ansible/network/playbooks/templates/zigbee-udev.j2
  ansible/network/playbooks/zigbee.yaml
Labels: area/ansible, cluster/network

switch branch
  kubernetes/network/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/network

chore(silence-operator): v1alpha2 API
  kubernetes/main/apps/monitoring/silence-operator/ks.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/main

chore(task): upgrade-node fix
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

correctly (re)name network cluster
  talos/network/clusterconfig/.gitignore
  talos/network/talconfig.yaml
Labels: area/talos

chore(renovate): OCI charts are containers
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
Labels: area/github, area/renovate

chore(cilium): dashboard folder
  kubernetes/network/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: cilium gateway config
  kubernetes/network/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/components/common/cluster-settings.yaml
  scripts/bootstrap-apps.sh
Labels: area/kubernetes, area/scripts, cluster/network

Cilium gateway (#7549)
  kubernetes/network/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/network/external/cloudflared/configs/config.yaml
  kubernetes/network/apps/network/external/cloudflared/dnsendpoint.yaml
  kubernetes/network/apps/network/external/external-dns/helmrelease.yaml
  kubernetes/network/apps/network/external/ingress-nginx/helmrelease.yaml
  kubernetes/network/apps/network/internal/external-dns/helmrelease.yaml
  kubernetes/network/components/common/cluster-settings.yaml
  scripts/bootstrap-apps.sh
Labels: area/kubernetes, area/scripts, cluster/network

convert ingresses to httproutes
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/echo/app/helmrelease.yaml
  kubernetes/network/apps/default/homer/app/helmrelease.yaml
  kubernetes/network/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
  kubernetes/network/apps/default/openspeedtest/app/helmrelease.yaml
  kubernetes/network/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/ingress.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/network/apps/network/external/cloudflared/configs/config.yaml
  kubernetes/network/apps/network/external/cloudflared/dnsendpoint.yaml
  kubernetes/network/apps/network/external/ingress-nginx/helmrelease.yaml
  kubernetes/network/apps/network/external/ingress-nginx/kustomization.yaml
  kubernetes/network/apps/network/external/ks.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/httproute.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/storage/longhorn/app/helmrelease.yaml
  kubernetes/network/apps/storage/longhorn/app/httproute.yaml
  kubernetes/network/apps/storage/longhorn/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

disable pushsecret
  kubernetes/network/apps/kube-system/cilium/gateway/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: gatus
  kubernetes/network/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/kustomization.yaml
  kubernetes/network/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
  kubernetes/network/apps/observability/gatus/app/secrets.sops.yaml
  kubernetes/network/apps/observability/gatus/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(network): gatus endpoints
  kubernetes/main/apps/media/tautulli/ks.yaml
  kubernetes/main/apps/media/your-spotify/ks.yaml
  kubernetes/network/apps/default/changedetection/ks.yaml
  kubernetes/network/apps/default/echo/ks.yaml
  kubernetes/network/apps/default/homer/ks.yaml
  kubernetes/network/apps/default/it-tools/ks.yaml
  kubernetes/network/apps/default/kochhaus-docs/ks.yaml
  kubernetes/network/apps/default/node-red/ks.yaml
  kubernetes/network/apps/default/omada-controller/ks.yaml
  kubernetes/network/apps/default/openspeedtest/ks.yaml
  kubernetes/network/apps/default/openweathermap-exporter/ks.yaml
  kubernetes/network/apps/default/smtp-relay/app/gatus.yaml
  kubernetes/network/apps/default/smtp-relay/app/kustomization.yaml
  kubernetes/network/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/network/components/gatus/external/config.yaml
  kubernetes/network/components/gatus/external/kustomization.yaml
  kubernetes/network/components/gatus/guarded/config.yaml
  kubernetes/network/components/gatus/guarded/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(speedtest): fix URL
  kubernetes/network/apps/default/openspeedtest/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(gatus): tautulli
  kubernetes/main/apps/media/tautulli/ks.yaml
Labels: area/kubernetes, cluster/main

chore(gatus): update statics
  kubernetes/main/apps/monitoring/gatus/app/secrets.sops.yaml
  kubernetes/network/apps/observability/gatus/app/secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(gatus): don't need separate groups
  kubernetes/network/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/network

more gatus endpoints
  kubernetes/main/apps/calico-system/calico/ks.yaml
  kubernetes/main/apps/dbms/pgadmin/ks.yaml
  kubernetes/main/apps/default/docmost/ks.yaml
  kubernetes/main/apps/default/hajimari/ks.yaml
  kubernetes/main/apps/default/homepage/ks.yaml
  kubernetes/main/apps/default/karakeep/ks.yaml
  kubernetes/main/apps/default/miniflux/ks.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/default/wallos/ks.yaml
  kubernetes/main/apps/jenkins/jenkins/ks.yaml
  kubernetes/main/apps/media/media-browser/ks.yaml
  kubernetes/main/apps/monitoring/goldpinger/ks.yaml
  kubernetes/main/apps/monitoring/karma/ks.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/loki/ks.yaml
  kubernetes/main/apps/monitoring/smokeping/ks.yaml
  kubernetes/main/apps/network/whoami/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/apps/security/dmarc-report/ks.yaml
  kubernetes/main/apps/security/lldap/ks.yaml
  kubernetes/main/apps/storage/syncthing/ks.yaml
  kubernetes/main/apps/tools/headlamp/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/apps/storage/longhorn/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(omada): up memory limit
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network
