Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore(envoy-gateway): add buffers
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/registry

chore(openebs): disable preUpgradeHook and analytics
  kubernetes/registry/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore: yaml
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/certificates/export/certificate.yaml
Labels: area/kubernetes, cluster/registry

chore(alertmanager): add cluster to groupBy
  kubernetes/network/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/network

chore(kube-prometheus-stack): more ram for alertmanager; yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(grafana): cleanup dashboards
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(openebs): disable preUpgradeHook and analytics
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(grafana): remove loki; cleanup dashboards
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cloudflared): cleanup deployment
  kubernetes/main/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/main/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(cilium): enable socketLB
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cilium): remove unused L2AnnouncementPolicy; add DNS entry for VIP
  kubernetes/main/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/main

chore(envoy-gateway): trafficPolicy Local; add buffers
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main

chore: yaml
  kubernetes/main/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/main/apps/network/certificates/export/certificate.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/components/gatus/guarded/config.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: fix network cloudflared tunnel
  kubernetes/network/apps/network/cloudflared/app/externalsecret.yaml
Labels: area/kubernetes, cluster/network

chore: more memory for matter-server
  kubernetes/network/apps/default/matter-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: update remote netpol after network renumbering
  kubernetes/network/apps/remote/openssh/app/policy.yaml
Labels: area/kubernetes, cluster/network

feat: filebrowser-quantum
  kubernetes/main/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/main/apps/default/filebrowser/app/kustomization.yaml
  kubernetes/main/apps/default/filebrowser/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: filebrowser-quantum (#9088)
  kubernetes/main/apps/default/filebrowser/app/externalsecret.yaml
  kubernetes/main/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/main/apps/default/filebrowser/app/kustomization.yaml
  kubernetes/main/apps/default/filebrowser/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

fix: downgrade mdbook to 0.4.40 - the 0.5.0 image does not have admonish
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(kochhaus-docs): add a redirect to the html pages
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

fnord
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(kochhaus-docs): re-add missing backendRefs
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: automerge renovate
  .renovate/autoMerge.json5
Labels: none

chore: monitor NUT from Home Assistant
  kubernetes/main/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

chore: monitor NUT from Home Assistant
  kubernetes/main/apps/observability/network-ups-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: hostname changed
  kubernetes/network/apps/observability/network-ups-tools/exporter/prometheus.yaml
Labels: area/kubernetes, cluster/network

chore: new talos 1.12 network config; switch to DHCP; remove vlan20
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

chore: move 1pw
  kubernetes/main/apps/security/onepassword/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: volsync dep
  kubernetes/network/apps/default/matter-server/ks.yaml
  kubernetes/network/apps/default/matterbridge/ks.yaml
  kubernetes/network/apps/default/n8n/ks.yaml
Labels: area/kubernetes, cluster/network

chore: longhorn deps
  kubernetes/network/apps/default/mosquitto/ks.yaml
  kubernetes/network/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes, cluster/network

chore: vars moved
  scripts/bootstrap-apps.sh
Labels: area/scripts

chore: talos HostnameConfig is erroring
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

fix: helm4 not working with helmfile and postrenderer
  .mise.toml
Labels: none

chore: ugh
  kubernetes/network/apps/default/namespace.yaml
Labels: area/kubernetes, cluster/network

chore: shared IP -> externalTrafficPolicy Cluster
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: remove vlan
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
Labels: area/talos, cluster/main

fix: downgrade helm
  .mise.toml
Labels: none

chore: vlan1
  kubernetes/network/apps/network/multus/networks/mgmt.yaml
  talos/network/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos, cluster/network

chore: mgmt network
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: mgmt vlan
  kubernetes/network/apps/network/multus/networks/kustomization.yaml
Labels: area/kubernetes, cluster/network
