Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore(cloudnative-pg): upgrade postgresql to version 17.6
  .github/renovate/allowedVersions.json5
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/backup/restore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
Labels: area/github, area/kubernetes, area/renovate, cluster/main

chore(talos): add watchdog
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore(volsync): re-add jitter mutatingadmissionpolicy
  kubernetes/main/apps/storage/volsync/app/kustomization.yaml
  kubernetes/main/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/network/apps/storage/volsync/app/kustomization.yaml
  kubernetes/network/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/network/apps/storage/volsync/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(taskfiles): op fix
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fnord
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative-pg): increase ram
  kubernetes/main/apps/dbms/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(pgadmin): more ram
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(k8s-sidecar): more memory (prepare for v2)
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/tools/webhook/app/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(loki): roll back k8s-sidecar due to "No usable temporary directory found"
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: k8s-sidecar memory again.
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(loki): workaround for https://github.com/grafana/loki/issues/19655
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: replace loki with victoria-logs
  kubernetes/main/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/httproute.yaml
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/main/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/main/apps/observability/victoria-logs/app/ocirepository.yaml
  kubernetes/main/apps/observability/victoria-logs/ks.yaml
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(fluent-bit): maybe get rid of "http_client cannot increase buffer size" errors
  kubernetes/main/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: remove old requirements.txt
  requirements.txt
Labels: none

chore(talos): add cdi_spec_dirs; enable ResourceHealthStatus; enable watchdog
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

set prune: to false
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/registry/apps/flux-system/flux-instance/ks.yaml
  kubernetes/registry/apps/flux-system/flux-operator/ks.yaml
  kubernetes/registry/apps/harbor/harbor/ks.yaml
  kubernetes/registry/apps/kube-system/cilium/ks.yaml
  kubernetes/registry/apps/kube-system/coredns/ks.yaml
  kubernetes/registry/apps/kube-system/metrics-server/ks.yaml
  kubernetes/registry/apps/kube-system/reloader/ks.yaml
  kubernetes/registry/apps/network/bind-dns/ks.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
  kubernetes/registry/apps/observability/node-exporter/ks.yaml
  kubernetes/registry/apps/security/external-secrets/ks.yaml
  kubernetes/registry/apps/security/onepassword/ks.yaml
  kubernetes/registry/apps/storage/openebs/ks.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/registry

chore(cloudnative-pg): restore from backup
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore(bootstrap): adjust for new namespace.yaml files
  scripts/bootstrap-apps.sh
Labels: area/scripts

chore(nextcloud): add cloudnative-pg dependency
  kubernetes/main/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/main

bootstrap fixes 2
  scripts/bootstrap-apps.sh
Labels: area/scripts

chore: add intel-gpu-resource-driver
  kubernetes/main/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/main/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  kubernetes/main/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(jellyfin): use new gpu method
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/main/apps/default/jellyfin/app/resourceclaimtemplate.yaml
Labels: area/kubernetes, cluster/main

archive the intel-device-plugin
  .archive/kubernetes/apps/tools/intel-device-plugin/app/helmrelease.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/app/kustomization.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/app/ocirepository.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/exporter/helmrelease.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/exporter/kustomization.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/gpu/helmrelease.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/gpu/kustomization.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/gpu/ocirepository.yaml
  .archive/kubernetes/apps/tools/intel-device-plugin/ks.yaml
  kubernetes/main/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(bootstrap): registry does not have BGP
  bootstrap/registry/helmfile.d/01-apps.yaml
Labels: area/bootstrap, cluster/registry

chore(harbor): fix namespace for backup in ks.yaml
  kubernetes/registry/apps/harbor/harbor/ks.yaml
Labels: area/kubernetes, cluster/registry

chore(sops): wrong key
  kubernetes/registry/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/registry/apps/network/bind-dns/app/secret.sops.yaml
  kubernetes/registry/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/registry/components/common/sops/secret.sops.yaml
Labels: area/kubernetes, cluster/registry

chore(excalidraw): mirror.gcr.io
  kubernetes/main/apps/default/excalidraw/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(harbor-backup): use nfs instead of pvc
  kubernetes/registry/apps/harbor/harbor/backup/restore.yaml
Labels: area/kubernetes, cluster/registry

chore(syncthing): mirror.gcr.io
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cloudflared): mirror.gcr.io
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(filebrowser): mirror.gcr.io
  kubernetes/main/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(goldpinger): mirror.gcr.io
  kubernetes/main/apps/observability/goldpinger/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(longhorn): garage
  kubernetes/network/apps/storage/longhorn/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

chore(cnpg): switch to garage
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
Labels: area/kubernetes, cluster/main

feat: monica-next
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/monica/app/app/externalsecret.yaml
  kubernetes/main/apps/default/monica/app/app/helmrelease.yaml
  kubernetes/main/apps/default/monica/app/app/kustomization.yaml
  kubernetes/main/apps/default/monica/ks.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): remove OSD from failing NVMe drive
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): add new NVMe drive on k3s3
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(karakeep): request less ram
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(renovate): add missing changelogs
  .github/renovate.json5
  .github/renovate/changelogs.json5
Labels: area/github, area/renovate

chore(silence-operator): switch to official oci chart
  kubernetes/main/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
