Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

fix external IPs
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/service.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/network-ups-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

cleanup cluster-settings
  kubernetes/main/apps/network/internal/ingress-nginx/helmrelease.yaml
  kubernetes/main/components/common/cluster-settings.yaml
Labels: area/kubernetes, cluster/main

external ingresses
  kubernetes/main/apps/network/external/ks.yaml
  kubernetes/main/apps/network/external/services/hass.yaml
Labels: area/kubernetes, cluster/main

chore(alertmanager): back to ingress
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

coredns tweaks
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

coredns tweaks
  kubernetes/main/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

reorganize components to simplify imports. add github status notification.
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/jenkins/kustomization.yaml
  kubernetes/main/apps/joomla/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/vpn/kustomization.yaml
  kubernetes/main/components/common/alerts/alertmanager/alert.yaml
  kubernetes/main/components/common/alerts/alertmanager/kustomization.yaml
  kubernetes/main/components/common/alerts/alertmanager/provider.yaml
  kubernetes/main/components/common/alerts/github-status/alert.yaml
  kubernetes/main/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/main/components/common/alerts/github-status/kustomization.yaml
  kubernetes/main/components/common/alerts/github-status/provider.yaml
  kubernetes/main/components/common/alerts/kustomization.yaml
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/repos/app-template/kustomization.yaml
  kubernetes/main/components/common/repos/app-template/ocirepository.yaml
  kubernetes/main/components/common/repos/kustomization.yaml
  kubernetes/main/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/main/components/common/sops/cluster-settings.yaml
  kubernetes/main/components/common/sops/kustomization.yaml
  kubernetes/main/components/common/sops/secret.sops.yaml
Labels: area/kubernetes, cluster/main

maybe?
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/main

remove helmrelease dependsOn
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
  kubernetes/main/apps/default/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/default/calibre-web/ks.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
  kubernetes/main/apps/default/onedrive/ks.yaml
  kubernetes/main/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/main/apps/default/picoshare/ks.yaml
  kubernetes/main/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/main/apps/default/populator-test/ks.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/main/apps/default/syncthing/ks.yaml
  kubernetes/main/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/default/tautulli/ks.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/joomla/mariadb/app/helmrelease.yaml
  kubernetes/main/apps/joomla/mariadb/ks.yaml
  kubernetes/main/apps/joomla/rtr/app/helmrelease.yaml
  kubernetes/main/apps/joomla/rtr/ks.yaml
  kubernetes/main/apps/observability/karma/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/ks.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/ks.yaml
  kubernetes/main/apps/tools/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/main/apps/tools/intel-device-plugin/ks.yaml
  kubernetes/main/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/main

chore(flux): move flux-instance/webhooks/github up
  kubernetes/main/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/github/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/ingress.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/receiver.yaml
Labels: area/kubernetes, cluster/main

more lint
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

gatus port
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

undo
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

ui sugar
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

back to main branch
  kubernetes/main/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/main

make heartbeat receiver names different again
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/main, cluster/network

try actions-runner with openebs instead of rook-ceph
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fnord
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: separate gateway endpoints
  kubernetes/main/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/main, cluster/registry

enable pushsecrets
  kubernetes/main/apps/kube-system/certificates/export/kustomization.yaml
  kubernetes/main/apps/kube-system/certificates/import/externalsecret.yaml
  kubernetes/main/apps/kube-system/certificates/ks.yaml
  kubernetes/main/apps/security/onepassword-connect/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(prometheus): monitor https endpoints
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
Labels: area/kubernetes, cluster/main

chore(cert-manager): convert to externalsecret
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(cert-manager): remove nginx certificate
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/cert-manager/cert-manager/tls/certificate.yaml
  kubernetes/main/apps/cert-manager/cert-manager/tls/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(actions-runner): update storage dependency
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes, cluster/main

convert tautulli to home-operations container image
  kubernetes/main/apps/default/tautulli/app/externalsecret.yaml
  kubernetes/main/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/default/tautulli/app/kustomization.yaml
  kubernetes/main/apps/default/tautulli/ks.yaml
Labels: area/kubernetes, cluster/main

chore(flux): rename web endpoint
  kubernetes/main/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

reorg network folder
  kubernetes/network/apps/network/bind-dns/app/externalsecret.yaml
  kubernetes/network/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/bind-dns/app/kustomization.yaml
  kubernetes/network/apps/network/bind-dns/ks.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/network/apps/network/cloudflare-dns/ks.yaml
  kubernetes/network/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/network/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/network/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/external/ks.yaml
  kubernetes/network/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/network/apps/network/ingress-nginx/app/kustomization.yaml
  kubernetes/network/apps/network/ingress-nginx/ks.yaml
  kubernetes/network/apps/network/internal/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(external-dns): fix CF secret
  kubernetes/main/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

fnord
  kubernetes/network/apps/network/bind-dns/ks.yaml
Labels: area/kubernetes, cluster/network

remove cluster-meta
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/network/flux/meta/kustomization.yaml
  kubernetes/network/flux/meta/repos/external-dns.yaml
  kubernetes/network/flux/meta/repos/ingress-nginx.yaml
  kubernetes/network/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes, cluster/network

cert-manger cleanup
  kubernetes/network/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/network

reorganize components
  kubernetes/network/apps/cert-manager/kustomization.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/external-secrets/kustomization.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/remote/kustomization.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/components/common/alerts/alertmanager/alert.yaml
  kubernetes/network/components/common/alerts/alertmanager/kustomization.yaml
  kubernetes/network/components/common/alerts/alertmanager/provider.yaml
  kubernetes/network/components/common/alerts/kustomization.yaml
  kubernetes/network/components/common/kustomization.yaml
  kubernetes/network/components/common/repos/app-template/kustomization.yaml
  kubernetes/network/components/common/repos/app-template/ocirepository.yaml
  kubernetes/network/components/common/repos/kustomization.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/network/components/common/sops/cluster-settings.yaml
  kubernetes/network/components/common/sops/kustomization.yaml
  kubernetes/network/components/common/sops/secret.sops.yaml
Labels: area/kubernetes, cluster/network

tidy up cluster settings
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/network/components/common/sops/cluster-settings.yaml
Labels: area/kubernetes, cluster/network

chore(loki): replace promtail with alloy
  kubernetes/network/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/network/apps/observability/alloy/app/kustomization.yaml
  kubernetes/network/apps/observability/alloy/app/resources/config.alloy
  kubernetes/network/apps/observability/alloy/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(network): cleanup prometheus
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/kustomizeconfig.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/resources/kube-state-metrics-config.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

remove spegel
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/network/apps/kube-system/spegel/app/helm/values.yaml
  kubernetes/network/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/network/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes, cluster/network

sync tools
  kubernetes/main/apps/tools/node-feature-discovery/ks.yaml
  kubernetes/network/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move external-secrets
  kubernetes/network/apps/default/kochhaus-docs/ks.yaml
  kubernetes/network/apps/default/mosquitto/ks.yaml
  kubernetes/network/apps/default/n8n/ks.yaml
  kubernetes/network/apps/default/node-red/ks.yaml
  kubernetes/network/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/network/apps/network/bind-dns/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/clustersecretstore.yaml
  kubernetes/network/apps/security/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/network/apps/security/external-secrets/app/helm/values.yaml
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/ks.yaml
  kubernetes/network/apps/security/kustomization.yaml
  kubernetes/network/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/network/apps/security/onepassword-connect/app/kustomization.yaml
  kubernetes/network/apps/security/onepassword-connect/app/secret.sops.yaml
  kubernetes/network/apps/security/onepassword-connect/ks.yaml
  talos/network/talconfig.yaml
Labels: area/kubernetes, area/talos, cluster/network

dust!
  kubernetes/main/apps/observability/gatus/app/kustomization.yaml
  kubernetes/main/apps/observability/gatus/app/rbac.yaml
  kubernetes/main/apps/observability/silence-operator/ks.yaml
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
  kubernetes/network/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/network

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
