Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: rbac updates
  kubernetes/main/apps/dbms/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/main

chore: upgrade CRDs also
  kubernetes/main/apps/dbms/dragonfly/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: dedicated dragonfly for nextcloud
  kubernetes/apps/base/default/nextcloud/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud.yaml
Labels: area/kubernetes, cluster/main

chore: move dragonfly component
  kubernetes/components/dragonfly/dragonfly.yaml
  kubernetes/components/dragonfly/kustomization.yaml
  kubernetes/components/dragonfly/networkpolicy.yaml
  kubernetes/components/dragonfly/podmonitor.yaml
  kubernetes/main/apps/renovate/renovate-operator/ks.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
Labels: area/kubernetes, cluster/main

chore: dragonfly hostname
  kubernetes/apps/base/default/nextcloud/helmrelease.yaml
Labels: area/kubernetes

chore: private dragonfly for docmost
  kubernetes/apps/base/default/docmost/helmrelease.yaml
  kubernetes/components/dragonfly/dragonfly.yaml
  kubernetes/main/apps/default/docmost.yaml
Labels: area/kubernetes, cluster/main

chore: remove default dragonfly instance
  kubernetes/main/apps/dbms/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/networkpolicy.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/podmonitor.yaml
  kubernetes/main/apps/dbms/dragonfly/ks.yaml
Labels: area/kubernetes, cluster/main

chore: fix dragonfly usage: - add healthCheckExprs - fix dependsOn
  kubernetes/main/apps/default/docmost.yaml
  kubernetes/main/apps/default/nextcloud.yaml
  kubernetes/main/apps/renovate/renovate-operator/ks.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
Labels: area/kubernetes, cluster/main

chore: add missing dependsOn
  kubernetes/main/apps/dbms/pgadmin/ks.yaml
  kubernetes/main/apps/default/bookboss.yaml
  kubernetes/main/apps/default/calibre-web.yaml
  kubernetes/main/apps/default/docmost.yaml
  kubernetes/main/apps/default/filebrowser.yaml
  kubernetes/main/apps/default/jellyfin.yaml
  kubernetes/main/apps/default/karakeep.yaml
  kubernetes/main/apps/default/mealie.yaml
  kubernetes/main/apps/default/nextcloud.yaml
  kubernetes/main/apps/default/onedrive.yaml
  kubernetes/main/apps/default/picoshare.yaml
  kubernetes/main/apps/default/tautulli.yaml
  kubernetes/main/apps/default/your-spotify.yaml
  kubernetes/main/apps/observability/smokeping/ks.yaml
  kubernetes/network/apps/default/changedetection.yaml
  kubernetes/network/apps/default/matter-server.yaml
  kubernetes/network/apps/default/matterbridge.yaml
  kubernetes/network/apps/default/node-red.yaml
  kubernetes/network/apps/default/populator-test/ks.yaml
  kubernetes/network/apps/default/zigbee2mqtt.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: dev namespace
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/dev/namespace.yaml
Labels: area/kubernetes, cluster/main

chore(mealie): add tmp dir
  kubernetes/apps/base/default/mealie/helmrelease.yaml
Labels: area/kubernetes

chore(dragonfly): change to single-node 'cluster'
  kubernetes/components/dragonfly/dragonfly.yaml
Labels: area/kubernetes

chore: add forgejo to authelia
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: anubis component
  kubernetes/components/anubis/externalsecret.yaml
  kubernetes/components/anubis/helmrelease.yaml
  kubernetes/components/anubis/kustomization.yaml
  kubernetes/components/anubis/ocirepository.yaml
Labels: area/kubernetes

feat: forgejo
  kubernetes/apps/base/dev/forgejo/app/externalsecret.yaml
  kubernetes/apps/base/dev/forgejo/app/helmrelease.yaml
  kubernetes/apps/base/dev/forgejo/app/httproute.yaml
  kubernetes/apps/base/dev/forgejo/app/kustomization.yaml
  kubernetes/apps/base/dev/forgejo/app/ocirepository.yaml
  kubernetes/main/apps/dev/forgejo.yaml
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main

chore: anubis component
  kubernetes/components/anubis/externalsecret.yaml
  kubernetes/components/anubis/helmrelease.yaml
  kubernetes/components/anubis/kustomization.yaml
  kubernetes/components/anubis/ocirepository.yaml
Labels: area/kubernetes

feat: forgejo (#11390)
  kubernetes/apps/base/dev/forgejo/externalsecret.yaml
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
  kubernetes/apps/base/dev/forgejo/httproute.yaml
  kubernetes/apps/base/dev/forgejo/kustomization.yaml
  kubernetes/apps/base/dev/forgejo/ocirepository.yaml
  kubernetes/main/apps/dev/forgejo.yaml
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main

chore: fix authelia callback for forgejo
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

feat: forgejo runner
  kubernetes/apps/base/dev/forgejo-runner/ciliumnetworkpolicy.yaml
  kubernetes/apps/base/dev/forgejo-runner/externalsecret.yaml
  kubernetes/apps/base/dev/forgejo-runner/helmrelease.yaml
  kubernetes/apps/base/dev/forgejo-runner/kustomization.yaml
  kubernetes/apps/base/dev/forgejo-runner/ocirepository.yaml
  kubernetes/main/apps/dev/forgejo.yaml
Labels: area/kubernetes, cluster/main

chore: allow imports
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
Labels: area/kubernetes

chore: move longhorn volumesnapshotclass definition
  kubernetes/network/apps/storage/longhorn/app/kustomization.yaml
  kubernetes/network/apps/storage/longhorn/app/storageclass-volsync.yaml
  kubernetes/network/apps/storage/longhorn/app/volumesnapshotclass.yaml
  kubernetes/network/apps/storage/longhorn/ks.yaml
  kubernetes/network/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/network/apps/storage/volsync.yaml
Labels: area/kubernetes, cluster/network

chore: collapse snapshot-controller into base
  kubernetes/apps/base/storage/snapshot-controller/helmrelease.yaml
  kubernetes/apps/base/storage/snapshot-controller/kustomization.yaml
  kubernetes/apps/base/storage/snapshot-controller/ocirepository.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/snapshot-controller.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/storage/snapshot-controller.yaml
  kubernetes/network/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/network/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/network/apps/storage/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: use my forgejo-runner
  kubernetes/apps/base/dev/forgejo-runner/helmrelease.yaml
Labels: area/kubernetes

chore: disable lbipam on registry cluster; maybe this fixes cilium
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore: move dyndns to base folder
  kubernetes/apps/base/network/dyndns/externalsecret.yaml
  kubernetes/apps/base/network/dyndns/helmrelease.yaml
  kubernetes/apps/base/network/dyndns/kustomization.yaml
  kubernetes/apps/base/network/dyndns/ocirepository.yaml
  kubernetes/apps/base/network/dyndns/resources/dyndns.sh
  kubernetes/network/apps/network/dyndns.yaml
  kubernetes/network/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move multus to base
  kubernetes/apps/base/network/multus/helmrelease.yaml
  kubernetes/apps/base/network/multus/kustomization.yaml
  kubernetes/apps/base/network/multus/ocirepository.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/network/multus.yaml
  kubernetes/network/apps/network/multus/iot.yaml
  kubernetes/network/apps/network/multus/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move karma to base; deploy on main/network clusters
  kubernetes/apps/base/observability/karma/helmrelease.yaml
  kubernetes/apps/base/observability/karma/kustomization.yaml
  kubernetes/apps/base/observability/karma/ocirepository.yaml
  kubernetes/apps/base/observability/karma/resources/config.yaml
  kubernetes/main/apps/observability/karma.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/karma.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move siren to base and deploy on main cluster
  kubernetes/apps/base/observability/siren/helmrelease.yaml
  kubernetes/apps/base/observability/siren/kustomization.yaml
  kubernetes/apps/base/observability/siren/ocirepository.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/siren.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/siren.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: initial tf for harbor
  terraform/harbor/backend.tf
  terraform/harbor/config_system.tf
  terraform/harbor/interrogation.tf
  terraform/harbor/main.tf
  terraform/harbor/outputs.tf
  terraform/harbor/purge_audit_log.tf
  terraform/harbor/variables.tf
Labels: none

corrections to 1password, garage, registry url
  terraform/harbor/backend.tf
  terraform/harbor/main.tf
  terraform/harbor/variables.tf
Labels: none

add projects
  terraform/harbor/projects.tf
  terraform/harbor/retention.tf
Labels: none

chore: eleboucher is unhealthy
  terraform/harbor/projects.tf
Labels: none

chore: add robot acounts
  terraform/harbor/outputs.tf
  terraform/harbor/robots.tf
  terraform/harbor/secrets.tf
Labels: none

fix secret type
  terraform/harbor/secrets.tf
Labels: none

add remaining robot accounts
  terraform/harbor/robots.tf
  terraform/harbor/secrets.tf
Labels: none

chore: add terraform to .gitignore
  .gitignore
Labels: none

chore: add harbor to authelia
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: add oidc auth
  terraform/harbor/config_auth.tf
  terraform/harbor/main.tf
Labels: none

chore: add new registry mirrors
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network

chore: restore missing outputs
  terraform/harbor/outputs.tf
Labels: none

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
