Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: move victoria-logs server to base folder
  kubernetes/apps/base/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/base/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/base/observability/victoria-logs/app/ocirepository.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/victoria-logs.yaml
  kubernetes/main/apps/observability/victoria-logs/ks.yaml
Labels: area/kubernetes, cluster/main

chore: combine network-ups-tools into base folder
  kubernetes/apps/base/observability/network-ups-tools/app/helmrelease.yaml
  kubernetes/apps/base/observability/network-ups-tools/app/kustomization.yaml
  kubernetes/apps/base/observability/network-ups-tools/app/ocirepository.yaml
  kubernetes/apps/base/observability/network-ups-tools/exporter/dashboard/kustomization.yaml
  kubernetes/apps/base/observability/network-ups-tools/exporter/dashboard/prometheus-nut-exporter.json
  kubernetes/apps/base/observability/network-ups-tools/exporter/dashboard/ups-aggregate.json
  kubernetes/apps/base/observability/network-ups-tools/exporter/helmrelease.yaml
  kubernetes/apps/base/observability/network-ups-tools/exporter/kustomization.yaml
  kubernetes/apps/base/observability/network-ups-tools/exporter/ocirepository.yaml
  kubernetes/apps/base/observability/network-ups-tools/exporter/prometheus.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/network-ups-tools.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/network-ups-tools.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move blackbox-exporter probes and httproute to base folder
  kubernetes/apps/base/observability/blackbox-exporter/httproute.yaml
  kubernetes/apps/base/observability/blackbox-exporter/kustomization.yaml
  kubernetes/apps/base/observability/blackbox-exporter/probes.yaml
  kubernetes/main/apps/observability/blackbox-exporter.yaml
  kubernetes/main/apps/observability/blackbox-exporter/kustomization.yaml
  kubernetes/main/apps/observability/blackbox-exporter/probes.yaml
  kubernetes/network/apps/observability/blackbox-exporter.yaml
  kubernetes/network/apps/observability/blackbox-exporter/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: correct cluster folder
  .github/workflows/image-pull.yaml
Labels: area/github

chore: go back to actions-runner app/secrets
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
Labels: area/kubernetes

chore(konflate): try a different clusterPath
  kubernetes/apps/base/flux-system/konflate/helmrelease.yaml
Labels: area/kubernetes

feat: grafana-operator
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
  kubernetes/apps/base/observability/grafana/instance/grafanadashboard.yaml
  kubernetes/apps/base/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/base/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/base/observability/grafana/instance/servicemonitor.yaml
  kubernetes/apps/base/observability/grafana/operator/externalsecret.yaml
  kubernetes/apps/base/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/base/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/base/observability/grafana/operator/ocirepository.yaml
  kubernetes/main/apps/observability/grafana.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: add grafana-operator to network cluster
  kubernetes/network/apps/observability/grafana.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: add grafana-operator crds to bootstrap
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
Labels: area/bootstrap, cluster/main, cluster/network, cluster/registry

chore: flux dashboards (network)
  kubernetes/network/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: add blocky-ui dashboard
  kubernetes/apps/base/default/blocky-ui/grafanadashboard.yaml
  kubernetes/apps/base/default/blocky-ui/kustomization.yaml
  kubernetes/apps/base/observability/blackbox-exporter/grafanadashboard.yaml
Labels: area/kubernetes

chore: add grafana-operator to network cluster
  kubernetes/network/apps/observability/grafana.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: grafana-image-renderer
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

chore: archive old grafana instance
  .archive/kubernetes/apps/observability/grafana/app/dashboards/etcd-dashboard.json
  .archive/kubernetes/apps/observability/grafana/app/dashboards/kustomization.yaml
  .archive/kubernetes/apps/observability/grafana/app/dashboards/node-aggregate.json
  .archive/kubernetes/apps/observability/grafana/app/externalsecret.yaml
  .archive/kubernetes/apps/observability/grafana/app/helmrelease.yaml
  .archive/kubernetes/apps/observability/grafana/app/kustomization.yaml
  .archive/kubernetes/apps/observability/grafana/app/ocirepository.yaml
  .archive/kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/main/apps/observability/grafana.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/grafana.yaml
  kubernetes/network/apps/observability/grafana/app/dashboards/etcd-dashboard.json
  kubernetes/network/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/network/apps/observability/grafana/app/dashboards/node-aggregate.json
  kubernetes/network/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/kustomization.yaml
  kubernetes/network/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: add grafana-operator crds to bootstrap
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
Labels: area/bootstrap, cluster/main, cluster/network, cluster/registry

chore: fix hostname
  kubernetes/apps/base/observability/blackbox-exporter/probes.yaml
Labels: area/kubernetes

chore: switch to home-ops kromgo
  README.md
  kubernetes/apps/base/observability/kromgo/helmrelease.yaml
  kubernetes/apps/base/observability/kromgo/ocirepository.yaml
  kubernetes/main/apps/observability/kromgo.yaml
Labels: area/docs, area/kubernetes, cluster/main

chore: make main/network cilium helmcharts consistent
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: change konflate , flux-webook subdomains
  kubernetes/main/apps/flux-system/flux-instance/ks.yaml
  kubernetes/main/apps/flux-system/konflate.yaml
Labels: area/kubernetes, cluster/main

chore: see if restoring defaultLBServiceIPAM works on single-node cluster
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore: registry - enable ipv6 in talos
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
Labels: area/talos, cluster/registry

chore: registry cluster - enable ipv6 in cilium
  kubernetes/registry/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
  kubernetes/registry/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/registry

chore: registry cluster - change forwardKubeDNSToHost to true
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore: registry cluster - allow talos secret in kube-system
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore: nodeTaintsPolicy: Honor
  kubernetes/apps/base/default/chaski/helmrelease.yaml
  kubernetes/apps/base/default/excalidraw/helmrelease.yaml
  kubernetes/apps/base/default/smtp-relay/helmrelease.yaml
  kubernetes/apps/base/default/static-web/helmrelease.yaml
  kubernetes/apps/base/default/whoami/helmrelease.yaml
  kubernetes/apps/base/kube-system/coredns/helmrelease.yaml
  kubernetes/apps/base/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/base/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/base/observability/karma/helmrelease.yaml
  kubernetes/apps/base/remote/openssh/helmrelease.yaml
  kubernetes/components/dragonfly/dragonfly.yaml
  kubernetes/main/apps/dbms/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
  kubernetes/main/apps/security/lldap/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: move main cilium to base
  kubernetes/apps/base/kube-system/cilium/grafanadashboard.yaml
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/base/kube-system/cilium/kustomization.yaml
  kubernetes/apps/base/kube-system/cilium/ocirepository.yaml
  kubernetes/main/apps/kube-system/cilium.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/main/apps/kube-system/cilium/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/networking.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: switch network cluster cilium to base folder
  kubernetes/network/apps/kube-system/cilium.yaml
  kubernetes/network/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/kube-system/cilium/networking.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: switch registry cluster cilium to base folder
  kubernetes/network/apps/kube-system/cilium/kustomization.yaml
  kubernetes/registry/apps/kube-system/cilium.yaml
  kubernetes/registry/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/registry/apps/kube-system/cilium/ks.yaml
  kubernetes/registry/apps/kube-system/cilium/kustomization.yaml
  kubernetes/registry/apps/kube-system/cilium/networking.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore: add IPv6 addresses to registry cluster
  kubernetes/registry/apps/harbor/harbor/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/networking.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/registry

chore: add ipv6 to kube-api
  kubernetes/registry/apps/kube-system/cilium/networking.yaml
Labels: area/kubernetes, cluster/registry

chore: allow ip sharing for exporters
  kubernetes/apps/base/observability/network-ups-tools/app/helmrelease.yaml
Labels: area/kubernetes

chore(descheduler): update to current evictor config
  kubernetes/apps/base/kube-system/descheduler/helmrelease.yaml
Labels: area/kubernetes

chore: cilium: enable service topology aware routing
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
Labels: area/kubernetes

chore(coredns): sort values
  kubernetes/apps/base/kube-system/coredns/helmrelease.yaml
Labels: area/kubernetes

chore(tuppr): add prometheus rules and grafana dashboard
  kubernetes/apps/base/system-upgrade/tuppr/helmrelease.yaml
Labels: area/kubernetes

chore: longer timeout
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

chore: actions-runner helm chart was renamed
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

chore: move rook-ceph to base folder
  kubernetes/apps/base/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/app/grafanadashboard.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/ceph-csi-drivers/helmrelease.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/ceph-csi-drivers/kustomization.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/ceph-csi-drivers/ocirepository.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph.yaml
Labels: area/kubernetes, cluster/main

chore: move cloudnative-pg (app) to base folder
  kubernetes/apps/base/dbms/cloudnative-pg/externalsecret.yaml
  kubernetes/apps/base/dbms/cloudnative-pg/helmrelease.yaml
  kubernetes/apps/base/dbms/cloudnative-pg/kustomization.yaml
  kubernetes/apps/base/dbms/cloudnative-pg/ocirepository.yaml
  kubernetes/main/apps/dbms/cloudnative-pg.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move dragonfly to base folder
  kubernetes/apps/base/dbms/dragonfly/grafanadashboard.yaml
  kubernetes/apps/base/dbms/dragonfly/helmrelease.yaml
  kubernetes/apps/base/dbms/dragonfly/kustomization.yaml
  kubernetes/apps/base/dbms/dragonfly/ocirepository.yaml
  kubernetes/apps/base/dbms/dragonfly/rbac.yaml
  kubernetes/main/apps/dbms/dragonfly.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
