Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: add missing registry caches
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network

chore(silence-operator): switch to official oci chart
  kubernetes/network/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/network/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes, cluster/network

chore: remove ResourceHealthStatus feature gate from Talos config
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

remove dependsOn: longhorn
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/changedetection/ks.yaml
  kubernetes/network/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/ks.yaml
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/ks.yaml
  kubernetes/network/apps/default/populator-test/ks.yaml
  kubernetes/network/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/network/apps/default/smtp-relay/ks.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/network

feat(flux): use github app for commit status provider
  kubernetes/main/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/main/components/common/alerts/github-status/provider.yaml
Labels: area/kubernetes, cluster/main

chore(grafana): fix server URL
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: github-status from network cluster
  kubernetes/network/components/common/alerts/alertmanager/alert.yaml
  kubernetes/network/components/common/alerts/github-status/alert.yaml
  kubernetes/network/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/network/components/common/alerts/github-status/kustomization.yaml
  kubernetes/network/components/common/alerts/github-status/provider.yaml
Labels: area/kubernetes, cluster/network

chore(victoria-logs): more storage
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(omada-controller): add port 29817
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(talos): update nameservers
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore: ip address changes
  kubernetes/main/apps/downloads/linode-backup/app/policy.yaml
  kubernetes/main/apps/downloads/policy.yaml
  kubernetes/network/apps/remote/openssh/app/policy.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(renovate): group the your_spotify containers
  .github/renovate/groups.json5
Labels: area/github, area/renovate

chore: update ssh known hosts
  kubernetes/network/apps/remote/openssh/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

chore: more IP address changes
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network, cluster/registry

chore(renovate): process OCI dependencies
  .github/renovate/customManagers.json5
Labels: area/github, area/renovate

chore: ip address update
  kubernetes/main/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/registry/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(grafana): sidecar image
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: remove versioning= from renovate custom manager
  .github/renovate/customManagers.json5
Labels: area/github, area/renovate

chore: update renovate flux group to include flux-operator-manifests
  .github/renovate/groups.json5
Labels: area/github, area/renovate

chore: move renovate files to top-level
  .github/renovate.json5
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/changelogs.json5
  .renovate/clusters.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/overrides.json5
  .renovate/packageRules.json5
  .renovaterc.json5
Labels: area/github, area/renovate

Revert "feat(container): update joseluisq/static-web-server ( 2.39.0 → 2.40.0 ) [network] (#8868)"
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
  kubernetes/network/apps/default/populator-test/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: use mirror.gcr.io for envoy
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/main/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: tune envoy buffers, timeouts, etc.
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: lefthook
  .lefthook.toml
Labels: none

chore(prometheus): upgrade prompp
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move retentionPeriod under server configuration
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cnpg): fix ocirepository interval
  kubernetes/main/apps/dbms/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore: yaml cleanup in promtheus rules
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/main/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/network/apps/default/node-red/app/resources/lokirule.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/network/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/network/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/network/apps/observability/network-ups-tools/exporter/prometheus.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(keda): monitoring
  kubernetes/main/apps/observability/keda/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(flux): add a podmonitor
  kubernetes/main/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/podmonitor.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/receiver.yaml
Labels: area/kubernetes, cluster/main

chore(external-secrets): 2 webhook replicas and a PDB
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/app/pdb.yaml
  kubernetes/main/apps/security/onepassword/ks.yaml
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/app/pdb.yaml
  kubernetes/registry/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/registry/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/registry/apps/security/external-secrets/app/pdb.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(cert-manager): 2 webhook replicas an a PDB
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/registry/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: vscode
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: use mirror.gcr.io
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add renovate hints for mirror.gcr.io
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/dbms/postgres-backup/app/helmrelease.yaml
  kubernetes/main/apps/default/excalidraw/app/helmrelease.yaml
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/main/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
  kubernetes/main/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/whoami/app/helmrelease.yaml
  kubernetes/main/apps/default/your-spotify/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/observability/goldpinger/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/app/helmrelease.yaml
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: fix smarthost
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/network

chore(smtp-relay): config updates
  kubernetes/network/apps/default/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes, cluster/network

chore: monitor garagehq
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/mnemosyne.yaml
  kubernetes/main/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/mnemosyne.yaml
  kubernetes/network/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(mqtt-exporter): all metrics
  kubernetes/network/apps/default/mqtt-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: UPSes moved
  kubernetes/network/apps/observability/network-ups-tools/exporter/prometheus.yaml
Labels: area/kubernetes, cluster/network

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
