Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: fluent-bit has an OCI chart now
  kubernetes/main/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore: downgrade kyverno chart to 3.6.3
  kubernetes/main/apps/kyverno/kyverno/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

feat: blocky-ui
  kubernetes/network/apps/default/blocky-ui/app/helmrelease.yaml
  kubernetes/network/apps/default/blocky-ui/app/kustomization.yaml
  kubernetes/network/apps/default/blocky-ui/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: blocky-ui (#10531)
  kubernetes/network/apps/default/blocky-ui/app/helmrelease.yaml
  kubernetes/network/apps/default/blocky-ui/app/kustomization.yaml
  kubernetes/network/apps/default/blocky-ui/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: whoops - port conflict.
  kubernetes/network/apps/default/blocky-ui/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: dual blocky again
  kubernetes/network/apps/default/blocky-ui/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: siren
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/siren/app/helmrelease.yaml
  kubernetes/network/apps/observability/siren/app/kustomization.yaml
  kubernetes/network/apps/observability/siren/ks.yaml
Labels: area/kubernetes, cluster/network

feat: siren (#10532)
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/siren/app/helmrelease.yaml
  kubernetes/network/apps/observability/siren/app/kustomization.yaml
  kubernetes/network/apps/observability/siren/ks.yaml
Labels: area/kubernetes, cluster/network

chore: renovate-operator changed discoverTopics syntax
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore(authelia): add missing ReferenceGrant
  kubernetes/main/apps/security/authelia/app/kustomization.yaml
  kubernetes/main/apps/security/authelia/app/referencegrant.yaml
Labels: area/kubernetes, cluster/main

chore: switch whoami from oidc to extAuth
  kubernetes/main/apps/default/whoami/app/securitypolicy.yaml
Labels: area/kubernetes, cluster/main

chore: check for 401
  kubernetes/main/apps/default/whoami/ks.yaml
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/ks.yaml
  kubernetes/main/components/gatus/external/config.yaml
  kubernetes/main/components/gatus/internal/config.yaml
Labels: area/kubernetes, cluster/main

chore: add tekton-dashboard to gatus
  kubernetes/main/apps/tekton-pipelines/tekton-pipelines/ks.yaml
Labels: area/kubernetes, cluster/main

chore: remove dragonfly hack from prometheus
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: add podmonitor and netpol to each dragonfly cluster
  kubernetes/main/components/dragonfly/kustomization.yaml
  kubernetes/main/components/dragonfly/networkpolicy.yaml
  kubernetes/main/components/dragonfly/podmonitor.yaml
Labels: area/kubernetes, cluster/main

chore: add netpol for main/shared dragonfly
  kubernetes/main/apps/dbms/dragonfly/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/networkpolicy.yaml
Labels: area/kubernetes, cluster/main

chore: fnord
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: echo dualstack
  kubernetes/base/apps/default/echo/helmrelease.yaml
Labels: area/kubernetes

chore: cilium: advertise externalIPs
  kubernetes/main/apps/kube-system/cilium/app/networking.yaml
  kubernetes/network/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: turn off IPv6 address autodiscovery
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
Labels: area/talos, cluster/main

chore: disk space cleanup
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore: internal
  kubernetes/main/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/httproute.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: update gatus
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): run as root but add hostUsers: false
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: nextcloud local storage
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/main

chore: re-enable web
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: remove nfs-pvc
  kubernetes/main/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/main/apps/default/nextcloud/app/nfs-pvc.yaml
Labels: area/kubernetes, cluster/main

chore: netpol
  kubernetes/main/apps/renovate/renovate-operator/app/ciliumnetworkpolicy.yaml
  kubernetes/main/apps/renovate/renovate-operator/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: fix renovate image
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: platformCommit is set in my renovate config; maybe this gets rid of the warning
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: re-add sha256 hash
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: archive miniflux, monica, vikunja, n8n
  .archive/kubernetes/apps/default/miniflux/app/externalsecret.yaml
  .archive/kubernetes/apps/default/miniflux/app/helmrelease.yaml
  .archive/kubernetes/apps/default/miniflux/app/kustomization.yaml
  .archive/kubernetes/apps/default/miniflux/ks.yaml
  .archive/kubernetes/apps/default/monica/app/app/externalsecret.yaml
  .archive/kubernetes/apps/default/monica/app/app/helmrelease.yaml
  .archive/kubernetes/apps/default/monica/app/app/kustomization.yaml
  .archive/kubernetes/apps/default/monica/ks.yaml
  .archive/kubernetes/apps/default/n8n/app/externalsecret.yaml
  .archive/kubernetes/apps/default/n8n/app/helmrelease.yaml
  .archive/kubernetes/apps/default/n8n/ks.yaml
  .archive/kubernetes/apps/default/vikunja/app/configmap.yaml
  .archive/kubernetes/apps/default/vikunja/app/externalsecret.yaml
  .archive/kubernetes/apps/default/vikunja/app/helmrelease.yaml
  .archive/kubernetes/apps/default/vikunja/app/kustomization.yaml
  .archive/kubernetes/apps/default/vikunja/app/volsync.yaml
  .archive/kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/externalsecret.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: netpol for echo
  kubernetes/base/apps/default/echo/ciliumnetworkpolicy.yaml
  kubernetes/base/apps/default/echo/kustomization.yaml
Labels: area/kubernetes

feat: tududi
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/tududi/app/externalsecret.yaml
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
  kubernetes/network/apps/default/tududi/app/kustomization.yaml
  kubernetes/network/apps/default/tududi/ks.yaml
Labels: area/kubernetes, cluster/network

chore: authelia
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: base_url
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: recreate
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: fix proxy
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: maybe?
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: probes
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network
