Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: make fluent-bit deployments identical with substitutions
  kubernetes/main/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/main/apps/observability/fluent-bit/ks.yaml
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/network/apps/observability/fluent-bit/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: collapse fluent-bit into base; add to registry cluster
  kubernetes/apps/base/observability/fluent-bit/helmrelease.yaml
  kubernetes/apps/base/observability/fluent-bit/kustomization.yaml
  kubernetes/apps/base/observability/fluent-bit/ocirepository.yaml
  kubernetes/main/apps/observability/fluent-bit.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/fluent-bit.yaml
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/network/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/network/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/registry/apps/observability/fluent-bit.yaml
  kubernetes/registry/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

feat: resurrect homepage
  .archive/kubernetes/apps/default/homepage/app/externalsecret.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/services.yaml.txt
  kubernetes/apps/base/default/homepage/externalsecret.yaml
  kubernetes/apps/base/default/homepage/helmrelease.yaml
  kubernetes/apps/base/default/homepage/kustomization.yaml
  kubernetes/apps/base/default/homepage/ocirepository.yaml
  kubernetes/apps/base/default/homepage/rbac.yaml
  kubernetes/apps/base/default/homepage/resources/bookmarks.yaml
  kubernetes/apps/base/default/homepage/resources/custom.css
  kubernetes/apps/base/default/homepage/resources/custom.js
  kubernetes/apps/base/default/homepage/resources/docker.yaml
  kubernetes/apps/base/default/homepage/resources/kubernetes.yaml
  kubernetes/apps/base/default/homepage/resources/proxmox.yaml
  kubernetes/apps/base/default/homepage/resources/services.yaml
  kubernetes/apps/base/default/homepage/resources/settings.yaml
  kubernetes/apps/base/default/homepage/resources/widgets.yaml
  kubernetes/network/apps/default/homepage.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(homepage): omada
  kubernetes/apps/base/default/homepage/externalsecret.yaml
  kubernetes/apps/base/default/homepage/resources/services.yaml
Labels: area/kubernetes

fix: homepage version
  kubernetes/apps/base/default/homepage/helmrelease.yaml
Labels: area/kubernetes

chore: disable omada widget
  kubernetes/apps/base/default/homepage/resources/services.yaml
Labels: area/kubernetes

chore: add coordinates
  kubernetes/network/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/network

chore: grafana homepage
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: more monitoring pages
  kubernetes/apps/base/default/homepage/resources/services.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/network

argocd: add a readonly acct for monitoring
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(homepage): argocd
  kubernetes/apps/base/default/homepage/externalsecret.yaml
  kubernetes/apps/base/default/homepage/resources/services.yaml
  kubernetes/apps/base/default/homepage/resources/settings.yaml
Labels: area/kubernetes

chore(homepage): add resources from main cluster
  kubernetes/apps/base/default/homepage/externalsecret.yaml
  kubernetes/apps/base/default/homepage/resources/services.yaml
  kubernetes/apps/base/default/homepage/resources/settings.yaml
Labels: area/kubernetes

chore: more homepage services
  kubernetes/apps/base/default/bentopdf/helmrelease.yaml
  kubernetes/apps/base/default/esphome/helmrelease.yaml
  kubernetes/apps/base/default/homepage/resources/services.yaml
  kubernetes/apps/base/default/it-tools/helmrelease.yaml
  kubernetes/apps/base/default/kochhaus-docs/helmrelease.yaml
  kubernetes/apps/base/default/node-red/helmrelease.yaml
  kubernetes/apps/base/default/zigbee2mqtt/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: more homepage services
  kubernetes/apps/base/default/bentopdf/helmrelease.yaml
  kubernetes/apps/base/default/esphome/helmrelease.yaml
  kubernetes/apps/base/default/homepage/resources/services.yaml
  kubernetes/apps/base/default/it-tools/helmrelease.yaml
  kubernetes/apps/base/default/kochhaus-docs/helmrelease.yaml
  kubernetes/apps/base/default/node-red/helmrelease.yaml
  kubernetes/apps/base/default/zigbee2mqtt/helmrelease.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/siren/app/helmrelease.yaml
  kubernetes/network/apps/storage/longhorn/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore(homepage): add gateways
  kubernetes/apps/base/default/homepage/resources/services.yaml
Labels: area/kubernetes

chore: remove annotations
  kubernetes/network/apps/storage/longhorn/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore: update homer links
  kubernetes/apps/base/default/homer/resources/homer-config.yaml
Labels: area/kubernetes

chore: homepage still sucks
  .archive/kubernetes/apps/default/homepage/app/externalsecret.yaml
  .archive/kubernetes/apps/default/homepage/app/helmrelease.yaml
  .archive/kubernetes/apps/default/homepage/app/kustomization.yaml
  .archive/kubernetes/apps/default/homepage/app/ocirepository.yaml
  .archive/kubernetes/apps/default/homepage/app/rbac.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/bookmarks.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/custom.css
  .archive/kubernetes/apps/default/homepage/app/resources/custom.js
  .archive/kubernetes/apps/default/homepage/app/resources/docker.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/kubernetes.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/proxmox.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/services.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/settings.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/widgets.yaml
  .archive/kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/base/default/bentopdf/helmrelease.yaml
  kubernetes/apps/base/default/esphome/helmrelease.yaml
  kubernetes/apps/base/default/it-tools/helmrelease.yaml
  kubernetes/apps/base/default/kochhaus-docs/helmrelease.yaml
  kubernetes/apps/base/default/node-red/helmrelease.yaml
  kubernetes/apps/base/default/zigbee2mqtt/helmrelease.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/siren/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: fix siren logo
  kubernetes/apps/base/default/homer/resources/homer-config.yaml
Labels: area/kubernetes

chore: tweak some resources
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: remove registry cluster from external networking
  kubernetes/registry/apps/network/cloudflare-dns.yaml
  kubernetes/registry/apps/network/cloudflare-tunnel.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/registry

chore: fluent-bit -> vlagent
  .archive/kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  .archive/kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  .archive/kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  .archive/kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/base/observability/victoria-logs/collector/helmrelease.yaml
  kubernetes/apps/base/observability/victoria-logs/collector/ocirepository.yaml
  kubernetes/apps/base/observability/victoria-logs/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/victoria-logs.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/victoria-logs.yaml
  kubernetes/registry/apps/observability/kustomization.yaml
  kubernetes/registry/apps/observability/victoria-logs.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: fluent-bit -> vlagent
  .archive/kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  .archive/kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  .archive/kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  .archive/kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/base/observability/victoria-logs/collector/helmrelease.yaml
  kubernetes/apps/base/observability/victoria-logs/collector/kustomization.yaml
  kubernetes/apps/base/observability/victoria-logs/collector/ocirepository.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/victoria-logs.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/victoria-logs.yaml
  kubernetes/registry/apps/observability/kustomization.yaml
  kubernetes/registry/apps/observability/victoria-logs.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add app.kubernetes.io/name label to victoria-logs streams
  kubernetes/apps/base/observability/victoria-logs/collector/helmrelease.yaml
Labels: area/kubernetes

chore: add ceph-csi-drivers chart
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ceph-csi-drivers/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ceph-csi-drivers/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ceph-csi-drivers/ocirepository.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

chore: remove unused resource specs
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: merge openebs into base
  kubernetes/apps/base/storage/openebs/helmrelease.yaml
  kubernetes/apps/base/storage/openebs/kustomization.yaml
  kubernetes/apps/base/storage/openebs/ocirepository.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/storage/openebs.yaml
  kubernetes/network/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/network/apps/storage/openebs/app/kustomization.yaml
  kubernetes/network/apps/storage/openebs/app/ocirepository.yaml
  kubernetes/registry/apps/storage/kustomization.yaml
  kubernetes/registry/apps/storage/openebs.yaml
  kubernetes/registry/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/registry/apps/storage/openebs/app/kustomization.yaml
  kubernetes/registry/apps/storage/openebs/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: merge openebs into base (#11302)
  kubernetes/apps/base/storage/openebs/helmrelease.yaml
  kubernetes/apps/base/storage/openebs/kustomization.yaml
  kubernetes/apps/base/storage/openebs/ocirepository.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/storage/openebs.yaml
  kubernetes/network/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/network/apps/storage/openebs/app/kustomization.yaml
  kubernetes/network/apps/storage/openebs/app/ocirepository.yaml
  kubernetes/registry/apps/storage/kustomization.yaml
  kubernetes/registry/apps/storage/openebs.yaml
  kubernetes/registry/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/registry/apps/storage/openebs/app/kustomization.yaml
  kubernetes/registry/apps/storage/openebs/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move csi-driver-nfs to base
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
  kubernetes/apps/base/storage/csi-driver-nfs/kustomization.yaml
  kubernetes/apps/base/storage/csi-driver-nfs/ocirepository.yaml
  kubernetes/main/apps/storage/csi-driver-nfs.yaml
  kubernetes/main/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move webhook to base
  kubernetes/apps/base/tools/webhook/externalsecret.yaml
  kubernetes/apps/base/tools/webhook/helmrelease.yaml
  kubernetes/apps/base/tools/webhook/kustomization.yaml
  kubernetes/apps/base/tools/webhook/ocirepository.yaml
  kubernetes/apps/base/tools/webhook/resources/hooks.yaml
  kubernetes/apps/base/tools/webhook/resources/jellyseerr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/radarr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-refresh-series.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-tag-codecs.sh
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/webhook.yaml
Labels: area/kubernetes, cluster/main

chore: start bootstrap merging
  Taskfile.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  bootstrap/network/helmfile.d/01-apps.yaml
  bootstrap/registry/helmfile.d/01-apps.yaml
Labels: area/bootstrap, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: merge envoy config (mostly)
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/main/apps/network/envoy-gateway/ks.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: bring flux-operator in sync between clusters
  kubernetes/main/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-operator/ks.yaml
  kubernetes/network/components/gatus/external/config.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: allow mise lock
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

feat: mealie recipe manager
  kubernetes/apps/base/default/mealie/externalsecret.yaml
  kubernetes/apps/base/default/mealie/helmrelease.yaml
  kubernetes/apps/base/default/mealie/kustomization.yaml
  kubernetes/main/apps/default/mealie.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

actually add the ks
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

also add the OCI repository
  kubernetes/apps/base/default/mealie/kustomization.yaml
  kubernetes/apps/base/default/mealie/ocirepository.yaml
Labels: area/kubernetes

chore: allow mise lock
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

feat: mealie recipe manager (#11376)
  kubernetes/apps/base/default/mealie/externalsecret.yaml
  kubernetes/apps/base/default/mealie/helmrelease.yaml
  kubernetes/apps/base/default/mealie/kustomization.yaml
  kubernetes/apps/base/default/mealie/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/mealie.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: renovate allowedUnsafeExecutions
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
