Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

Terraform harbor (#11477)
  .gitignore
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  terraform/harbor/backend.tf
  terraform/harbor/config_auth.tf
  terraform/harbor/config_system.tf
  terraform/harbor/interrogation.tf
  terraform/harbor/main.tf
  terraform/harbor/outputs.tf
  terraform/harbor/projects.tf
  terraform/harbor/purge_audit_log.tf
  terraform/harbor/retention.tf
  terraform/harbor/robots.tf
  terraform/harbor/secrets.tf
  terraform/harbor/variables.tf
Labels: area/talos, cluster/main, cluster/network

chore: trust my containers too
  .renovate/autoMerge.json5
Labels: none

chore: etcd-defrag
  kubernetes/apps/base/kube-system/etcd-defrag/externalsecret.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/helmrelease.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/kustomization.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/ocirepository.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/resources/dyndns.sh
  kubernetes/apps/base/kube-system/etcd-defrag/serviceaccount.yaml
  kubernetes/main/apps/kube-system/etcd-defrag.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/etcd-defrag.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos, cluster/main, cluster/network

feat(renovate): allow 'mise install && mise lock' post-upgrade task
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: add terraform replication example
  terraform/harbor/replication.tf
Labels: none

chore: move talos install image back to machineconfig.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
Labels: area/talos, cluster/main

feat: trek
  kubernetes/apps/base/default/trek/externalsecret.yaml
  kubernetes/apps/base/default/trek/helmrelease.yaml
  kubernetes/apps/base/default/trek/kustomization.yaml
  kubernetes/apps/base/default/trek/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/trek.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: replace renovate-entrypoint.sh to install node
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/kustomization.yaml
  kubernetes/main/apps/renovate/renovate-operator/jobs/renovate-entrypoint.sh
Labels: area/kubernetes, cluster/main

chore(renovate): try -full image
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

feat: chaski
  kubernetes/apps/base/default/chaski/externalsecret.yaml
  kubernetes/apps/base/default/chaski/helmrelease.yaml
  kubernetes/apps/base/default/chaski/kustomization.yaml
  kubernetes/apps/base/default/chaski/ocirepository.yaml
  kubernetes/main/apps/default/chaski.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: retire webhook
  kubernetes/apps/base/tools/webhook/externalsecret.yaml
  kubernetes/apps/base/tools/webhook/helmrelease.yaml
  kubernetes/apps/base/tools/webhook/kustomization.yaml
  kubernetes/apps/base/tools/webhook/ocirepository.yaml
  kubernetes/apps/base/tools/webhook/resources/hooks.yaml
  kubernetes/apps/base/tools/webhook/resources/jellyseerr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/radarr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-refresh-series.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-tag-codecs.sh
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/webhook.yaml
Labels: area/kubernetes, cluster/main

chore: move descheduler, reloader to kube-system namespace; delete tools namespace
  kubernetes/apps/base/kube-system/descheduler/helmrelease.yaml
  kubernetes/apps/base/kube-system/descheduler/kustomization.yaml
  kubernetes/apps/base/kube-system/descheduler/ocirepository.yaml
  kubernetes/apps/base/kube-system/reloader/helmrelease.yaml
  kubernetes/apps/base/kube-system/reloader/kustomization.yaml
  kubernetes/apps/base/kube-system/reloader/ocirepository.yaml
  kubernetes/main/apps/kube-system/descheduler.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/reloader.yaml
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/namespace.yaml
  kubernetes/network/apps/kube-system/descheduler.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/reloader.yaml
  kubernetes/network/apps/tools/kustomization.yaml
  kubernetes/network/apps/tools/namespace.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
  kubernetes/registry/apps/kube-system/reloader.yaml
  kubernetes/registry/apps/tools/kustomization.yaml
  kubernetes/registry/apps/tools/namespace.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move actions-runner-controller to base folder
  .taskfiles/Kubernetes/Taskfile.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/ocirepository.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/java/externalsecret.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/java/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/java/kustomization.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/java/ocirepository.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/java/rbac.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

chore: move argocd to base folder
  kubernetes/apps/base/argo/argocd/externalsecret.yaml
  kubernetes/apps/base/argo/argocd/helmrelease.yaml
  kubernetes/apps/base/argo/argocd/httproute.yaml
  kubernetes/apps/base/argo/argocd/kustomization.yaml
  kubernetes/apps/base/argo/argocd/ocirepository.yaml
  kubernetes/main/apps/argo/argocd.yaml
  kubernetes/main/apps/argo/kustomization.yaml
  kubernetes/main/apps/argo/projects/argo-test.yaml
  kubernetes/main/apps/argo/projects/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move kyverno to base folder
  kubernetes/apps/base/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/base/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/base/kyverno/kyverno/app/ocirepository.yaml
  kubernetes/apps/base/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/base/kyverno/kyverno/policies/add-safe-to-evict.yaml
  kubernetes/apps/base/kyverno/kyverno/policies/apply-volsync-annotations.yaml
  kubernetes/apps/base/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/base/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/kyverno/kyverno.yaml
Labels: area/kubernetes, cluster/main

chore: move renovate-operator to base folder
  kubernetes/apps/base/renovate/renovate-operator/ciliumnetworkpolicy.yaml
  kubernetes/apps/base/renovate/renovate-operator/helmrelease.yaml
  kubernetes/apps/base/renovate/renovate-operator/httproute.yaml
  kubernetes/apps/base/renovate/renovate-operator/kustomization.yaml
  kubernetes/apps/base/renovate/renovate-operator/ocirepository.yaml
  kubernetes/main/apps/renovate/jobs/externalsecret.yaml
  kubernetes/main/apps/renovate/jobs/kochhaus.yaml
  kubernetes/main/apps/renovate/jobs/kustomization.yaml
  kubernetes/main/apps/renovate/kustomization.yaml
  kubernetes/main/apps/renovate/renovate-operator.yaml
Labels: area/kubernetes, cluster/main

chore: remove labels
  kubernetes/apps/base/dev/forgejo-runner/helmrelease.yaml
Labels: area/kubernetes

chore: rename actions-runner; add to network cluster
  .github/workflows/image-pull.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/network/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/network/apps/actions-runner-system/kustomization.yaml
  kubernetes/network/apps/actions-runner-system/namespace.yaml
  kubernetes/network/components/gatus/internal/config.yaml
  kubernetes/network/components/gatus/internal/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/network

chore: use doug piranha; rename bot secrets
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/main/apps/renovate/jobs/externalsecret.yaml
  kubernetes/main/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/network/components/common/alerts/github-status/externalsecret.yaml
Labels: area/kubernetes, cluster/main, cluster/network

feat: konflate
  kubernetes/apps/base/flux-system/konflate/externalsecret.yaml
  kubernetes/apps/base/flux-system/konflate/helmrelease.yaml
  kubernetes/apps/base/flux-system/konflate/kustomization.yaml
  kubernetes/apps/base/flux-system/konflate/ocirepository.yaml
  kubernetes/main/apps/flux-system/konflate.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/network/apps/flux-system/konflate.yaml
  kubernetes/network/apps/flux-system/kustomization.yaml
  kubernetes/registry/apps/flux-system/konflate.yaml
  kubernetes/registry/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: remove flux-local and helm-repository-sync workflows
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore: CLUSTER experiment
  kubernetes/main/apps/flux-system/konflate.yaml
  kubernetes/main/flux/cluster/ks.yaml
  kubernetes/network/apps/flux-system/konflate.yaml
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/registry/apps/flux-system/konflate.yaml
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: remove redundant CLUSTER: ${CLUSTER} substitutions
  .archive/kubernetes/apps/observability/fluent-bit/ks.yaml
  .github/CODEOWNERS
  kubernetes/main/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/main/apps/flux-system/flux-instance/ks.yaml
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
  kubernetes/main/apps/network/bind-dns.yaml
  kubernetes/main/apps/network/certificates.yaml
  kubernetes/main/apps/network/cloudflare-dns.yaml
  kubernetes/main/apps/network/cloudflare-tunnel.yaml
  kubernetes/main/apps/network/envoy-gateway/ks.yaml
  kubernetes/main/apps/observability/karma.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack.yaml
  kubernetes/main/apps/observability/siren.yaml
  kubernetes/main/apps/observability/victoria-logs.yaml
  kubernetes/network/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/network/apps/flux-system/flux-instance/ks.yaml
  kubernetes/network/apps/flux-system/flux-operator/ks.yaml
  kubernetes/network/apps/network/bind-dns.yaml
  kubernetes/network/apps/network/certificates.yaml
  kubernetes/network/apps/network/cloudflare-dns.yaml
  kubernetes/network/apps/network/cloudflare-tunnel.yaml
  kubernetes/network/apps/network/envoy-gateway/ks.yaml
  kubernetes/network/apps/observability/karma.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack.yaml
  kubernetes/network/apps/observability/siren.yaml
  kubernetes/network/apps/observability/victoria-logs.yaml
  kubernetes/registry/apps/flux-system/flux-instance/ks.yaml
  kubernetes/registry/apps/flux-system/flux-operator/ks.yaml
  kubernetes/registry/apps/network/bind-dns.yaml
  kubernetes/registry/apps/network/certificates.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
  kubernetes/registry/apps/observability/victoria-logs.yaml
Labels: area/github, area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add replicas variable
  kubernetes/apps/base/kube-system/metrics-server/helmrelease.yaml
  kubernetes/apps/base/storage/snapshot-controller/helmrelease.yaml
  kubernetes/main/apps/kube-system/metrics-server.yaml
  kubernetes/main/apps/storage/snapshot-controller.yaml
  kubernetes/network/apps/kube-system/metrics-server.yaml
  kubernetes/network/apps/storage/snapshot-controller.yaml
  kubernetes/registry/apps/kube-system/metrics-server.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: try central targetNamespace replacements
  kubernetes/components/replacements/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move flux-operator to base folder
  kubernetes/apps/base/flux-system/flux-operator/clusterrolebinding.yaml
  kubernetes/apps/base/flux-system/flux-operator/helmrelease.yaml
  kubernetes/apps/base/flux-system/flux-operator/httproute.yaml
  kubernetes/apps/base/flux-system/flux-operator/kustomization.yaml
  kubernetes/apps/base/flux-system/flux-operator/ocirepository.yaml
  kubernetes/main/apps/default/echo.yaml
  kubernetes/main/apps/flux-system/flux-operator.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/network/apps/flux-system/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-operator.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/registry/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/registry/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(flux): return to versioned manifests
  kubernetes/main/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move dnssec-exporter to base folder
  kubernetes/apps/base/observability/dnssec-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/dnssec-exporter/kustomization.yaml
  kubernetes/apps/base/observability/dnssec-exporter/ocirepository.yaml
  kubernetes/apps/base/observability/dnssec-exporter/prometheusrule.yaml
  kubernetes/apps/base/observability/dnssec-exporter/secret.sops.yaml
  kubernetes/network/apps/observability/dnssec-exporter.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move tplink-plug-exporter to base folder
  kubernetes/apps/base/observability/tplink-plug-exporter/dashboard/kustomization.yaml
  kubernetes/apps/base/observability/tplink-plug-exporter/dashboard/tplink-plug-exporter.json
  kubernetes/apps/base/observability/tplink-plug-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/tplink-plug-exporter/kustomization.yaml
  kubernetes/apps/base/observability/tplink-plug-exporter/ocirepository.yaml
  kubernetes/apps/base/observability/tplink-plug-exporter/prometheus.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/tplink-plug-exporter.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/dashboard/tplink-plug-exporter.json
  kubernetes/network/apps/observability/tplink-plug-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/ocirepository.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/prometheus.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move keda to base folder
  kubernetes/apps/base/observability/keda/helmrelease.yaml
  kubernetes/apps/base/observability/keda/kustomization.yaml
  kubernetes/apps/base/observability/keda/ocirepository.yaml
  kubernetes/main/apps/observability/keda.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/keda.yaml
  kubernetes/network/apps/observability/keda/app/helmrelease.yaml
  kubernetes/network/apps/observability/keda/app/kustomization.yaml
  kubernetes/network/apps/observability/keda/app/ocirepository.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move kromgo to base folder
  kubernetes/apps/base/observability/kromgo/helmrelease.yaml
  kubernetes/apps/base/observability/kromgo/kustomization.yaml
  kubernetes/apps/base/observability/kromgo/ocirepository.yaml
  kubernetes/apps/base/observability/kromgo/resources/config.yaml
  kubernetes/main/apps/observability/kromgo.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move json-exporter to base folder
  kubernetes/apps/base/observability/json-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/json-exporter/kustomization.yaml
  kubernetes/apps/base/observability/json-exporter/ocirepository.yaml
  kubernetes/apps/base/observability/json-exporter/probes.yaml
  kubernetes/apps/base/observability/json-exporter/prometheusrule.yaml
  kubernetes/apps/base/observability/json-exporter/resources/config.yaml
  kubernetes/network/apps/observability/json-exporter.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: move goldpinger to base folder
  kubernetes/apps/base/observability/goldpinger/helmrelease.yaml
  kubernetes/apps/base/observability/goldpinger/helmrepository.yaml
  kubernetes/apps/base/observability/goldpinger/httproute.yaml
  kubernetes/apps/base/observability/goldpinger/kustomization.yaml
  kubernetes/main/apps/observability/goldpinger.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move omada-exporter to base folder
  kubernetes/apps/base/observability/omada-exporter/dashboard/README.md
  kubernetes/apps/base/observability/omada-exporter/dashboard/kustomization.yaml
  kubernetes/apps/base/observability/omada-exporter/dashboard/omada-controller.json
  kubernetes/apps/base/observability/omada-exporter/externalsecret.yaml
  kubernetes/apps/base/observability/omada-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/omada-exporter/kustomization.yaml
  kubernetes/apps/base/observability/omada-exporter/ocirepository.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/omada-exporter.yaml
Labels: area/kubernetes, cluster/network

chore: move opnsense-exporter to base folder
  kubernetes/apps/base/observability/opnsense-exporter/externalsecret.yaml
  kubernetes/apps/base/observability/opnsense-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/opnsense-exporter/kustomization.yaml
  kubernetes/apps/base/observability/opnsense-exporter/ocirepository.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/opnsense-exporter.yaml
Labels: area/kubernetes, cluster/network

chore: make silence-operator instances consistent
  kubernetes/main/apps/observability/silence-operator/silences/silences.yaml
  kubernetes/network/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/main, cluster/network

move silence-operator to base folder
  kubernetes/apps/base/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/base/observability/silence-operator/app/kustomization.yaml
  kubernetes/apps/base/observability/silence-operator/app/ocirepository.yaml
  kubernetes/apps/base/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/base/observability/silence-operator/silences/silences.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/silence-operator.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator.yaml
  kubernetes/network/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/network/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/app/ocirepository.yaml
  kubernetes/network/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/network/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move snmp-exporter to base folder
  kubernetes/apps/base/observability/snmp-exporter/kustomization.yaml
  kubernetes/apps/base/observability/snmp-exporter/opnsense/helmrelease.yaml
  kubernetes/apps/base/observability/snmp-exporter/opnsense/kustomization.yaml
  kubernetes/apps/base/observability/snmp-exporter/opnsense/ocirepository.yaml
  kubernetes/apps/base/observability/snmp-exporter/opnsense/resources/dashboard.json
  kubernetes/apps/base/observability/snmp-exporter/opnsense/resources/snmp.yaml
  kubernetes/network/apps/observability/snmp-exporter.yaml
  kubernetes/network/apps/observability/snmp-exporter/app/opnsense/resources/snmp.yaml
Labels: area/kubernetes, cluster/network

chore: move smokeping to base folder
  kubernetes/apps/base/observability/smokeping/config-pvc.yaml
  kubernetes/apps/base/observability/smokeping/helmrelease.yaml
  kubernetes/apps/base/observability/smokeping/kustomization.yaml
  kubernetes/apps/base/observability/smokeping/ocirepository.yaml
  kubernetes/apps/base/observability/smokeping/secret.sops.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/smokeping.yaml
Labels: area/kubernetes, cluster/main

chore: move speedtest-exporter to base folder
  kubernetes/apps/base/observability/speedtest-exporter/dashboard/kustomization.yaml
  kubernetes/apps/base/observability/speedtest-exporter/dashboard/speedtest_exporter.json
  kubernetes/apps/base/observability/speedtest-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/speedtest-exporter/kustomization.yaml
  kubernetes/apps/base/observability/speedtest-exporter/ocirepository.yaml
  kubernetes/apps/base/observability/speedtest-exporter/servicemonitor.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/speedtest-exporter.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
