Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*

chore(gatus): adjust serviceAccount spec
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(homepage): update serviceAccount spec
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(dragonfly): adjust serviceAccount spec
  kubernetes/main/apps/dbms/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(jenkins): adjust serviceAccount spec
  kubernetes/main/apps/jenkins/jenkins/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(syncthing): add pvc suffix
  kubernetes/main/apps/storage/syncthing/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(renovate): remove app-template rule
  .github/renovate/packageRules.json5
Labels: area/github, area/renovate

chore(karakeep): fix podAffinity for app-template 4.0.1
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: calico whisker
  kubernetes/main/apps/calico-system/calico/addons/kustomization.yaml
  kubernetes/main/apps/calico-system/calico/addons/whisker/ingress.yaml
  kubernetes/main/apps/calico-system/calico/addons/whisker/kustomization.yaml
  kubernetes/main/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
  kubernetes/main/apps/calico-system/calico/ks.yaml
Labels: area/kubernetes, cluster/main

chore(calico): fix whisker netpol
  kubernetes/main/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
Labels: area/kubernetes, cluster/main

feat: whisker (network cluster)
  kubernetes/network/apps/calico-system/calico/addons/kustomization.yaml
  kubernetes/network/apps/calico-system/calico/addons/whisker/ingress.yaml
  kubernetes/network/apps/calico-system/calico/addons/whisker/kustomization.yaml
  kubernetes/network/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
  kubernetes/network/apps/calico-system/calico/ks.yaml
  kubernetes/network/apps/calico-system/kustomization.yaml
Labels: area/kubernetes, cluster/network

replace emqx with mosquitto
  kubernetes/network/apps/default/emqx/app/externalsecret.yaml
  kubernetes/network/apps/default/emqx/app/helmrelease.yaml
  kubernetes/network/apps/default/emqx/cluster/cluster.yaml
  kubernetes/network/apps/default/emqx/cluster/ingress.yaml
  kubernetes/network/apps/default/emqx/cluster/kustomization.yaml
  kubernetes/network/apps/default/emqx/cluster/podmonitor.yaml
  kubernetes/network/apps/default/emqx/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/network/apps/default/mosquitto/app/gatus.yaml
  kubernetes/network/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/network/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/network/apps/default/mosquitto/app/pvc.yaml
  kubernetes/network/apps/default/mosquitto/app/resources/mosquitto.conf
  kubernetes/network/apps/default/mosquitto/ks.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/helmrelease.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network/components/common/cluster-settings.yaml
  kubernetes/network/flux/meta/repositories/helm/emqx.yaml
  kubernetes/network/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/network

replace emqx with mosquitto (#7137)
  kubernetes/network/apps/default/emqx/app/externalsecret.yaml
  kubernetes/network/apps/default/emqx/app/helmrelease.yaml
  kubernetes/network/apps/default/emqx/cluster/cluster.yaml
  kubernetes/network/apps/default/emqx/cluster/ingress.yaml
  kubernetes/network/apps/default/emqx/cluster/kustomization.yaml
  kubernetes/network/apps/default/emqx/cluster/podmonitor.yaml
  kubernetes/network/apps/default/emqx/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/network/apps/default/mosquitto/app/gatus.yaml
  kubernetes/network/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/network/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/network/apps/default/mosquitto/app/pvc.yaml
  kubernetes/network/apps/default/mosquitto/app/resources/mosquitto.conf
  kubernetes/network/apps/default/mosquitto/ks.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/helmrelease.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network/components/common/cluster-settings.yaml
  kubernetes/network/flux/meta/repositories/helm/emqx.yaml
  kubernetes/network/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/network

update ks.yaml; operator values fixes
  kubernetes/main/apps/tools/intel-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/tools/intel-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/main

chore(tigera-operator): iptablesBackend -> Auto
  kubernetes/main/apps/tigera-operator/tigera-operator/app/felixconfiguration.yaml
Labels: area/kubernetes, cluster/main

kube-proxy nftables
  ansible/main/inventory/group_vars/master/main.yaml
  ansible/main/inventory/group_vars/worker/main.yaml
Labels: area/ansible, cluster/main

update whisker networkpolicy
  kubernetes/main/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
Labels: area/kubernetes, cluster/main

chore(alertmanager): increase pushover ttl
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): add gatus-guarded
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/main

remove thanos
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/objectbucketclaim.yaml
  kubernetes/main/apps/monitoring/thanos/app/resources/cache.yaml
  kubernetes/main/apps/monitoring/thanos/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/components/common/cluster-settings.yaml
  talos/registry/patches/controller/cluster.yaml
Labels: area/kubernetes, area/talos, cluster/main, cluster/network

remove thanos (#7164)
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/objectbucketclaim.yaml
  kubernetes/main/apps/monitoring/thanos/app/resources/cache.yaml
  kubernetes/main/apps/monitoring/thanos/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/components/common/cluster-settings.yaml
  talos/registry/patches/controller/cluster.yaml
Labels: area/kubernetes, area/talos, cluster/main, cluster/network

add grafana to network cluster
  kubernetes/network/apps/observability/grafana/app/dashboards/etcd-dashboard.json
  kubernetes/network/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/network/apps/observability/grafana/app/dashboards/node-aggregate.json
  kubernetes/network/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/kustomization.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

add grafana to network cluster (#7165)
  kubernetes/network/apps/observability/grafana/app/dashboards/etcd-dashboard.json
  kubernetes/network/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/network/apps/observability/grafana/app/dashboards/node-aggregate.json
  kubernetes/network/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/kustomization.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(grafana): k8s-sidecar from ghcr.io
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat(prometheus): switch to Prom++ image
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

copy tplink-plug-exporter to network cluster (for grafana)
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/dashboard/tplink-plug-exporter.json
  kubernetes/network/apps/observability/tplink-plug-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/prometheus.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/ks.yaml
  kubernetes/network/components/common/cluster-settings.yaml
Labels: area/kubernetes, cluster/network

chore(grafana): move omada, mqtt dashboards to network cluster
  kubernetes/main/apps/monitoring/miscellaneous/dashboards/kustomization.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/dashboard/house-sensors.json
  kubernetes/network/apps/default/mqtt-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/kustomization.yaml
  kubernetes/network/apps/default/omada-controller/app/dashboard/README.md
  kubernetes/network/apps/default/omada-controller/app/dashboard/kustomization.yaml
  kubernetes/network/apps/default/omada-controller/app/dashboard/omada-controller.json
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(tplink-plug-exporter): use my container build (arm64)
  kubernetes/main/apps/monitoring/tplink-plug-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/tplink-plug-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

correct namespace for tplink
  kubernetes/network/apps/observability/tplink-plug-exporter/app/prometheus.yaml
Labels: area/kubernetes, cluster/network

chore(prometheus): add/move scrapeConfigs to network cluster
  kubernetes/network/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/externalsecret.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/jezebel.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/mnemosyne.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/wifi.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/wired.yaml
  kubernetes/network/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/network

chore(prometheus): remove unnecessary namespaces
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/jezebel.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/mnemosyne.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/jezebel.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/scrapeconfigs/mnemosyne.yaml
Labels: area/kubernetes, cluster/main, cluster/network

remove weather namespace
  kubernetes/main/apps/weather/kustomization.yaml
Labels: area/kubernetes, cluster/main

typo
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

actually move opnsense-exporter
  kubernetes/network/apps/observability/opnsense-exporter/app/externalsecret.yaml
  kubernetes/network/apps/observability/opnsense-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/opnsense-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/opnsense-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

move ping dashboard to "Home"
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(kube-prometheus-stack): manage CRDs with the main kps chart
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/main/apps/monitoring/prometheus-operator-crds/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/network/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/network/apps/observability/prometheus-operator-crds/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(alertmanager): fix inhibit matcher
  kubernetes/network/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/network

move prometheus-blackbox-exporter to network cluster
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wifi.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wired.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/dashboard/icmp.json
  kubernetes/network/apps/observability/blackbox-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/network/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
  kubernetes/network/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network

remove unneeded dashboards, rules, etc. from main
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/miscellaneous/dashboards/kustomization.yaml
  kubernetes/main/apps/monitoring/miscellaneous/dashboards/network-status/kustomization.yaml
  kubernetes/main/apps/monitoring/miscellaneous/dashboards/network-status/network-status.json
  kubernetes/main/apps/monitoring/miscellaneous/kustomization.yaml
  kubernetes/main/apps/monitoring/miscellaneous/rules/dockerhub.yaml
  kubernetes/main/apps/monitoring/miscellaneous/rules/kustomization.yaml
  kubernetes/main/apps/monitoring/miscellaneous/rules/nas.yaml
  kubernetes/main/apps/monitoring/miscellaneous/rules/oom.yaml
Labels: area/kubernetes, cluster/main

remove blocky monitoring from main
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: area/kubernetes, cluster/main

swap grafana/prometheus/alertmanager hostnames
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network
