Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: move pgadmin to base folder
  kubernetes/apps/base/dbms/pgadmin/externalsecret.yaml
  kubernetes/apps/base/dbms/pgadmin/helmrelease.yaml
  kubernetes/apps/base/dbms/pgadmin/kustomization.yaml
  kubernetes/apps/base/dbms/pgadmin/ocirepository.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/dbms/pgadmin.yaml
Labels: area/kubernetes, cluster/main

chore: move postgres-backup to base folder
  kubernetes/apps/base/dbms/postgres-backup/helmrelease.yaml
  kubernetes/apps/base/dbms/postgres-backup/kustomization.yaml
  kubernetes/apps/base/dbms/postgres-backup/ocirepository.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/dbms/postgres-backup.yaml
Labels: area/kubernetes, cluster/main

chore: pikvm
  kubernetes/apps/base/default/pikvm/backend.yaml
  kubernetes/apps/base/default/pikvm/httproute.yaml
  kubernetes/apps/base/default/pikvm/kustomization.yaml
  kubernetes/apps/base/default/pikvm/securitypolicy.yaml
  kubernetes/main/apps/default/pikvm1.yaml
Labels: area/kubernetes, cluster/main

chore: auto-update grafana-image-renderer again
  .renovate/autoMerge.json5
Labels: none

chore: move victorialogs dashboards to infrastructure folder
  kubernetes/apps/base/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

chore: karakeep/meilisearch fixes
  kubernetes/apps/base/default/karakeep/helmrelease.yaml
Labels: area/kubernetes

feat: bond networking
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium.yaml
Labels: area/kubernetes, cluster/network

chore: networking cluster to l3 only
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium/networking.yaml
Labels: area/kubernetes, cluster/network

chore: domain
  kubernetes/network/apps/security/onepassword/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: downgrade network cluster to talos v1.13.7
  kubernetes/network/apps/system-upgrade/upgrades/talosupgrade.yaml
  talos/network/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos, cluster/network

chore: change interface name for multus
  kubernetes/network/apps/network/multus/iot.yaml
Labels: area/kubernetes, cluster/network

chore: emergency bootstrap fixes
  .taskfiles/bootstrap/Taskfile.yaml
  bootstrap/network/helmfile.d/01-apps.yaml
  scripts/bootstrap-apps.sh
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/bootstrap, area/scripts, area/talos, area/taskfile, cluster/network

chore: add DEVICES variable; disable cilium L2 on main cluster
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/networking.yaml
Labels: area/kubernetes, cluster/main

chore: cannot use variables here
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
Labels: area/kubernetes

chore: move vip to BGP subnet
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

Revert "chore(github-release): update release grafana/grafana-image-renderer (mirror.gcr.io/grafana/grafana-image-renderer:v5.12.0 ➔ v5.12.1)"
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

Revert "feat(container): update image quay.io/cilium/charts/cilium (1.19.6 ➔ 1.20.0) (#11911)"
  kubernetes/apps/base/kube-system/cilium/ocirepository.yaml
Labels: area/kubernetes

chore: cannot change automount on running cluster
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
Labels: area/kubernetes

chore: upgrade cilium to 1.20.0
  kubernetes/apps/base/kube-system/cilium/ocirepository.yaml
Labels: area/kubernetes

chore: work around rook mgr oom
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: move talos main api endpoint to BGP
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
Labels: area/talos, cluster/main

chore: add ipv6 gateway
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

chore: yaml schema updates
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add longhorn observability netpol
  kubernetes/network/apps/storage/longhorn/app/kustomization.yaml
  kubernetes/network/apps/storage/longhorn/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/network

chore: switch alpine-chrome registry (for karakeep)
  kubernetes/apps/base/default/karakeep/helmrelease.yaml
Labels: area/kubernetes

chore: collapse onepassword into base folder
  kubernetes/apps/base/security/onepassword/clustersecretstore.yaml
  kubernetes/apps/base/security/onepassword/helmrelease.yaml
  kubernetes/apps/base/security/onepassword/kustomization.yaml
  kubernetes/apps/base/security/onepassword/ocirepository.yaml
  kubernetes/apps/base/security/onepassword/secret.sops.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/onepassword.yaml
  kubernetes/network/apps/security/kustomization.yaml
  kubernetes/network/apps/security/onepassword.yaml
  kubernetes/network/apps/security/onepassword/app/clustersecretstore.yaml
  kubernetes/network/apps/security/onepassword/app/helmrelease.yaml
  kubernetes/network/apps/security/onepassword/app/kustomization.yaml
  kubernetes/network/apps/security/onepassword/app/ocirepository.yaml
  kubernetes/network/apps/security/onepassword/app/secret.sops.yaml
  kubernetes/registry/apps/security/kustomization.yaml
  kubernetes/registry/apps/security/onepassword.yaml
  kubernetes/registry/apps/security/onepassword/app/clustersecretstore.yaml
  kubernetes/registry/apps/security/onepassword/app/helmrelease.yaml
  kubernetes/registry/apps/security/onepassword/app/kustomization.yaml
  kubernetes/registry/apps/security/onepassword/app/ocirepository.yaml
  kubernetes/registry/apps/security/onepassword/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: collapse authelia into base folder
  kubernetes/apps/base/security/authelia/externalsecret.yaml
  kubernetes/apps/base/security/authelia/helmrelease.yaml
  kubernetes/apps/base/security/authelia/kustomization.yaml
  kubernetes/apps/base/security/authelia/ocirepository.yaml
  kubernetes/apps/base/security/authelia/referencegrant.yaml
  kubernetes/apps/base/security/authelia/resources/configuration.yaml
  kubernetes/main/apps/security/authelia.yaml
  kubernetes/main/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move dmarc-report to base folder
  kubernetes/apps/base/default/dmarc-report/externalsecret.yaml
  kubernetes/apps/base/default/dmarc-report/helmrelease.yaml
  kubernetes/apps/base/default/dmarc-report/kustomization.yaml
  kubernetes/apps/base/default/dmarc-report/ocirepository.yaml
  kubernetes/main/apps/default/dmarc-report.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move lldap to base folder
  kubernetes/apps/base/security/lldap/externalsecret.yaml
  kubernetes/apps/base/security/lldap/helmrelease.yaml
  kubernetes/apps/base/security/lldap/kustomization.yaml
  kubernetes/apps/base/security/lldap/ocirepository.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/lldap.yaml
Labels: area/kubernetes, cluster/main

chore: renovate updates - use presets for cnpg, grafanaDashboards, talos; allow pg 18; remove old packages from noisy rule
  .renovate/allowedVersions.json5
  .renovate/grafanaDashboards.json5
  .renovate/overrides.json5
  .renovate/packageRules.json5
  .renovaterc.json5
Labels: none

chore: remove dependsOn: rook-ceph-cluster
  kubernetes/main/apps/dbms/pgadmin.yaml
  kubernetes/main/apps/default/bookboss.yaml
  kubernetes/main/apps/default/calibre-web.yaml
  kubernetes/main/apps/default/docmost.yaml
  kubernetes/main/apps/default/filebrowser.yaml
  kubernetes/main/apps/default/jellyfin.yaml
  kubernetes/main/apps/default/karakeep.yaml
  kubernetes/main/apps/default/mealie.yaml
  kubernetes/main/apps/default/nextcloud.yaml
  kubernetes/main/apps/default/onedrive.yaml
  kubernetes/main/apps/default/picoshare.yaml
  kubernetes/main/apps/default/populator-test/ks.yaml
  kubernetes/main/apps/default/syncthing.yaml
  kubernetes/main/apps/default/tautulli.yaml
  kubernetes/main/apps/default/trek.yaml
  kubernetes/main/apps/default/your-spotify.yaml
  kubernetes/main/apps/dev/forgejo.yaml
  kubernetes/main/apps/joomla/mariadb/ks.yaml
  kubernetes/main/apps/joomla/rtr/ks.yaml
  kubernetes/main/apps/observability/grafana.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack.yaml
  kubernetes/main/apps/observability/smokeping.yaml
  kubernetes/main/apps/observability/victoria-logs.yaml
Labels: area/kubernetes, cluster/main

fix(rook-ceph): rotate cephx daemon keys for CVE-2025-30156
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: fix talos group; add mise group
  .renovate/groups.json5
Labels: none

Revert "chore(github-release): update release grafana/grafana-image-renderer (mirror.gcr.io/grafana/grafana-image-renderer:v5.12.1 ➔ v5.12.2)"
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

chore: fix grafana image-renderer
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

chore: convert registry to new talos network config
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
Labels: area/talos, cluster/registry

chore: switch kube-apiserver LB from Cluster to Local
  kubernetes/main/apps/kube-system/cilium/networking.yaml
  kubernetes/network/apps/kube-system/cilium/networking.yaml
  kubernetes/registry/apps/kube-system/cilium/networking.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: components for pod-security
  kubernetes/components/psa-baseline/kustomization.yaml
  kubernetes/components/psa-privileged/kustomization.yaml
Labels: area/kubernetes

chore: ipv4
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

chore: still trying to fix ipv6 timeouts - just nuke ipv6 queries
  kubernetes/apps/base/kube-system/coredns/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
