Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: comment for kubesearch.dev
  kubernetes/network/apps/default/tududi/app/externalsecret.yaml
Labels: area/kubernetes, cluster/network

chore: update postgres-backup schema list
  kubernetes/main/apps/dbms/postgres-backup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: opencloud
  kubernetes/base/apps/default/opencloud/externalsecret.yaml
  kubernetes/base/apps/default/opencloud/helmrelease.yaml
  kubernetes/base/apps/default/opencloud/kustomization.yaml
  kubernetes/base/apps/default/opencloud/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/opencloud.yaml
Labels: area/kubernetes, cluster/main

chore: fix volsync path
  kubernetes/main/apps/default/opencloud.yaml
Labels: area/kubernetes, cluster/main

feat: opencloud (#10829)
  kubernetes/base/apps/default/opencloud/externalsecret.yaml
  kubernetes/base/apps/default/opencloud/helmrelease.yaml
  kubernetes/base/apps/default/opencloud/kustomization.yaml
  kubernetes/base/apps/default/opencloud/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/opencloud.yaml
Labels: area/kubernetes, cluster/main

chore: oidc fixes
  kubernetes/base/apps/default/opencloud/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: reduce drain timeout to make faster
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: remove MAP to prepare for k8s 1.36 upgrade
  kubernetes/base/apps/storage/volsync/kustomization.yaml
Labels: area/kubernetes

chore: remove MAP featuregate and update CDI to talos defaults
  kubernetes/main/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos, cluster/main, cluster/network, cluster/registry

chore: migrate to v1 MAPs
  kubernetes/base/apps/storage/volsync/kustomization.yaml
  kubernetes/base/apps/storage/volsync/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

chore: reduce karakeep memory
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: fix udev rule - user/group does not work in Talos 1.13
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/network

chore(rook-ceph): disable CephNodeInconsistentMTU prometheus alert
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(victoria-logs): use quay.io; deploy dashboards
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): use mirror.gcr.io
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: use mirror.gcr.io for static-web-server image
  kubernetes/main/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/main/apps/default/static-web/app/helmrelease.yaml
  kubernetes/network/apps/default/kochhaus-docs/app/helmrelease.yaml
  kubernetes/network/apps/default/populator-test/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: mirror.gcr.io for onedrive
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: mirror.gcr.io for docmost
  kubernetes/main/apps/default/docmost/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: mirror.gcr.io for prompp
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: mirror.gcr.io for openvpn
  kubernetes/main/apps/vpn/downloads-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(grafana): mirror.gcr.io
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: make renovate look in the right repository
  .renovaterc.json5
Labels: none

chore: victoria-logs service name changed
  kubernetes/main/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: adjust certificate renewal alert to use certificate renewal timestamp
  kubernetes/base/apps/cert-manager/cert-manager/prometheusrule.yaml
Labels: area/kubernetes

chore: group for argocd
  .renovate/groups.json5
Labels: none

Revert "fix(container): update ghcr.io/haraldkoch/maddy ( 0.9.3 → 0.9.4 ) [network] (#10894)"
  kubernetes/network/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: switch (registry) bind-dns to external-secrets
  kubernetes/registry/apps/network/bind-dns/app/externalsecret.yaml
  kubernetes/registry/apps/network/bind-dns/app/kustomization.yaml
  kubernetes/registry/apps/network/bind-dns/app/secret.sops.yaml
Labels: area/kubernetes, cluster/registry

chore: update secret name
  kubernetes/registry/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/registry

chore(bind-dns): use CLUSTER variable; remove crd support on registry
  kubernetes/main/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/main/apps/network/bind-dns/ks.yaml
  kubernetes/network/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/bind-dns/ks.yaml
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/bind-dns/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move bind-dns to base folder
  kubernetes/base/apps/network/bind-dns/externalsecret.yaml
  kubernetes/base/apps/network/bind-dns/helmrelease.yaml
  kubernetes/base/apps/network/bind-dns/kustomization.yaml
  kubernetes/base/apps/network/bind-dns/ocirepository.yaml
  kubernetes/main/apps/network/bind-dns.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/bind-dns.yaml
  kubernetes/network/apps/network/bind-dns/app/externalsecret.yaml
  kubernetes/network/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/network/apps/network/bind-dns/app/kustomization.yaml
  kubernetes/network/apps/network/bind-dns/app/ocirepository.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/registry/apps/network/bind-dns.yaml
  kubernetes/registry/apps/network/bind-dns/app/externalsecret.yaml
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/bind-dns/app/kustomization.yaml
  kubernetes/registry/apps/network/bind-dns/app/ocirepository.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: unify network/certificates
  kubernetes/main/apps/network/certificates/export/pushsecret.yaml
  kubernetes/main/apps/network/certificates/import/externalsecret.yaml
  kubernetes/main/apps/network/certificates/ks.yaml
  kubernetes/network/apps/network/certificates/export/pushsecret.yaml
  kubernetes/network/apps/network/certificates/import/externalsecret.yaml
  kubernetes/network/apps/network/certificates/ks.yaml
  kubernetes/registry/apps/network/certificates/export/certificate.yaml
  kubernetes/registry/apps/network/certificates/export/pushsecret.yaml
  kubernetes/registry/apps/network/certificates/import/externalsecret.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: move network/certificates to base folder
  kubernetes/base/apps/network/certificates/export/certificate.yaml
  kubernetes/base/apps/network/certificates/export/kustomization.yaml
  kubernetes/base/apps/network/certificates/export/pushsecret.yaml
  kubernetes/base/apps/network/certificates/import/externalsecret.yaml
  kubernetes/base/apps/network/certificates/import/kustomization.yaml
  kubernetes/main/apps/network/certificates.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/network/apps/network/certificates.yaml
  kubernetes/network/apps/network/certificates/export/certificate.yaml
  kubernetes/network/apps/network/certificates/export/kustomization.yaml
  kubernetes/network/apps/network/certificates/export/pushsecret.yaml
  kubernetes/network/apps/network/certificates/import/externalsecret.yaml
  kubernetes/network/apps/network/certificates/import/kustomization.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/registry/apps/network/certificates.yaml
  kubernetes/registry/apps/network/certificates/export/certificate.yaml
  kubernetes/registry/apps/network/certificates/export/kustomization.yaml
  kubernetes/registry/apps/network/certificates/export/pushsecret.yaml
  kubernetes/registry/apps/network/certificates/import/externalsecret.yaml
  kubernetes/registry/apps/network/certificates/import/kustomization.yaml
  kubernetes/registry/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: collapse metrics-server into base folder
  kubernetes/base/apps/kube-system/metrics-server/helmrelease.yaml
  kubernetes/base/apps/kube-system/metrics-server/kustomization.yaml
  kubernetes/base/apps/kube-system/metrics-server/ocirepository.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/metrics-server.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/metrics-server.yaml
  kubernetes/network/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/network/apps/kube-system/metrics-server/app/ocirepository.yaml
  kubernetes/registry/apps/kube-system/kustomization.yaml
  kubernetes/registry/apps/kube-system/metrics-server.yaml
  kubernetes/registry/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/registry/apps/kube-system/metrics-server/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: collapse intel-gpu-resource-driver into base folder
  kubernetes/base/apps/kube-system/intel-gpu-resource-driver/helmrelease.yaml
  kubernetes/base/apps/kube-system/intel-gpu-resource-driver/kustomization.yaml
  kubernetes/base/apps/kube-system/intel-gpu-resource-driver/ocirepository.yaml
  kubernetes/main/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: collape node-feature-discovery to base folder
  kubernetes/base/apps/kube-system/node-feature-discovery/helmrelease.yaml
  kubernetes/base/apps/kube-system/node-feature-discovery/kustomization.yaml
  kubernetes/base/apps/kube-system/node-feature-discovery/ocirepository.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery.yaml
Labels: area/kubernetes, cluster/network

feat: generic-device-plugin
  kubernetes/base/apps/kube-system/generic-device-plugin/helmrelease.yaml
  kubernetes/base/apps/kube-system/generic-device-plugin/kustomization.yaml
  kubernetes/base/apps/kube-system/generic-device-plugin/ocirepository.yaml
  kubernetes/network/apps/kube-system/generic-device-plugin.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: switch zigbee2mqtt to generic-device-plugin
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: add generic-device-plugin to main
  kubernetes/main/apps/kube-system/generic-device-plugin.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: run generic-device-plugin on CP nodes too
  kubernetes/base/apps/kube-system/generic-device-plugin/helmrelease.yaml
Labels: area/kubernetes

chore: fnord
  kubernetes/base/apps/kube-system/generic-device-plugin/helmrelease.yaml
Labels: area/kubernetes
