Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

Revert "feat(container): update rook-ceph group ( v1.17.8 → v1.18.0 ) [main] (#7919)"
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

archive olivetin
  .archive/kubernetes/apps/default/olivetin/app/externalsecret.yaml
  .archive/kubernetes/apps/default/olivetin/app/helmrelease.yaml
  .archive/kubernetes/apps/default/olivetin/app/kustomization.yaml
  .archive/kubernetes/apps/default/olivetin/app/resources/config.yaml
  .archive/kubernetes/apps/default/olivetin/app/scripts/kustomization.yaml
  .archive/kubernetes/apps/default/olivetin/app/scripts/olivetin-blocky-script.sh
  .archive/kubernetes/apps/default/olivetin/app/secret.sops.yaml
  .archive/kubernetes/apps/default/olivetin/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

fix cluster labels
  .github/labels.yaml
Labels: area/github

workflow updates
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/schemas.yaml
Labels: area/github

updates to kubernetes tasks
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

remote externalsecrets tasks
  .taskfiles/ExternalSecrets/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

remove old cluster tasks
  .taskfiles/Cluster/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

chore(authelia): add argocd
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
  kubernetes/main/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

feat: argocd
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
  kubernetes/main/apps/argo/argocd/app/httproute.yaml
  kubernetes/main/apps/argo/argocd/app/kustomization.yaml
  kubernetes/main/apps/argo/argocd/ks.yaml
  kubernetes/main/apps/argo/argocd/projects/argo-test.yaml
  kubernetes/main/apps/argo/argocd/projects/kustomization.yaml
  kubernetes/main/apps/argo/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix flux-local
  .github/workflows/flux-local.yaml
Labels: area/github

chore(argocd): argocd-vault-plugin
  kubernetes/main/apps/argo/argocd/app/externalsecret.yaml
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
  kubernetes/main/apps/argo/argocd/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

core(argocd): any namespace
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(argo-test): update repos
  kubernetes/main/apps/argo/argocd/projects/argo-test.yaml
Labels: area/kubernetes, cluster/main

add the custom vault plugin to the repo server
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(argocd-vault-plugin): switch to kustomize
  kubernetes/main/apps/argo/argocd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(argocd): fix 1p url
  kubernetes/main/apps/argo/argocd/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(registry): update talos schematic and version
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore(task): get talos image from machineconfig, not node config
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(descheduler): adjust RemovePodsViolatingTopologySpreadConstraint
  kubernetes/network/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

fix talos:reboot
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

talos 1.11.0; k8s 1.33.4
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore(registry): kubernetes 1.34.0
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

chore(grafana-image-renderer): add prometheus to network policy
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

wipe user disk
  .taskfiles/talos/Taskfile.yaml
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/192.168.20.33.yaml.j2
  talos/network/nodes/192.168.20.34.yaml.j2
  talos/network/nodes/192.168.20.35.yaml.j2
  talos/network/schematic.yaml
Labels: area/talos, area/taskfile, cluster/network

update network cluster schematic
  talos/network/schematic.yaml
Labels: area/talos, cluster/network

convert network cluster to talosctl
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
  talos/network/patches/README.md
  talos/network/patches/controller/admission-controller-patch.yaml
  talos/network/patches/controller/cluster.yaml
  talos/network/patches/global/machine-files.yaml
  talos/network/patches/global/machine-kubelet.yaml
  talos/network/patches/global/machine-labels.yaml
  talos/network/patches/global/machine-network.yaml
  talos/network/patches/global/machine-sysctls.yaml
  talos/network/patches/global/machine-time.yaml
  talos/network/talconfig.yaml
  talos/network/talenv.yaml
Labels: area/talos, cluster/network

remove spegel
  bootstrap/network/helmfile.yaml
Labels: area/bootstrap, cluster/network

.
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  talos/network/machineconfig.yaml.j2
Labels: area/talos, area/taskfile, cluster/network

tweaks: - fix permissions - correct cluster name - correct cluster VIP
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/network

disable MutatingAdmissionPolicy
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

remove udev rules; "device_ownership_from_security_context" makes them unecessary
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/network

use separate helmfile for CRDs; fix pathnames
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/01-apps.yaml
  scripts/bootstrap-apps.sh
Labels: area/bootstrap, area/scripts, cluster/network

chore(external-secrets): remove separate values.yaml file
  kubernetes/network/apps/security/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/network/apps/security/external-secrets/app/helm/values.yaml
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/network

update registry cluster with CRDs changes; other tweaks
  bootstrap/registry/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/01-apps.yaml
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/bootstrap, area/talos, cluster/network, cluster/registry

update network cluster talos install (#8046)
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/network/helmfile.d/00-crds.yaml
  bootstrap/network/helmfile.d/01-apps.yaml
  bootstrap/registry/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/01-apps.yaml
  kubernetes/network/apps/security/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/network/apps/security/external-secrets/app/helm/values.yaml
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/ks.yaml
  scripts/bootstrap-apps.sh
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
  talos/network/patches/README.md
  talos/network/patches/controller/admission-controller-patch.yaml
  talos/network/patches/controller/cluster.yaml
  talos/network/patches/global/machine-files.yaml
  talos/network/patches/global/machine-kubelet.yaml
  talos/network/patches/global/machine-labels.yaml
  talos/network/patches/global/machine-network.yaml
  talos/network/patches/global/machine-sysctls.yaml
  talos/network/patches/global/machine-time.yaml
  talos/network/schematic.yaml
  talos/network/talconfig.yaml
  talos/network/talenv.yaml
Labels: area/bootstrap, area/kubernetes, area/scripts, area/talos, area/taskfile, cluster/network, cluster/registry

convert main cluster to raw talosctl
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
  talos/main/patches/README.md
  talos/main/patches/controller/admission-controller-patch.yaml
  talos/main/patches/controller/cluster.yaml
  talos/main/patches/global/machine-files.yaml
  talos/main/patches/global/machine-kubelet.yaml
  talos/main/patches/global/machine-network.yaml
  talos/main/patches/global/machine-sysctls.yaml
  talos/main/patches/global/machine-time.yaml
  talos/main/schematic.yaml
  talos/main/talconfig.yaml
  talos/main/talenv.yaml
Labels: area/bootstrap, area/talos, cluster/main

remove (controlplane) VIP config from workers
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
Labels: area/talos, cluster/main

update schematic ID
  talos/main/machineconfig.yaml.j2
  talos/main/schematic.yaml
Labels: area/talos, cluster/main

Remove talhelper main (#8062)
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3s0.yaml.j2
  talos/main/nodes/k3s2.yaml.j2
  talos/main/nodes/k3s3.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
  talos/main/patches/README.md
  talos/main/patches/controller/admission-controller-patch.yaml
  talos/main/patches/controller/cluster.yaml
  talos/main/patches/global/machine-files.yaml
  talos/main/patches/global/machine-kubelet.yaml
  talos/main/patches/global/machine-network.yaml
  talos/main/patches/global/machine-sysctls.yaml
  talos/main/patches/global/machine-time.yaml
  talos/main/schematic.yaml
  talos/main/talconfig.yaml
  talos/main/talenv.yaml
Labels: area/bootstrap, area/talos, cluster/main

chore(talos): remove old clusterconfig folders
  talos/main/clusterconfig/.gitignore
  talos/network/clusterconfig/.gitignore
Labels: area/talos, cluster/main, cluster/network
