Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*

security namespace
  kubernetes/main-old/apps/security/kustomization.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/kustomization.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
  kubernetes/main/apps/security/dmarc-report/app/externalsecrets.yaml
  kubernetes/main/apps/security/dmarc-report/app/helmrelease.yaml
  kubernetes/main/apps/security/dmarc-report/app/kustomization.yaml
  kubernetes/main/apps/security/dmarc-report/ks.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/lldap/app/externalsecret.yaml
  kubernetes/main/apps/security/lldap/app/helmrelease.yaml
  kubernetes/main/apps/security/lldap/app/kustomization.yaml
  kubernetes/main/apps/security/lldap/ks.yaml
Labels: area/kubernetes, cluster/main

csi-driver-nfs
  kubernetes/main-old/apps/storage/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/main-old/apps/storage/csi-driver-nfs/app/storageclass.yaml
  kubernetes/main/apps/storage/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/main/apps/storage/csi-driver-nfs/app/kustomization.yaml
  kubernetes/main/apps/storage/csi-driver-nfs/ks.yaml
  kubernetes/main/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/main

nextcloud
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/nextcloud/app/externalsecret.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/main/apps/default/nextcloud/app/nfs-pvc.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/flux/meta/repos/kustomization.yaml
  kubernetes/main/flux/meta/repos/nextcloud.yaml
Labels: area/kubernetes, cluster/main

fix csi-driver-nfs nodeselector
  kubernetes/main/apps/storage/csi-driver-nfs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

ocis, onedrive, picoshare, syncthing
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/ocis/app/externalsecret.yaml
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/default/ocis/app/kustomization.yaml
  kubernetes/main/apps/default/ocis/app/resources/proxy.yaml
  kubernetes/main/apps/default/ocis/ks.yaml
  kubernetes/main/apps/default/onedrive/app/configmap.yaml
  kubernetes/main/apps/default/onedrive/app/helmrelease.yaml
  kubernetes/main/apps/default/onedrive/app/kustomization.yaml
  kubernetes/main/apps/default/onedrive/ks.yaml
  kubernetes/main/apps/default/picoshare/app/externalsecret.yaml
  kubernetes/main/apps/default/picoshare/app/helmrelease.yaml
  kubernetes/main/apps/default/picoshare/app/kustomization.yaml
  kubernetes/main/apps/default/picoshare/ks.yaml
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/main/apps/default/syncthing/app/kustomization.yaml
  kubernetes/main/apps/default/syncthing/ks.yaml
Labels: area/kubernetes, cluster/main

docmost, miniflux, vikunja
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

wtf
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

joomla (parked)
  kubernetes/main/apps/joomla/kustomization.yaml
  kubernetes/main/apps/joomla/mariadb/app/check.sh
  kubernetes/main/apps/joomla/mariadb/app/externalsecret.yaml
  kubernetes/main/apps/joomla/mariadb/app/helmrelease.yaml
  kubernetes/main/apps/joomla/mariadb/app/kustomization.yaml
  kubernetes/main/apps/joomla/mariadb/app/pvc.yaml
  kubernetes/main/apps/joomla/mariadb/ks.yaml
  kubernetes/main/apps/joomla/policy.yaml
  kubernetes/main/apps/joomla/rtr/app/externalsecret.yaml
  kubernetes/main/apps/joomla/rtr/app/helmrelease.yaml
  kubernetes/main/apps/joomla/rtr/app/kustomization.yaml
  kubernetes/main/apps/joomla/rtr/app/pvc.yaml
  kubernetes/main/apps/joomla/rtr/ks.yaml
Labels: area/kubernetes, cluster/main

move system-upgrade-controller to separate namespace
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/main

repos
  kubernetes/main/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes, cluster/main

repo
  kubernetes/main/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, cluster/main

plan tolerations
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/main

calibre-web
  kubernetes/main/apps/default/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/default/calibre-web/app/kustomization.yaml
  kubernetes/main/apps/default/calibre-web/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

media via NFS
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/media-nfs.yaml
Labels: area/kubernetes, cluster/main

media-browser
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/main/apps/default/media-browser/app/kustomization.yaml
  kubernetes/main/apps/default/media-browser/ks.yaml
Labels: area/kubernetes, cluster/main

tautulli
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/default/tautulli/app/kustomization.yaml
  kubernetes/main/apps/default/tautulli/app/pvc.yaml
  kubernetes/main/apps/default/tautulli/ks.yaml
Labels: area/kubernetes, cluster/main

your-spotify
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/your-spotify/app/externalsecret.yaml
  kubernetes/main/apps/default/your-spotify/app/helmrelease.yaml
  kubernetes/main/apps/default/your-spotify/ks.yaml
Labels: area/kubernetes, cluster/main

jellyfin
  kubernetes/main-old/apps/media/kustomization.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/main/apps/default/jellyfin/app/pvc.yaml
  kubernetes/main/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

rook ingress
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes, cluster/main

jellyfin: remove nodeselector
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

intel gpu?
  kubernetes/main/apps/tools/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes, cluster/main

prometheus
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

kromgo
  kubernetes/main/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/main/apps/observability/kromgo/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

silence operator
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/observability/silence-operator/ks.yaml
Labels: area/kubernetes, cluster/main

smokeping
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/smokeping/app/helmrelease.yaml
  kubernetes/main/apps/observability/smokeping/ks.yaml
Labels: area/kubernetes, cluster/main

karma
  kubernetes/main/apps/observability/karma/app/helmrelease.yaml
  kubernetes/main/apps/observability/karma/app/resources/config.yaml
  kubernetes/main/apps/observability/karma/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

grafana
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

grafana
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/ks.yaml
Labels: area/kubernetes, cluster/main

loki
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/ks.yaml
Labels: area/kubernetes, cluster/main

alloy
  kubernetes/main/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/main/apps/observability/alloy/app/kustomization.yaml
  kubernetes/main/apps/observability/alloy/app/resources/config.alloy
  kubernetes/main/apps/observability/alloy/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/promtail/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

smartctl-exporter
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/resources/dashboard.json
  kubernetes/main/apps/observability/smartctl-exporter/app/resources/lokirule.yaml
  kubernetes/main/apps/observability/smartctl-exporter/ks.yaml
Labels: area/kubernetes, cluster/main

speedtest-exporter
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/speedtest-exporter/app/servicemonitor.yaml
  kubernetes/main/apps/observability/speedtest-exporter/ks.yaml
Labels: area/kubernetes, cluster/main

oops
  talos/main/talenv.yaml
Labels: area/talos

network-ups-tools
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/network-ups-tools/app/helmrelease.yaml
  kubernetes/main/apps/observability/network-ups-tools/ks.yaml
  kubernetes/main/apps/observability/x509-certificate-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/x509-certificate-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/x509-certificate-exporter/ks.yaml
Labels: area/kubernetes, cluster/main

cleanup after migration
  kubernetes/main-old/flux/meta/kustomization.yaml
  kubernetes/main-old/flux/meta/repositories/git/kustomization.yaml
  kubernetes/main-old/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/main-old/flux/meta/repositories/helm/angelnu.yaml
  kubernetes/main-old/flux/meta/repositories/helm/backube.yaml
  kubernetes/main-old/flux/meta/repositories/helm/bjw-s.yaml
  kubernetes/main-old/flux/meta/repositories/helm/calico.yaml
  kubernetes/main-old/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/main-old/flux/meta/repositories/helm/coredns.yaml
  kubernetes/main-old/flux/meta/repositories/helm/csi-driver-nfs.yaml
  kubernetes/main-old/flux/meta/repositories/helm/democratic-csi.yaml
  kubernetes/main-old/flux/meta/repositories/helm/enix.yaml
  kubernetes/main-old/flux/meta/repositories/helm/external-dns.yaml
  kubernetes/main-old/flux/meta/repositories/helm/external-secrets.yaml
  kubernetes/main-old/flux/meta/repositories/helm/grafana.yaml
  kubernetes/main-old/flux/meta/repositories/helm/ingress-nginx.yaml
  kubernetes/main-old/flux/meta/repositories/helm/jetstack.yaml
  kubernetes/main-old/flux/meta/repositories/helm/kured.yaml
  kubernetes/main-old/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/main-old/flux/meta/repositories/helm/metrics-server.yaml
  kubernetes/main-old/flux/meta/repositories/helm/openebs.yaml
  kubernetes/main-old/flux/meta/repositories/helm/piraeus.yaml
  kubernetes/main-old/flux/meta/repositories/helm/portainer.yaml
  kubernetes/main-old/flux/meta/repositories/helm/prometheus-community.yaml
  kubernetes/main-old/flux/meta/repositories/helm/rook-ceph.yaml
  kubernetes/main-old/flux/meta/repositories/helm/silence-operator.yaml
  kubernetes/main-old/flux/meta/repositories/helm/stakater.yaml
  kubernetes/main-old/flux/meta/repositories/helm/stevehipwell.yaml
  kubernetes/main-old/flux/meta/repositories/kustomization.yaml
  kubernetes/main-old/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix configmap
  kubernetes/main/apps/observability/network-ups-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

remove migrated apps
  kubernetes/main/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix namespace
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

schema URLs
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/java/helmrelease.yaml
  kubernetes/main/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/main/apps/observability/alloy/ks.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/main/apps/storage/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/main/apps/tools/intel-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/tools/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/main/apps/tools/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

do I need separate filters any more?
  kubernetes/main/apps/observability/karma/app/resources/config.yaml
Labels: area/kubernetes, cluster/main
