Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*

feat: jellyfin (#7750)
  .archive/kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  .archive/kubernetes/apps/media/jellyfin/app/volsync.yaml
  .archive/kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/main/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/main/apps/media/jellyfin/app/pvc.yaml
  kubernetes/main/apps/media/jellyfin/ks.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

retire homepage
  .archive/kubernetes/apps/ci/portainer/app/helmrelease.yaml
  .archive/kubernetes/apps/default/homepage/app/externalsecret.yaml
  .archive/kubernetes/apps/default/homepage/app/helmrelease.yaml
  .archive/kubernetes/apps/default/homepage/app/kustomization.yaml
  .archive/kubernetes/apps/default/homepage/app/rbac.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/bookmarks.yaml.txt
  .archive/kubernetes/apps/default/homepage/app/resources/docker.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/kubernetes.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/services.yaml.txt
  .archive/kubernetes/apps/default/homepage/app/resources/settings.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/widgets.yaml.txt
  .archive/kubernetes/apps/default/homepage/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/tools/headlamp/app/ingress.yaml
Labels: area/kubernetes, cluster/main

retire homepage (#7765)
  .archive/kubernetes/apps/ci/portainer/app/helmrelease.yaml
  .archive/kubernetes/apps/default/homepage/app/externalsecret.yaml
  .archive/kubernetes/apps/default/homepage/app/helmrelease.yaml
  .archive/kubernetes/apps/default/homepage/app/kustomization.yaml
  .archive/kubernetes/apps/default/homepage/app/rbac.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/bookmarks.yaml.txt
  .archive/kubernetes/apps/default/homepage/app/resources/docker.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/kubernetes.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/services.yaml.txt
  .archive/kubernetes/apps/default/homepage/app/resources/settings.yaml
  .archive/kubernetes/apps/default/homepage/app/resources/widgets.yaml.txt
  .archive/kubernetes/apps/default/homepage/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/karma/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/tools/headlamp/app/ingress.yaml
Labels: area/kubernetes, cluster/main

remove kubelet-csr-approver
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/main/flux/meta/repositories/helm/postfinance.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): ipv6
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/components/common/cluster-settings.yaml
Labels: area/kubernetes, cluster/network

chore(alertmanager): disable ipv6
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Revert "feat(helm): update loki ( 6.34.0 → 6.35.0 ) [main] (#7788)"
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add basic network components
  kubernetes/main-old/apps/network/nginx/external/dnsendpoint.yaml
  kubernetes/main/apps/network/external/cloudflared/configs/config.yaml
  kubernetes/main/apps/network/external/cloudflared/dnsendpoint.yaml
  kubernetes/main/apps/network/external/cloudflared/externalsecret.yaml
  kubernetes/main/apps/network/external/cloudflared/helmrelease.yaml
  kubernetes/main/apps/network/external/cloudflared/kustomization.yaml
  kubernetes/main/apps/network/external/external-dns/externalsecret.yaml
  kubernetes/main/apps/network/external/external-dns/helmrelease.yaml
  kubernetes/main/apps/network/external/external-dns/kustomization.yaml
  kubernetes/main/apps/network/external/external-dns/prometheusrule.yaml
  kubernetes/main/apps/network/external/ingress-nginx/helmrelease.yaml
  kubernetes/main/apps/network/external/ingress-nginx/kustomization.yaml
  kubernetes/main/apps/network/external/ks.yaml
  kubernetes/main/apps/network/internal/external-dns/externalsecret.yaml
  kubernetes/main/apps/network/internal/external-dns/helmrelease.yaml
  kubernetes/main/apps/network/internal/external-dns/kustomization.yaml
  kubernetes/main/apps/network/internal/ingress-nginx/helmrelease.yaml
  kubernetes/main/apps/network/internal/ingress-nginx/kustomization.yaml
  kubernetes/main/apps/network/internal/ks.yaml
  kubernetes/main/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

ip addresses are annoying
  .taskfiles/bootstrap/Taskfile.yaml
  scripts/fix-talos-ips.sh
Labels: area/scripts, area/taskfile

fix installdisk/network; remove extra volume from CPs
  talos/main/clusterconfig/.gitignore
  talos/main/talconfig.yaml
Labels: area/talos

update main helmfile for talos
  bootstrap/main/helmfile.yaml
Labels: area/bootstrap

use correct branch, moron
  kubernetes/main/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/main

add cluster-meta
  kubernetes/main/flux/meta/kustomization.yaml
  kubernetes/main/flux/meta/repos/external-dns.yaml
  kubernetes/main/flux/meta/repos/ingress-nginx.yaml
  kubernetes/main/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes, cluster/main

cannot use variables for coredns
  kubernetes/main/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes, cluster/main

add security kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix onepassword-connect chart
  kubernetes/main/apps/security/onepassword-connect/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix dependency
  kubernetes/main/apps/network/internal/ks.yaml
Labels: area/kubernetes, cluster/main

add external-secrets to bootstrap
  bootstrap/main/helmfile.yaml
Labels: area/bootstrap

fix paths
  kubernetes/main/apps/network/external/ks.yaml
  kubernetes/main/apps/network/internal/ks.yaml
Labels: area/kubernetes, cluster/main

fix clustersecretstore path
  bootstrap/main/helmfile.yaml
Labels: area/bootstrap

add missing gateway IPs
  kubernetes/main/components/common/cluster-settings.yaml
Labels: area/kubernetes, cluster/main

fix paths. again.
  kubernetes/main/apps/network/external/ks.yaml
  kubernetes/main/apps/network/internal/ks.yaml
Labels: area/kubernetes, cluster/main

add anchor
  kubernetes/main/apps/network/external/cloudflared/helmrelease.yaml
Labels: area/kubernetes, cluster/main

ugh
  kubernetes/main/apps/network/external/cloudflared/externalsecret.yaml
Labels: area/kubernetes, cluster/main

remove calico whisker
  kubernetes/main-old/apps/calico-system/calico/addons/kustomization.yaml
  kubernetes/main-old/apps/calico-system/calico/addons/whisker/ingress.yaml
  kubernetes/main-old/apps/calico-system/calico/addons/whisker/kustomization.yaml
  kubernetes/main-old/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
  kubernetes/main-old/apps/calico-system/calico/ks.yaml
  kubernetes/main-old/apps/calico-system/kustomization.yaml
Labels: area/kubernetes

fix static-web secret
  kubernetes/main/apps/default/static-web/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

add workers
  talos/main/talconfig.yaml
Labels: area/talos

can only enable API access on CP nodes
  talos/main/clusterconfig/.gitignore
  talos/main/talconfig.yaml
Labels: area/talos

yolo: rook-ceph
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

volsync+snapshot-controller+openebs
  kubernetes/main-old/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/main-old/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/main/apps/storage/openebs/app/kustomization.yaml
  kubernetes/main/apps/storage/openebs/ks.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/main/apps/storage/snapshot-controller/ks.yaml
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/main/apps/storage/volsync/app/kustomization.yaml
  kubernetes/main/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/main/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/main/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/main

dammit - forgot an IP address
  talos/main/talconfig.yaml
Labels: area/talos

enable httproutes in external-dns
  kubernetes/main/apps/network/external/external-dns/helmrelease.yaml
  kubernetes/main/apps/network/internal/external-dns/helmrelease.yaml
Labels: area/kubernetes, cluster/main

populator-test
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

vpn etc.
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/linode-backup/app/helmrelease.yaml
  kubernetes/main/apps/downloads/linode-backup/app/kustomization.yaml
  kubernetes/main/apps/downloads/linode-backup/app/policy.yaml
  kubernetes/main/apps/downloads/linode-backup/app/secret.sops.yaml
  kubernetes/main/apps/downloads/linode-backup/ks.yaml
  kubernetes/main/apps/downloads/policy.yaml
  kubernetes/main/apps/downloads/vpnconfig.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/certificate.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/configmap.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/helmrelease.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/kustomization.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/networkpolicy.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/secret.sops.yaml
  kubernetes/main/apps/vpn/downloads-gateway/app/webhook.yaml
  kubernetes/main/apps/vpn/downloads-gateway/ks.yaml
  kubernetes/main/apps/vpn/kustomization.yaml
Labels: area/kubernetes, cluster/main

fnord
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/linode-backup/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

kyverno
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/main/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/main/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/main/apps/kyverno/kyverno/ks.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/add-safe-to-evict.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/apply-volsync-annotations.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/deny-ingress-implementationspecific.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/main/flux/meta/repos/kustomization.yaml
  kubernetes/main/flux/meta/repos/kyverno.yaml
Labels: area/kubernetes, cluster/main

remove kube-vip
  kubernetes/main-old/apps/kube-system/kube-vip/app/daemonset.yaml
  kubernetes/main-old/apps/kube-system/kube-vip/app/kustomization.yaml
  kubernetes/main-old/apps/kube-system/kube-vip/app/rbac.yaml
  kubernetes/main-old/apps/kube-system/kube-vip/ks.yaml
  kubernetes/main-old/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

actions-runner
  kubernetes/main-old/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
  kubernetes/main-old/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/main-old/apps/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  kubernetes/main-old/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
  kubernetes/main-old/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
  kubernetes/main-old/apps/actions-runner-system/java-runner/app/helmrelease.yaml
  kubernetes/main-old/apps/actions-runner-system/java-runner/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/java/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/java/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/java/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/java/rbac.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

jenkins
  kubernetes/main-old/apps/jenkins/kustomization.yaml
  kubernetes/main/apps/jenkins/jenkins/app/helmrelease.yaml
  kubernetes/main/apps/jenkins/jenkins/app/kustomization.yaml
  kubernetes/main/apps/jenkins/jenkins/app/secret.sops.yaml
  kubernetes/main/apps/jenkins/jenkins/ks.yaml
  kubernetes/main/apps/jenkins/kustomization.yaml
Labels: area/kubernetes, cluster/main

dbms
  kubernetes/main/apps/dbms/cloudnative-pg/app/externalsecret.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/backup/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/backup/restore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/service.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
  kubernetes/main/apps/dbms/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/dbms/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly/app/rbac.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly/cluster/podmonitor.yaml
  kubernetes/main/apps/dbms/dragonfly/ks.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/dbms/pgadmin/app/externalsecret.yaml
  kubernetes/main/apps/dbms/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/dbms/pgadmin/app/kustomization.yaml
  kubernetes/main/apps/dbms/pgadmin/ks.yaml
  kubernetes/main/apps/dbms/postgres-backup/app/helmrelease.yaml
  kubernetes/main/apps/dbms/postgres-backup/app/kustomization.yaml
  kubernetes/main/apps/dbms/postgres-backup/ks.yaml
  kubernetes/main/flux/meta/repos/cloudnative-pg.yaml
  kubernetes/main/flux/meta/repos/kustomization.yaml
  kubernetes/main/flux/meta/repos/runix.yaml
Labels: area/kubernetes, cluster/main
