Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore(envoy-gateway): enable DualStack
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network

replace cilium gateway with envoy-gateway
  bootstrap/registry/helmfile.d/00-crds.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/certificates/export/certificate.yaml
  kubernetes/registry/apps/network/certificates/export/kustomization.yaml
  kubernetes/registry/apps/network/certificates/export/pushsecret.yaml
  kubernetes/registry/apps/network/certificates/import/externalsecret.yaml
  kubernetes/registry/apps/network/certificates/import/kustomization.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/observability.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
Labels: area/bootstrap, area/kubernetes, cluster/registry

change branch
  kubernetes/registry/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/registry

whoops - no ES on this cluster
  kubernetes/registry/apps/network/certificates/export/kustomization.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/registry

Envoy gateway registry (#8101)
  bootstrap/registry/helmfile.d/00-crds.yaml
  kubernetes/registry/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/registry/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/registry/apps/network/bind-dns/app/helmrelease.yaml
  kubernetes/registry/apps/network/certificates/export/certificate.yaml
  kubernetes/registry/apps/network/certificates/export/kustomization.yaml
  kubernetes/registry/apps/network/certificates/export/pushsecret.yaml
  kubernetes/registry/apps/network/certificates/import/externalsecret.yaml
  kubernetes/registry/apps/network/certificates/import/kustomization.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/observability.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
Labels: area/bootstrap, area/kubernetes, cluster/registry

change branch
  kubernetes/registry/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/registry

feat: envoy oidc test
  kubernetes/main/apps/default/whoami/app/externalsecret.yaml
  kubernetes/main/apps/default/whoami/app/kustomization.yaml
  kubernetes/main/apps/default/whoami/app/securitypolicy.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore(main-cluster): taint controlPlane nodes
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
Labels: area/talos, cluster/main

import yamlfmt
  .vscode/extensions.json
  .vscode/settings.json
  .yamlfmt.yaml
Labels: none

add tools
  .mise.toml
Labels: none

feat: dyndns2 client
  kubernetes/network/apps/network/dyndns/app/externalsecret.yaml
  kubernetes/network/apps/network/dyndns/app/helmrelease.yaml
  kubernetes/network/apps/network/dyndns/app/kustomization.yaml
  kubernetes/network/apps/network/dyndns/app/resources/dyndns.sh
  kubernetes/network/apps/network/dyndns/ks.yaml
Labels: area/kubernetes, cluster/network

feat: dyndns2 client (#8148)
  kubernetes/network/apps/network/dyndns/app/externalsecret.yaml
  kubernetes/network/apps/network/dyndns/app/helmrelease.yaml
  kubernetes/network/apps/network/dyndns/app/kustomization.yaml
  kubernetes/network/apps/network/dyndns/app/resources/dyndns.sh
  kubernetes/network/apps/network/dyndns/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network

Revert "whoops - remove cluster-meta kustomization"
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/registry

remove group size for silence-operator
  .github/renovate/groups.json5
Labels: area/github, area/renovate

chore(talos): re-enable PodTopologySpread
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

yaml tweaks
  kubernetes/main/components/common/alerts/alertmanager/alert.yaml
  kubernetes/main/components/gatus/guarded/config.yaml
Labels: area/kubernetes, cluster/main

add missing file contents
  kubernetes/main/apps/storage/openebs/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/app/ocirepository.yaml
  kubernetes/registry/apps/kube-system/metrics-server/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

add missing files
  kubernetes/main/apps/tools/intel-device-plugin/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network

networking updates (main): - disable hubble - disable cilium envoy - add cilium service for kube API - remove talos VIP (for kube API)
  kubernetes/main/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/app/networking.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/k3sj.yaml.j2
  talos/main/nodes/k3sm.yaml.j2
  talos/main/nodes/k3st.yaml.j2
Labels: area/kubernetes, area/talos, cluster/main

networking updates (network): - disable hubble - disable cilium envoy - add cilium service for kube API - remove talos VIP (for kube API)
  kubernetes/network/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/app/networking.yaml
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/kubernetes, area/talos, cluster/network

re-add udev rule
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/network

networking updates (registry): - disable hubble - disable cilium envoy - add cilium service for kube API - remove talos VIP (for kube API)
  kubernetes/network/apps/kube-system/cilium/app/networking.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
Labels: area/kubernetes, area/talos, cluster/network, cluster/registry

chore(registry): redundant cidr is redundant
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/registry

lint
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: add externalTrafficPolicy to envoyService
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main

dusting
  kubernetes/main/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/main/apps/default/tautulli/app/externalsecret.yaml
  kubernetes/main/apps/default/your-spotify/app/externalsecret.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: replace alloy with fluent-bit
  kubernetes/main/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/main/apps/observability/alloy/app/resources/config.alloy
  kubernetes/main/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/main/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/main/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/main/apps/observability/fluent-bit/ks.yaml
  kubernetes/network/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/network/apps/observability/alloy/app/resources/config.alloy
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/network/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/network/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/network/apps/observability/fluent-bit/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(gatus): sort config file
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

oopsie
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: replace alloy with fluent-bit (#8215)
  kubernetes/main/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/main/apps/observability/alloy/app/resources/config.alloy
  kubernetes/main/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/main/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/main/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/main/apps/observability/fluent-bit/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/network/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/network/apps/observability/alloy/app/resources/config.alloy
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/network/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/network/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/network/apps/observability/fluent-bit/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(loki): increase ingestion rate?
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(fluent-bit): prefer ipv4 (yuck)
  kubernetes/network/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(kube-prometheus-stack): add externalUrl
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: websockets
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/resources/haproxy.cfg
Labels: area/kubernetes, cluster/network

chore: websockets
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

fnord
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore(actions-runner-controller): fix the fixer task
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

chore: websockets
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

fnord
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore: websockets
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network
