Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: disable tproxy
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: move descheduler to base
  kubernetes/base/apps/tools/descheduler/helmrelease.yaml
  kubernetes/base/apps/tools/descheduler/kustomization.yaml
  kubernetes/base/apps/tools/descheduler/ocirepository.yaml
  kubernetes/main/apps/tools/descheduler.yaml
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/network/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/network/apps/kube-system/descheduler/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/tools/descheduler.yaml
  kubernetes/network/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: spec.platform
  kubernetes/main/apps/renovate/renovate-operator/jobs/kochhaus.yaml
Labels: area/kubernetes, cluster/main

chore: disable tproxy
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore(esphome): affinity rule for code server pod
  kubernetes/network/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Revert "feat(container): update quay.io/cilium/charts/cilium ( 1.18.6 → 1.19.1 ) [registry] (#9683)"
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, cluster/registry

chore: retire jenkins
  kubernetes/main/apps/jenkins/jenkins/app/helmrelease.yaml
  kubernetes/main/apps/jenkins/jenkins/app/kustomization.yaml
  kubernetes/main/apps/jenkins/jenkins/app/secret.sops.yaml
  kubernetes/main/apps/jenkins/jenkins/ks.yaml
  kubernetes/main/apps/jenkins/kustomization.yaml
  kubernetes/main/apps/jenkins/namespace.yaml
Labels: area/kubernetes, cluster/main

chore: renovate tweaks
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/packageRules.json5
Labels: none

chore(certificates): remove commonName; reduce lifetime to 160h; switch to ECDSA keys
  kubernetes/main/apps/network/certificates/export/certificate.yaml
  kubernetes/main/apps/network/certificates/import/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(envoy-gateway): enable Zstd compression; remove buffer tuning
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main

flux webui auth; add prometheus rules; cleanup
  kubernetes/main/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(tautulli): tune k8s probes
  kubernetes/main/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): add flux metrics
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/flux-metrics.yaml
Labels: area/kubernetes, cluster/main

chore(smartctl-exporter): fix tyops
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

chore(victorialogs): fix retentionPeriod declaration
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(tuppr): add prometheus rules
  kubernetes/main/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/main/apps/system-upgrade/upgrades/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

chore(victoria-logs): dashboards are giving helm errors
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(flux): enable retry on failure; add metrics and prometheus rules; add perms to flux web interface;
  kubernetes/network/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/podmonitor.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(certificates): reduce duration to 160d; use ecdsa keys; remove commonName
  kubernetes/network/apps/network/certificates/export/certificate.yaml
  kubernetes/network/apps/network/certificates/import/externalsecret.yaml
Labels: area/kubernetes, cluster/network

chore(envoy-gateway): enable zstd compression; remove buffer tuning
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/network

chore(prometheus): add flux metrics
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/resources/flux-metrics.yaml
Labels: area/kubernetes, cluster/network

chore(smartctl-exporter): fix tyop
  kubernetes/network/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/network

chore(tuppr): add prometheus rules
  kubernetes/network/apps/system-upgrade/upgrades/kustomization.yaml
  kubernetes/network/apps/system-upgrade/upgrades/prometheusrule.yaml
Labels: area/kubernetes, cluster/network

fix: use shortlived profile with Let's Encrypt
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network/apps/cert-manager/cert-manager/app/clusterissuer.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: remove cluster-selfsigned-issuer
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
Labels: area/kubernetes, cluster/registry

chore: short-lived certificates. also ECDSA key, remove CN
  kubernetes/registry/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/registry/apps/network/certificates/export/certificate.yaml
  kubernetes/registry/apps/network/certificates/import/externalsecret.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
Labels: area/kubernetes, cluster/registry

chore(registry-cluster): reset prune to true
  kubernetes/registry/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/registry/apps/flux-system/flux-instance/ks.yaml
  kubernetes/registry/apps/flux-system/flux-operator/ks.yaml
  kubernetes/registry/apps/harbor/harbor/ks.yaml
  kubernetes/registry/apps/kube-system/cilium/ks.yaml
  kubernetes/registry/apps/kube-system/coredns.yaml
  kubernetes/registry/apps/kube-system/metrics-server/ks.yaml
  kubernetes/registry/apps/network/bind-dns/ks.yaml
  kubernetes/registry/apps/network/envoy-gateway/ks.yaml
  kubernetes/registry/apps/observability/node-exporter/ks.yaml
  kubernetes/registry/apps/security/external-secrets.yaml
  kubernetes/registry/apps/security/onepassword/ks.yaml
  kubernetes/registry/apps/storage/openebs/ks.yaml
  kubernetes/registry/apps/system-upgrade/tuppr.yaml
  kubernetes/registry/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/registry

chore: registry cluster bgp
  kubernetes/registry/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/registry

chore: move harbor IP
  kubernetes/registry/apps/harbor/harbor/app/helmrelease.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/registry

chore: change kube-api IP
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
  kubernetes/registry/components/common/vars/cluster-settings.yaml
  talos/registry/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos, cluster/registry

chore: disable L2 on registry cluster
  kubernetes/registry/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/registry

chore: add flux webhook to network cluster
  kubernetes/network/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/network/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes, cluster/network

fix: bentopdf writable folders
  kubernetes/network/apps/default/bentopdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: import non-root settings from bentopdf chart
  kubernetes/network/apps/default/bentopdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: downgrade bentopdf _again_
  kubernetes/network/apps/default/bentopdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: fix for dragonfly-operator netpols
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(dragonfly): add networkpolicies to rbac
  kubernetes/main/apps/dbms/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/main

chore(renovate): dragonfly-operator group
  .renovate/groups.json5
Labels: none

chore: make kubernetes:cleanse-pods more aggressive
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

chore: separate dragonfly for authelia
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
Labels: area/kubernetes, cluster/main
