Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

chore: switch network-ups-tools to generic-device-plugin
  kubernetes/main/apps/observability/network-ups-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: remove node-feature-discovery
  kubernetes/base/apps/kube-system/generic-device-plugin/helmrelease.yaml
  kubernetes/base/apps/kube-system/node-feature-discovery/helmrelease.yaml
  kubernetes/base/apps/kube-system/node-feature-discovery/kustomization.yaml
  kubernetes/base/apps/kube-system/node-feature-discovery/ocirepository.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/network-ups-tools/ks.yaml
  kubernetes/main/apps/tools/kustomization.yaml
  kubernetes/main/apps/tools/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/tools/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/tools/node-feature-discovery/app/ocirepository.yaml
  kubernetes/main/apps/tools/node-feature-discovery/ks.yaml
  kubernetes/main/apps/tools/node-feature-discovery/rules/apcups-device.yaml
  kubernetes/main/apps/tools/node-feature-discovery/rules/cyberpowerups-device.yaml
  kubernetes/main/apps/tools/node-feature-discovery/rules/flirc-device.yaml
  kubernetes/main/apps/tools/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/tools/node-feature-discovery/rules/zigbee-device.yaml
  kubernetes/network/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/apcups-device.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/cyberpowerups-device.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/zigbee-device.yaml
  kubernetes/network/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: update longhorn eviction for tuppr upgrades
  kubernetes/network/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: fix kubectl container
  kubernetes/main/apps/default/opnsense-backup/app/helmrelease.yaml
  kubernetes/network/apps/network/dyndns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: cleanup containers
  kubernetes/main/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: maddy startup
  kubernetes/network/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: tududi debug
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

feat: oidctest
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/oidctest/app/externalsecret.yaml
  kubernetes/main/apps/default/oidctest/app/helmrelease.yaml
  kubernetes/main/apps/default/oidctest/app/kustomization.yaml
  kubernetes/main/apps/default/oidctest/app/ocirepository.yaml
  kubernetes/main/apps/default/oidctest/ks.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: disable tududi autoprovisioning
  kubernetes/network/apps/default/tududi/app/externalsecret.yaml
Labels: area/kubernetes, cluster/network

chore: tududi trusted proxy
  kubernetes/network/apps/default/tududi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: yeet tududi
  .archive/kubernetes/apps/default/tududi/app/externalsecret.yaml
  .archive/kubernetes/apps/default/tududi/app/helmrelease.yaml
  .archive/kubernetes/apps/default/tududi/app/kustomization.yaml
  .archive/kubernetes/apps/default/tududi/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: registry cluster - separate ocirepositories for app-template
  kubernetes/registry/apps/harbor/harbor/backup/helmrelease.yaml
  kubernetes/registry/apps/harbor/harbor/backup/kustomization.yaml
  kubernetes/registry/apps/harbor/harbor/backup/ocirepository.yaml
  kubernetes/registry/apps/security/onepassword/app/helmrelease.yaml
  kubernetes/registry/apps/security/onepassword/app/kustomization.yaml
  kubernetes/registry/apps/security/onepassword/app/ocirepository.yaml
  kubernetes/registry/components/common/kustomization.yaml
  kubernetes/registry/components/common/repos/app-template/kustomization.yaml
  kubernetes/registry/components/common/repos/kustomization.yaml
Labels: area/kubernetes, cluster/registry

chore: gatus changes for app-template 5.0.0
  kubernetes/network/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/network/apps/observability/gatus/app/ocirepository.yaml
Labels: area/kubernetes, cluster/network

chore: remove rollingupdate for netshoot
  kubernetes/network/apps/default/netshoot-iot/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

fnord
  kubernetes/network/apps/default/netshoot-iot/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: upgrade app-template to 5.0.0
  kubernetes/main/apps/default/oidctest/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore: openebs now publishes an oci chart
  kubernetes/main/apps/storage/openebs/app/ocirepository.yaml
  kubernetes/network/apps/storage/openebs/app/ocirepository.yaml
  kubernetes/registry/apps/storage/openebs/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: autoMountServiceToken
  kubernetes/main/apps/tools/webhook/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: update argocd group
  .renovate/groups.json5
Labels: none

feat: radar
  kubernetes/base/apps/radar/radar/helmrelease.yaml
  kubernetes/base/apps/radar/radar/helmrepository.yaml
  kubernetes/base/apps/radar/radar/httproute.yaml
  kubernetes/base/apps/radar/radar/kustomization.yaml
  kubernetes/main/apps/radar/kustomization.yaml
  kubernetes/main/apps/radar/namespace.yaml
  kubernetes/main/apps/radar/radar.yaml
Labels: area/kubernetes, cluster/main

chore: enable hubble
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: yeet headlamp
  kubernetes/main/apps/tools/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/tools/headlamp/app/httproute.yaml
  kubernetes/main/apps/tools/headlamp/app/kustomization.yaml
  kubernetes/main/apps/tools/headlamp/app/ocirepository.yaml
  kubernetes/main/apps/tools/headlamp/app/rbac.yaml
  kubernetes/main/apps/tools/headlamp/ks.yaml
  kubernetes/main/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: ocis auth updates
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: ocis csp
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/default/ocis/app/kustomization.yaml
  kubernetes/main/apps/default/ocis/app/resources/csp.yaml
Labels: area/kubernetes, cluster/main

chore: more ocis
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: ocis lldap integration
  kubernetes/main/apps/default/ocis/app/externalsecret.yaml
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: yeet ocis and opencloud
  kubernetes/base/apps/default/opencloud/externalsecret.yaml
  kubernetes/base/apps/default/opencloud/helmrelease.yaml
  kubernetes/base/apps/default/opencloud/kustomization.yaml
  kubernetes/base/apps/default/opencloud/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/ocis/app/externalsecret.yaml
  kubernetes/main/apps/default/ocis/app/helmrelease.yaml
  kubernetes/main/apps/default/ocis/app/kustomization.yaml
  kubernetes/main/apps/default/ocis/app/ocirepository.yaml
  kubernetes/main/apps/default/ocis/app/resources/csp.yaml
  kubernetes/main/apps/default/ocis/app/resources/proxy.yaml
  kubernetes/main/apps/default/ocis/ks.yaml
  kubernetes/main/apps/default/opencloud.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: yeet more old crap
  .archive/kubernetes/apps/default/tududi/app/externalsecret.yaml
  .archive/kubernetes/apps/default/tududi/app/helmrelease.yaml
  .archive/kubernetes/apps/default/tududi/app/kustomization.yaml
  .archive/kubernetes/apps/default/tududi/ks.yaml
  kubernetes/main/apps/default/whoami/app/securitypolicy.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

chore: move calibre-web to base
  kubernetes/base/apps/default/calibre-web/helmrelease.yaml
  kubernetes/base/apps/default/calibre-web/kustomization.yaml
  kubernetes/base/apps/default/calibre-web/ocirepository.yaml
  kubernetes/main/apps/default/calibre-web.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move docmost to base
  kubernetes/base/apps/default/docmost/externalsecret.yaml
  kubernetes/base/apps/default/docmost/helmrelease.yaml
  kubernetes/base/apps/default/docmost/kustomization.yaml
  kubernetes/base/apps/default/docmost/ocirepository.yaml
  kubernetes/main/apps/default/docmost.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move excalidraw to base
  kubernetes/base/apps/default/excalidraw/helmrelease.yaml
  kubernetes/base/apps/default/excalidraw/kustomization.yaml
  kubernetes/base/apps/default/excalidraw/ocirepository.yaml
  kubernetes/main/apps/default/excalidraw.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move filebrowser to base
  kubernetes/base/apps/default/filebrowser/externalsecret.yaml
  kubernetes/base/apps/default/filebrowser/helmrelease.yaml
  kubernetes/base/apps/default/filebrowser/kustomization.yaml
  kubernetes/base/apps/default/filebrowser/ocirepository.yaml
  kubernetes/main/apps/default/filebrowser.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move karakeep to base
  kubernetes/base/apps/default/karakeep/externalsecret.yaml
  kubernetes/base/apps/default/karakeep/helmrelease.yaml
  kubernetes/base/apps/default/karakeep/kustomization.yaml
  kubernetes/base/apps/default/karakeep/ocirepository.yaml
  kubernetes/main/apps/default/karakeep.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: move media-browser to base
  kubernetes/base/apps/default/media-browser/helmrelease.yaml
  kubernetes/base/apps/default/media-browser/kustomization.yaml
  kubernetes/base/apps/default/media-browser/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/media-browser.yaml
Labels: area/kubernetes, cluster/main

chore: move nextcloud to base
  kubernetes/base/apps/default/nextcloud/externalsecret.yaml
  kubernetes/base/apps/default/nextcloud/helmrelease.yaml
  kubernetes/base/apps/default/nextcloud/httproute.yaml
  kubernetes/base/apps/default/nextcloud/kustomization.yaml
  kubernetes/base/apps/default/nextcloud/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/nextcloud.yaml
Labels: area/kubernetes, cluster/main

chore: move components/keda to /kubernetes/components
  kubernetes/components/keda/nfs-scaler/kustomization.yaml
  kubernetes/components/keda/nfs-scaler/scaledobject.yaml
  kubernetes/main/apps/default/calibre-web.yaml
  kubernetes/main/apps/default/filebrowser.yaml
  kubernetes/main/apps/default/media-browser.yaml
  kubernetes/main/apps/default/nextcloud.yaml
  kubernetes/main/apps/default/onedrive/ks.yaml
  kubernetes/main/apps/default/syncthing/ks.yaml
  kubernetes/main/apps/default/tautulli/ks.yaml
  kubernetes/network/apps/default/omada-controller/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: move oidctest to base
  kubernetes/apps/base/default/oidctest/externalsecret.yaml
  kubernetes/apps/base/default/oidctest/helmrelease.yaml
  kubernetes/apps/base/default/oidctest/kustomization.yaml
  kubernetes/apps/base/default/oidctest/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/oidctest.yaml
Labels: area/kubernetes, cluster/main

chore: move onedrive to base
  kubernetes/apps/base/default/onedrive/configmap.yaml
  kubernetes/apps/base/default/onedrive/helmrelease.yaml
  kubernetes/apps/base/default/onedrive/kustomization.yaml
  kubernetes/apps/base/default/onedrive/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/onedrive.yaml
Labels: area/kubernetes, cluster/main

chore: move opnsense-backup to base
  kubernetes/apps/base/default/opnsense-backup/helmrelease.yaml
  kubernetes/apps/base/default/opnsense-backup/kustomization.yaml
  kubernetes/apps/base/default/opnsense-backup/ocirepository.yaml
  kubernetes/apps/base/default/opnsense-backup/resources/opnsense-backup.sh
  kubernetes/apps/base/default/opnsense-backup/secret.sops.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/opnsense-backup.yaml
Labels: area/kubernetes, cluster/main

chore: move picoshare to base
  kubernetes/apps/base/default/picoshare/externalsecret.yaml
  kubernetes/apps/base/default/picoshare/helmrelease.yaml
  kubernetes/apps/base/default/picoshare/kustomization.yaml
  kubernetes/apps/base/default/picoshare/ocirepository.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/picoshare.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*
