Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: wut
  kubernetes/apps/base/kube-system/coredns/helmrelease.yaml
Labels: area/kubernetes

chore: try blocking alertmanager ipv6 with a netpol
  kubernetes/apps/base/observability/kube-prometheus-stack/kustomization.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/networkpolicy.yaml
Labels: area/kubernetes

chore: mv flux add-ons from cluster/main to apps/base
  kubernetes/apps/base/flux-system/addons/externalsecret.yaml
  kubernetes/apps/base/flux-system/addons/grafanadashboard.yaml
  kubernetes/apps/base/flux-system/addons/httproute.yaml
  kubernetes/apps/base/flux-system/addons/kustomization.yaml
  kubernetes/apps/base/flux-system/addons/receiver.yaml
  kubernetes/apps/main/flux-system/addons.yaml
  kubernetes/apps/main/flux-system/kustomization.yaml
  kubernetes/clusters/main/flux-instance/ocirepository.yaml
  kubernetes/clusters/main/flux-instance/podmonitor.yaml
Labels: area/kubernetes

chore: the big change - move cluster yamls to clusters/main
  kubernetes/apps/main/flux-system/kustomization.yaml
  kubernetes/clusters/main/apps.yaml
  kubernetes/clusters/main/flux-instance.yaml
  kubernetes/clusters/main/flux-instance/externalsecret.yaml
  kubernetes/clusters/main/flux-instance/grafanadashboard.yaml
  kubernetes/clusters/main/flux-instance/helmrelease.yaml
  kubernetes/clusters/main/flux-instance/httproute.yaml
  kubernetes/clusters/main/flux-instance/kustomization.yaml
  kubernetes/clusters/main/flux-instance/ocirepository.yaml
  kubernetes/clusters/main/flux-instance/podmonitor.yaml
  kubernetes/clusters/main/flux-instance/prometheusrule.yaml
  kubernetes/clusters/main/flux-instance/receiver.yaml
Labels: area/kubernetes

chore: main bootstrap updates for folder move
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  bootstrap/main/helmfile.d/default.yaml
  bootstrap/main/helmfile.d/templates/release.yaml.gotmpl
  bootstrap/main/helmfile.d/templates/values-base.yaml.gotmpl
  bootstrap/main/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/base/security/onepassword/helmrelease.yaml
  kubernetes/apps/base/security/onepassword/httproute.yaml
  kubernetes/apps/base/security/onepassword/kustomization.yaml
Labels: area/bootstrap, area/kubernetes, cluster/main

chore(cert-manager): parameters for replicas, pdb
  kubernetes/apps/base/cert-manager/cert-manager/helmrelease.yaml
  kubernetes/apps/main/cert-manager/cert-manager.yaml
  kubernetes/network/apps/cert-manager/cert-manager.yaml
  kubernetes/registry/apps/cert-manager/cert-manager.yaml
Labels: area/kubernetes, cluster/network, cluster/registry

chore: cleanup flux-operator/flux-instance/addons: move grafanadashboard and pod-monitor to flux-operator
  kubernetes/apps/base/flux-system/addons/kustomization.yaml
  kubernetes/apps/base/flux-system/flux-operator/grafanadashboard.yaml
  kubernetes/apps/base/flux-system/flux-operator/helmrelease.yaml
  kubernetes/apps/base/flux-system/flux-operator/httproute.yaml
  kubernetes/apps/base/flux-system/flux-operator/kustomization.yaml
  kubernetes/apps/base/flux-system/flux-operator/podmonitor.yaml
  kubernetes/clusters/main/flux-instance/kustomization.yaml
Labels: area/kubernetes

chore(konflate): new cluster root
  kubernetes/apps/base/flux-system/konflate/helmrelease.yaml
Labels: area/kubernetes

chore: make diffs easier - use ${CLUSTER}
  kubernetes/apps/main/argo/argocd.yaml
  kubernetes/apps/main/cicd/blog/ks.yaml
  kubernetes/apps/main/dbms/cloudnative-pg.yaml
  kubernetes/apps/main/default/populator-test/ks.yaml
  kubernetes/apps/main/downloads/linode-backup/ks.yaml
  kubernetes/apps/main/joomla/mariadb/ks.yaml
  kubernetes/apps/main/joomla/rtr/ks.yaml
  kubernetes/apps/main/network/envoy-gateway/ks.yaml
  kubernetes/apps/main/observability/gatus/ks.yaml
  kubernetes/apps/main/renovate/renovate-operator.yaml
  kubernetes/apps/main/system-upgrade/tuppr.yaml
  kubernetes/apps/main/tekton-operator/tekton-operator/ks.yaml
  kubernetes/apps/main/tekton-pipelines/tekton-pipelines/ks.yaml
  kubernetes/apps/main/vpn/downloads-gateway/ks.yaml
  kubernetes/apps/network/default/populator-test/ks.yaml
  kubernetes/apps/network/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/observability/gatus/ks.yaml
  kubernetes/apps/network/storage/longhorn/ks.yaml
  kubernetes/apps/network/system-upgrade/tuppr.yaml
  kubernetes/apps/registry/harbor/harbor/ks.yaml
  kubernetes/apps/registry/network/envoy-gateway/ks.yaml
  kubernetes/apps/registry/observability/node-exporter/ks.yaml
  kubernetes/apps/registry/system-upgrade/tuppr.yaml
Labels: area/kubernetes

chore: tweaks from diff
  kubernetes/apps/main/security/onepassword.yaml
  kubernetes/apps/network/security/onepassword.yaml
  kubernetes/apps/registry/system-upgrade/upgrades/kustomization.yaml
  kubernetes/apps/registry/system-upgrade/upgrades/prometheusrule.yaml
Labels: area/kubernetes

chore: networkpolicy for flux to block ipv6. ugh.
  kubernetes/apps/base/flux-system/flux-operator/kustomization.yaml
  kubernetes/apps/base/flux-system/flux-operator/networkpolicy.yaml
Labels: area/kubernetes

chore: replace old routed-gateway labelTransformer with a component/patch
  kubernetes/apps/main/downloads/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
  kubernetes/components/routed-gateway/kustomization.yaml
Labels: area/kubernetes

chore: wait -> false
  kubernetes/apps/main/flux-system/addons.yaml
Labels: area/kubernetes

chore: remove old kromgo configmap
  kubernetes/apps/base/observability/kromgo/helmrelease.yaml
  kubernetes/apps/base/observability/kromgo/kustomization.yaml
  kubernetes/apps/base/observability/kromgo/resources/config.yaml
Labels: area/kubernetes

chore: apparently we cannot do a ipv6 subnet.
  kubernetes/apps/base/flux-system/flux-operator/networkpolicy.yaml
Labels: area/kubernetes

chore: rename common to cluster-settings, and patch network cluster to use namespace component.
  kubernetes/apps/network/actions-runner-system/kustomization.yaml
  kubernetes/apps/network/actions-runner-system/namespace.yaml
  kubernetes/apps/network/cert-manager/kustomization.yaml
  kubernetes/apps/network/cert-manager/namespace.yaml
  kubernetes/apps/network/default/kustomization.yaml
  kubernetes/apps/network/default/namespace.yaml
  kubernetes/apps/network/flux-system/kustomization.yaml
  kubernetes/apps/network/flux-system/namespace.yaml
  kubernetes/apps/network/kube-system/kustomization.yaml
  kubernetes/apps/network/kube-system/namespace.yaml
  kubernetes/apps/network/network/kustomization.yaml
  kubernetes/apps/network/network/namespace.yaml
  kubernetes/apps/network/observability/kustomization.yaml
  kubernetes/apps/network/observability/namespace.yaml
  kubernetes/apps/network/remote/kustomization.yaml
  kubernetes/apps/network/remote/namespace.yaml
  kubernetes/apps/network/security/kustomization.yaml
  kubernetes/apps/network/security/namespace.yaml
  kubernetes/apps/network/storage/kustomization.yaml
  kubernetes/apps/network/storage/namespace.yaml
  kubernetes/apps/network/system-upgrade/kustomization.yaml
  kubernetes/apps/network/system-upgrade/namespace.yaml
  kubernetes/components/network/cluster-settings/cluster-secrets.sops.yaml
  kubernetes/components/network/cluster-settings/cluster-settings.yaml
  kubernetes/components/network/cluster-settings/kustomization.yaml
  kubernetes/components/network/common/alerts/alertmanager/alert.yaml
  kubernetes/components/network/common/alerts/alertmanager/kustomization.yaml
  kubernetes/components/network/common/alerts/alertmanager/provider.yaml
  kubernetes/components/network/common/alerts/github-status/alert.yaml
  kubernetes/components/network/common/alerts/github-status/externalsecret.yaml
  kubernetes/components/network/common/alerts/github-status/kustomization.yaml
  kubernetes/components/network/common/alerts/github-status/provider.yaml
  kubernetes/components/network/common/alerts/kustomization.yaml
  kubernetes/components/network/common/kustomization.yaml
  kubernetes/components/network/nfs-scaler/kustomization.yaml
  kubernetes/components/network/nfs-scaler/scaledobject.yaml
Labels: area/kubernetes

chore: rename common to cluster-settings, and patch registry cluster to use namespace component.
  kubernetes/apps/registry/cert-manager/kustomization.yaml
  kubernetes/apps/registry/cert-manager/namespace.yaml
  kubernetes/apps/registry/flux-system/kustomization.yaml
  kubernetes/apps/registry/flux-system/namespace.yaml
  kubernetes/apps/registry/harbor/kustomization.yaml
  kubernetes/apps/registry/harbor/namespace.yaml
  kubernetes/apps/registry/kube-system/kustomization.yaml
  kubernetes/apps/registry/kube-system/namespace.yaml
  kubernetes/apps/registry/network/kustomization.yaml
  kubernetes/apps/registry/network/namespace.yaml
  kubernetes/apps/registry/observability/kustomization.yaml
  kubernetes/apps/registry/observability/namespace.yaml
  kubernetes/apps/registry/security/kustomization.yaml
  kubernetes/apps/registry/security/namespace.yaml
  kubernetes/apps/registry/storage/kustomization.yaml
  kubernetes/apps/registry/storage/namespace.yaml
  kubernetes/apps/registry/system-upgrade/kustomization.yaml
  kubernetes/apps/registry/system-upgrade/namespace.yaml
  kubernetes/components/registry/cluster-settings/cluster-secrets.sops.yaml
  kubernetes/components/registry/cluster-settings/cluster-settings.yaml
  kubernetes/components/registry/cluster-settings/kustomization.yaml
  kubernetes/components/registry/common/kustomization.yaml
Labels: area/kubernetes

chore: move kubeconfig files
  .mise.toml
Labels: none

chore: update task vars
  Taskfile.yaml
Labels: area/taskfile

chore: update image-pull workflow
  .github/workflows/image-pull.yaml
Labels: area/github

chore: out osd.1 on k3s3
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: replace nvme on k3s3
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(dragonfly): switch to their helm chart
  kubernetes/apps/base/dbms/dragonfly/grafanadashboard.yaml
  kubernetes/apps/base/dbms/dragonfly/helmrelease.yaml
  kubernetes/apps/base/dbms/dragonfly/kustomization.yaml
  kubernetes/apps/base/dbms/dragonfly/ocirepository.yaml
  kubernetes/apps/base/dbms/dragonfly/rbac.yaml
Labels: area/kubernetes

chore: sort
  kubernetes/apps/base/cert-manager/cert-manager/clusterissuer.yaml
Labels: area/kubernetes

chore: use CLUSTER variable
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

chore: lower-case taskfile folders
  .taskfiles/database/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/scripts/wait-for-job.sh
  .taskfiles/volsync/scripts/which-controller.sh
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  Taskfile.yaml
Labels: area/taskfile

chore: replace etcd-defrag job
  kubernetes/apps/base/kube-system/etcd-defrag/externalsecret.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/helmrelease.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/kustomization.yaml
  kubernetes/apps/base/kube-system/etcd-defrag/resources/dyndns.sh
  kubernetes/apps/base/kube-system/etcd-defrag/serviceaccount.yaml
Labels: area/kubernetes

chore: remove redundant httproute
  kubernetes/apps/base/renovate/renovate-operator/httproute.yaml
  kubernetes/apps/base/renovate/renovate-operator/kustomization.yaml
Labels: area/kubernetes

chore(renovate): move jobs to base folder
  kubernetes/apps/base/kube-system/cilium/grafanadashboard.yaml
  kubernetes/apps/base/renovate/renovate-jobs/externalsecret.yaml
  kubernetes/apps/base/renovate/renovate-jobs/kochhaus.yaml
  kubernetes/apps/base/renovate/renovate-jobs/kustomization.yaml
  kubernetes/apps/main/renovate/kustomization.yaml
  kubernetes/apps/main/renovate/renovate.yaml
Labels: area/kubernetes

chore: roll coredns chart back to 1.46.2
  .renovate/allowedVersions.json5
  kubernetes/apps/base/kube-system/coredns/ocirepository.yaml
Labels: area/kubernetes

chore: remove the netpols we created to try to work around the IPv6 problem
  kubernetes/apps/base/flux-system/flux-operator/kustomization.yaml
  kubernetes/apps/base/flux-system/flux-operator/networkpolicy.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/kustomization.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/networkpolicy.yaml
Labels: area/kubernetes

chore: revert
  .taskfiles/flux/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

chore: experiment with psa lolol
  kubernetes/apps/network/default/kustomization.yaml
Labels: area/kubernetes

chore: fix psa patch
  kubernetes/components/psa-baseline/kustomization.yaml
Labels: area/kubernetes

chore: flapping alert
  kubernetes/apps/main/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

chore: k8s overview dashboard
  kubernetes/apps/base/observability/kube-prometheus-stack/grafanadashboard.yaml
Labels: area/kubernetes

chore: ipv6 ra on iot network
  kubernetes/apps/network/network/multus/iot.yaml
Labels: area/kubernetes

chore: fix image-renderer coordinates
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

chore: local-hostpath tweaks
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/java/helmrelease.yaml
  kubernetes/apps/registry/harbor/harbor/app/helmrelease.yaml
  kubernetes/apps/registry/harbor/harbor/app/registry-pvc.yaml
  kubernetes/components/main/volsync/minio.yaml
  kubernetes/components/registry/cluster-settings/cluster-settings.yaml
Labels: area/kubernetes

feat: democratic-csi
  kubernetes/apps/base/storage/democratic-csi/helmrelease.yaml
  kubernetes/apps/base/storage/democratic-csi/kustomization.yaml
  kubernetes/apps/base/storage/democratic-csi/ocirepository.yaml
  kubernetes/apps/main/storage/democratic-csi.yaml
  kubernetes/apps/main/storage/kustomization.yaml
Labels: area/kubernetes
