Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

chore: new plan - do not use the new talos config objects
  talos/network/machineconfig.yaml.j2
  talos/network/nodes/rk0.yaml.j2
  talos/network/nodes/rk1.yaml.j2
  talos/network/nodes/rk2.yaml.j2
Labels: area/talos, cluster/network

chore: restore nameservers; disable ipv6 autoconf
  talos/main/machineconfig.yaml.j2
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/main, cluster/network

fix: restore CiliumL2AnnouncementPolicy?
  kubernetes/main/apps/kube-system/cilium/app/networking.yaml
  kubernetes/network/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: migrate harbor to physical
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
  talos/registry/schematic.yaml
Labels: area/talos, cluster/registry

feat: booklore
  kubernetes/main/apps/default/booklore/app/externalsecret.yaml
  kubernetes/main/apps/default/booklore/app/helmrelease.yaml
  kubernetes/main/apps/default/booklore/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: booklore (#9184)
  kubernetes/main/apps/default/booklore/app/externalsecret.yaml
  kubernetes/main/apps/default/booklore/app/helmrelease.yaml
  kubernetes/main/apps/default/booklore/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: booklore incoming folder
  kubernetes/main/apps/default/booklore/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: keda (network)
  kubernetes/network/apps/observability/keda/app/helmrelease.yaml
  kubernetes/network/apps/observability/keda/app/kustomization.yaml
  kubernetes/network/apps/observability/keda/app/ocirepository.yaml
  kubernetes/network/apps/observability/keda/ks.yaml
  kubernetes/network/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: nfs-scaler
  kubernetes/network/apps/default/omada-controller/ks.yaml
  kubernetes/network/components/nfs-scaler/kustomization.yaml
  kubernetes/network/components/nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/network

chore: add force mode to talos reboot
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore: adjust registry talos config for new disk
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/harbor.yaml.j2
Labels: area/talos, cluster/registry

chore: more disable ipv6 autoconf
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/network, cluster/registry

chore(gatus): add DNS checks; cleanup
  kubernetes/main/apps/observability/gatus/app/resources/config.yaml
  kubernetes/network/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: update README
  README.md
Labels: area/docs

add tplink plug exporter to main cluster (for kromgo)
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/tplink-plug-exporter/app/dashboard/kustomization.yaml
  kubernetes/main/apps/observability/tplink-plug-exporter/app/dashboard/tplink-plug-exporter.json
  kubernetes/main/apps/observability/tplink-plug-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/tplink-plug-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/tplink-plug-exporter/app/prometheus.yaml
  kubernetes/main/apps/observability/tplink-plug-exporter/ks.yaml
Labels: area/kubernetes, cluster/main

chore: add network diagram
  assets/network-diagram.png
Labels: none

chore(tupper): add CNPG checks
  kubernetes/main/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/main/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, cluster/main

chore: move omada controller to VM
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
  kubernetes/network/apps/default/omada-controller/ks.yaml
Labels: area/kubernetes, cluster/network

chore: move omada dashboard to omada-exporter
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
  kubernetes/network/apps/observability/omada-exporter/app/dashboard/README.md
  kubernetes/network/apps/observability/omada-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/observability/omada-exporter/app/dashboard/omada-controller.json
  kubernetes/network/apps/observability/omada-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/omada-exporter/app/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: homer config updates
  kubernetes/network/apps/default/homer/app/resources/homer-config.yaml
Labels: area/kubernetes, cluster/network

chore: who cares about ipv6 anyway.
  kubernetes/network/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/network

chore: switch to official cilium oci repository
  kubernetes/main/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/registry/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: use trustedcidrs in client traffic policy
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore: yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/main/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: set forwardKubeDNSToHost in talos config
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore: update cloudflared userid
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore: no age 1.3.1 on darwin
  .mise.toml
Labels: none

chore: banish n8n to saturdays
  .renovate/packageRules.json5
Labels: none

chore: disable webhook
  kubernetes/main/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: fix volumeSnapshotClasses indentation
  kubernetes/network/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: disable webhook
  kubernetes/network/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore: small cnpg cleanups
  kubernetes/main/apps/dbms/cloudnative-pg/app/ocirepository.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

chore: add resource limits to kyverno
  kubernetes/main/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: hypermind
  kubernetes/network/apps/default/hypermind/app/helmrelease.yaml
  kubernetes/network/apps/default/hypermind/app/kustomization.yaml
  kubernetes/network/apps/default/hypermind/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(reloader): more memory
  kubernetes/main/apps/tools/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(blackbox-exporter): NFS probes
  kubernetes/network/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/network

feat: blackbox-exporter and NFS probe for keda
  kubernetes/main/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/main/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/components/common/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

chore: add pdb for cloudflared
  kubernetes/main/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/main/apps/network/cloudflared/app/pdb.yaml
  kubernetes/network/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/network/apps/network/cloudflared/app/pdb.yaml
Labels: area/kubernetes, cluster/main, cluster/network

feat: shared echo chart
  kubernetes/base/apps/default/echo/helmrelease.yaml
  kubernetes/base/apps/default/echo/kustomization.yaml
  kubernetes/main/apps/default/echo.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/network/apps/default/echo.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/network

fix gatus component path
  kubernetes/main/apps/default/echo.yaml
  kubernetes/network/apps/default/echo.yaml
Labels: area/kubernetes, cluster/main, cluster/network
