Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: ansible/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: ansible/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: ansible/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*

chore(cloudnative-pg): remove barman-cloud-plugin and the self-signed certificate signer (#7422)
  kubernetes/main/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

fix(volsync): set cleanupCachePVC and cleanupTempPVC appropriately
  kubernetes/main/components/volsync/minio.yaml
  kubernetes/network/components/volsync/minio.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(webhook): switch k8s-sidecar registry
  kubernetes/main/apps/tools/webhook/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: vikunja
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/externalsecret.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
Labels: area/kubernetes, cluster/main

add missing app anchor
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: vikunja (#7469)
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/externalsecret.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/resources/configuration.yaml
  kubernetes/main/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

meh
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Revert "fix(container): update ghcr.io/kube-vip/kube-vip ( v0.9.1 → v0.9.2 ) [main] (#7472)"
  ansible/main/playbooks/templates/custom-kube-vip-daemonset.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes, cluster/main

chore(dbms): rename pg cluster
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/service.yaml
  kubernetes/main/apps/monitoring/grafana/ks.yaml
Labels: area/kubernetes, cluster/main

chore(postgres-backup): fix DB list
  kubernetes/main/apps/dbms/postgres-backup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

allow branch
  .github/workflows/flux-ks-sync.yaml
Labels: area/github

feat: your-spotify
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/your-spotify/app/externalsecret.yaml
  kubernetes/main/apps/media/your-spotify/app/helmrelease.yaml
  kubernetes/main/apps/media/your-spotify/ks.yaml
Labels: area/kubernetes, cluster/main

feat: your-spotify (#7525)
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/your-spotify/app/externalsecret.yaml
  kubernetes/main/apps/media/your-spotify/app/helmrelease.yaml
  kubernetes/main/apps/media/your-spotify/ks.yaml
Labels: area/kubernetes, cluster/main

fix pathnames in helmfile
  bootstrap/network/helmfile.yaml
Labels: area/bootstrap

change ASN
  kubernetes/network/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes, cluster/network

meh
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

cluster-settings
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/default/echo/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/flux-system/flux-instance/ks.yaml
  kubernetes/network/apps/flux-system/flux-operator/ks.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/kube-system/coredns/ks.yaml
  kubernetes/network/apps/kube-system/descheduler/ks.yaml
  kubernetes/network/apps/kube-system/metrics-server/ks.yaml
  kubernetes/network/apps/kube-system/reloader/ks.yaml
  kubernetes/network/apps/kube-system/spegel/ks.yaml
  kubernetes/network/apps/network/external/ks.yaml
  kubernetes/network/apps/observability/grafana/ks.yaml
  kubernetes/network/apps/observability/json-exporter/ks.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/network/apps/observability/opnsense-exporter/ks.yaml
  kubernetes/network/apps/storage/longhorn/ks.yaml
  kubernetes/network/apps/storage/openebs/ks.yaml
  kubernetes/network/apps/storage/snapshot-controller/ks.yaml
  kubernetes/network/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/network

network cluster bootstrap updates
  .taskfiles/bootstrap/Taskfile.yaml
  talos/network/clusterconfig/.gitignore
  talos/network/talsecret.sops.yaml
Labels: area/talos, area/taskfile

correct CNAME
  kubernetes/network/apps/default/echo/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/ingress.yaml
Labels: area/kubernetes, cluster/network

feat: mosquitto
  kubernetes/network/apps/default/echo/app/helmrelease.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/network/apps/default/mosquitto/app/gatus.yaml
  kubernetes/network/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/network/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/network/apps/default/mosquitto/app/pvc.yaml
  kubernetes/network/apps/default/mosquitto/app/resources/mosquitto.conf
  kubernetes/network/apps/default/mosquitto/ks.yaml
Labels: area/kubernetes, cluster/network

cluster settings
  kubernetes/network/apps/network/internal/ks.yaml
Labels: area/kubernetes, cluster/network

change network device names
  talos/network/talconfig.yaml
Labels: area/talos

chore(flux-instance): add prometheus rules
  kubernetes/network/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-instance/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/network

add CRDs to bootstrap script
  scripts/bootstrap-apps.sh
Labels: area/scripts

fix tls cert
  kubernetes/network/apps/network/internal/ingress-nginx/helmrelease.yaml
Labels: area/kubernetes, cluster/network

feat: mqtt-exporter
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/dashboard/house-sensors.json
  kubernetes/network/apps/default/mqtt-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/externalsecret.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/helmrelease.yaml
  kubernetes/network/apps/default/mqtt-exporter/app/kustomization.yaml
  kubernetes/network/apps/default/mqtt-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

chore(network): ipv6
  kubernetes/network/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/network/apps/kube-system/cilium/app/networks.yaml
  kubernetes/network/apps/kube-system/coredns/app/helm/values.yaml
  kubernetes/network/apps/network/external/ingress-nginx/helmrelease.yaml
  kubernetes/network/apps/network/internal/ingress-nginx/helmrelease.yaml
  kubernetes/network/apps/observability/json-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  talos/network/patches/controller/cluster.yaml
  talos/network/patches/global/machine-kubelet.yaml
  talos/network/talconfig.yaml
Labels: area/kubernetes, area/talos, cluster/network

feat: node-feature-discoery
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/apcups-device.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/cyberpowerups-device.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/rules/zigbee-device.yaml
Labels: area/kubernetes, cluster/network

add network bootstrap
  bootstrap/network/helmfile.yaml
Labels: area/bootstrap

feat: zigbee2mqtt
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/network/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/network/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/network

feat: openspeedtest
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/openspeedtest/app/helmrelease.yaml
  kubernetes/network/apps/default/openspeedtest/app/kustomization.yaml
  kubernetes/network/apps/default/openspeedtest/ks.yaml
Labels: area/kubernetes, cluster/network

feat: omada-controller
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/omada-controller/app/dashboard/README.md
  kubernetes/network/apps/default/omada-controller/app/dashboard/kustomization.yaml
  kubernetes/network/apps/default/omada-controller/app/dashboard/omada-controller.json
  kubernetes/network/apps/default/omada-controller/app/helmrelease.yaml
  kubernetes/network/apps/default/omada-controller/app/kustomization.yaml
  kubernetes/network/apps/default/omada-controller/ks.yaml
Labels: area/kubernetes, cluster/network

feat: node-red
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/node-red/app/helmrelease.yaml
  kubernetes/network/apps/default/node-red/app/kustomization.yaml
  kubernetes/network/apps/default/node-red/app/resources/lokirule.yaml
  kubernetes/network/apps/default/node-red/ks.yaml
Labels: area/kubernetes, cluster/network

feat: homer
  kubernetes/network/apps/default/homer/app/helmrelease.yaml
  kubernetes/network/apps/default/homer/app/kustomization.yaml
  kubernetes/network/apps/default/homer/app/resources/homer-config.yaml
  kubernetes/network/apps/default/homer/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: remote
  kubernetes/network/apps/remote/kustomization.yaml
  kubernetes/network/apps/remote/openssh/app/45-config
  kubernetes/network/apps/remote/openssh/app/helmrelease.yaml
  kubernetes/network/apps/remote/openssh/app/kustomization.yaml
  kubernetes/network/apps/remote/openssh/app/secret.sops.yaml
  kubernetes/network/apps/remote/openssh/ks.yaml
  kubernetes/network/apps/remote/policy.yaml
Labels: area/kubernetes, cluster/network

feat: smtp-relay
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/smtp-relay/app/certificate.yaml
  kubernetes/network/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/network/apps/default/smtp-relay/app/kustomization.yaml
  kubernetes/network/apps/default/smtp-relay/app/resources/maddy.conf
  kubernetes/network/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes, cluster/network

feat: change-detection
  kubernetes/network/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/network/apps/default/changedetection/app/kustomization.yaml
  kubernetes/network/apps/default/changedetection/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/network

feat: openweathermap-exporter
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/openweathermap-exporter/app/dashboard/kustomization.yaml
  kubernetes/network/apps/default/openweathermap-exporter/app/dashboard/openweathermap.json
  kubernetes/network/apps/default/openweathermap-exporter/app/helmrelease.yaml
  kubernetes/network/apps/default/openweathermap-exporter/app/kustomization.yaml
  kubernetes/network/apps/default/openweathermap-exporter/ks.yaml
Labels: area/kubernetes, cluster/network

start cleanup
  kubernetes/network-old/apps/calico-system/calico/addons/kustomization.yaml
  kubernetes/network-old/apps/calico-system/calico/addons/whisker/ingress.yaml
  kubernetes/network-old/apps/calico-system/calico/addons/whisker/kustomization.yaml
  kubernetes/network-old/apps/calico-system/calico/addons/whisker/networkpolicy.yaml
  kubernetes/network-old/apps/calico-system/calico/ks.yaml
  kubernetes/network-old/apps/calico-system/kustomization.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/tls/kustomization.yaml
  kubernetes/network-old/apps/cert-manager/cert-manager/tls/production.yaml
  kubernetes/network-old/apps/cert-manager/kustomization.yaml
  kubernetes/network-old/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/network-old/apps/default/mosquitto/app/gatus.yaml
  kubernetes/network-old/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/network-old/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/network-old/apps/default/mosquitto/app/pvc.yaml
  kubernetes/network-old/apps/default/mosquitto/app/resources/mosquitto.conf
  kubernetes/network-old/apps/default/mosquitto/ks.yaml
  kubernetes/network-old/apps/default/mqtt-exporter/app/dashboard/house-sensors.json
  kubernetes/network-old/apps/default/mqtt-exporter/app/dashboard/kustomization.yaml
  kubernetes/network-old/apps/default/mqtt-exporter/app/externalsecret.yaml
  kubernetes/network-old/apps/default/mqtt-exporter/app/helmrelease.yaml
  kubernetes/network-old/apps/default/mqtt-exporter/app/kustomization.yaml
  kubernetes/network-old/apps/default/mqtt-exporter/ks.yaml
  kubernetes/network-old/apps/default/smtp-relay/app/certificate.yaml
  kubernetes/network-old/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/network-old/apps/default/smtp-relay/app/kustomization.yaml
  kubernetes/network-old/apps/default/smtp-relay/app/resources/maddy.conf
  kubernetes/network-old/apps/default/smtp-relay/ks.yaml
  kubernetes/network-old/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/network-old/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/network-old/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/network-old/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/network-old/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

fix minio path
  kubernetes/network/components/volsync/minio.yaml
Labels: area/kubernetes, cluster/network
