Repository haraldkoch/kochhaus-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/main, cluster/network, cluster/registry

.github/labeler.yaml:

---
# Areas
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - ".github/renovate.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: bootstrap/main/**/*
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: talos/main/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: bootstrap/network/**/*
      - any-glob-to-any-file: kubernetes/network/**/*
      - any-glob-to-any-file: talos/network/**/*
cluster/registry:
  - changed-files:
      - any-glob-to-any-file: bootstrap/registry/**/*
      - any-glob-to-any-file: kubernetes/registry/**/*
      - any-glob-to-any-file: talos/registry/**/*

fnord
  kubernetes/network/apps/default/omada-controller/app/httproute.yaml
Labels: area/kubernetes, cluster/network

chore(haproxy): try disabling timeouts
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(loki): moar storage
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cilium): k8s apiServerURLs?
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(talos): add searchDomain
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore(talos): add explicit discovery service configuration
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore(talos): fix download of kubeconfig file
  scripts/bootstrap-talos.sh
Labels: area/scripts

chore(external-secrets): cleanup: - swap the order of dependencies - rename onepassword-connect to onepassword - move the clustersecretstore
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/onepassword-connect/app/secret.sops.yaml
  kubernetes/main/apps/security/onepassword-connect/ks.yaml
  kubernetes/main/apps/security/onepassword/app/clustersecretstore.yaml
  kubernetes/main/apps/security/onepassword/app/helmrelease.yaml
  kubernetes/main/apps/security/onepassword/app/kustomization.yaml
  kubernetes/main/apps/security/onepassword/app/secret.sops.yaml
  kubernetes/main/apps/security/onepassword/ks.yaml
Labels: area/kubernetes, cluster/main

chore(cilium): remove apiServerURLs. disable L2 announcements.
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/app/networking.yaml
  kubernetes/main/apps/security/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

chore(onepassword): fix namespace (you idjit!)
  kubernetes/main/apps/security/onepassword/app/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

fix talos reset commands
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

chore(renovate): update groups
  .github/renovate/groups.json5
Labels: area/github, area/renovate

chore: replace haproxy (to hass) with an envoy fqdn backend
  kubernetes/network/apps/default/hass/app/backend.yaml
  kubernetes/network/apps/default/hass/app/httproute.yaml
  kubernetes/network/apps/default/hass/app/kustomization.yaml
  kubernetes/network/apps/default/hass/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/resources/haproxy.cfg
  kubernetes/network/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore: replace haproxy (to hass) with an envoy fqdn backend (#8267)
  kubernetes/network/apps/default/hass/app/backend.yaml
  kubernetes/network/apps/default/hass/app/httproute.yaml
  kubernetes/network/apps/default/hass/app/kustomization.yaml
  kubernetes/network/apps/default/hass/ks.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/helmrelease.yaml
  kubernetes/network/apps/network/haproxy/app/kustomization.yaml
  kubernetes/network/apps/network/haproxy/app/resources/haproxy.cfg
  kubernetes/network/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/network

chore(cilium): re-enable L2 - we need it for the API endpoint
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, cluster/main

chore(talos): enable MutatingAdmissionPolicy
  talos/main/machineconfig.yaml.j2
Labels: area/talos, cluster/main

chore(externalsecrets): cleanup onepassword; reverse dependencies; move clustersecretstore
  kubernetes/network/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/network/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/network/apps/security/external-secrets/app/ocirepository.yaml
  kubernetes/network/apps/security/kustomization.yaml
  kubernetes/network/apps/security/onepassword-connect/app/secret.sops.yaml
  kubernetes/network/apps/security/onepassword-connect/ks.yaml
  kubernetes/network/apps/security/onepassword/app/clustersecretstore.yaml
  kubernetes/network/apps/security/onepassword/app/helmrelease.yaml
  kubernetes/network/apps/security/onepassword/app/kustomization.yaml
  kubernetes/network/apps/security/onepassword/app/secret.sops.yaml
  kubernetes/network/apps/security/onepassword/ks.yaml
Labels: area/kubernetes, cluster/network

chore(registry): add external-secrets
  kubernetes/registry/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/registry/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/registry/apps/security/external-secrets/app/ocirepository.yaml
  kubernetes/registry/apps/security/external-secrets/ks.yaml
  kubernetes/registry/apps/security/kustomization.yaml
  kubernetes/registry/apps/security/onepassword/app/clustersecretstore.yaml
  kubernetes/registry/apps/security/onepassword/app/helmrelease.yaml
  kubernetes/registry/apps/security/onepassword/app/kustomization.yaml
  kubernetes/registry/apps/security/onepassword/app/secret.sops.yaml
  kubernetes/registry/apps/security/onepassword/ks.yaml
Labels: area/kubernetes, cluster/registry

chore(registry): sops secret
  kubernetes/registry/components/common/sops/secret.sops.yaml
Labels: area/kubernetes, cluster/registry

chore(onepassword): remove external lb on registry cluster
  kubernetes/registry/apps/security/onepassword/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore(envoy-gateway): tweaks: - externalTrafficPolicy: Cluster - tcp keepalives - http3
  kubernetes/main/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/network/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/registry/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(certificates): enable 1pw certificate on registry; cleanup pushsecret configs
  kubernetes/main/apps/network/certificates/export/pushsecret.yaml
  kubernetes/network/apps/network/certificates/export/pushsecret.yaml
  kubernetes/registry/apps/network/certificates/export/kustomization.yaml
  kubernetes/registry/apps/network/certificates/export/pushsecret.yaml
  kubernetes/registry/apps/network/certificates/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(descheduler): config cleanup
  kubernetes/main/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/tools/descheduler/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network

fix talos factory URL
  talos/network/machineconfig.yaml.j2
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/network, cluster/registry

chore(network): machineconfig updates; add dnsdomain, enable discovery
  talos/network/machineconfig.yaml.j2
Labels: area/talos, cluster/network

chore(registry): machineconfig updates; add dnsdomain, enable discovery
  talos/registry/machineconfig.yaml.j2
Labels: area/talos, cluster/registry

feat: tuppr
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/main/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/main/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/main/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/main/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/main/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  kubernetes/network/apps/system-upgrade/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/network/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/network/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/network/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/network/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  kubernetes/registry/apps/system-upgrade/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, cluster/main, cluster/network, cluster/registry

chore(cloudnative-pg): upgrade postgresql to 16.10 ; update renovate customManagers
  .github/renovate/customManagers.json5
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helmrelease.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/backup/restore.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/kochhaus.yaml
Labels: area/github, area/kubernetes, area/renovate, cluster/main

chore(loki): moar disk
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(rook-ceph): try to reduce slow operations warnings
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(tuppr): longhorn health checks?
  kubernetes/network/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/network/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, cluster/network

chore(descheduler): restore old NodeUtilization thresholds
  kubernetes/main/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(tuppr): no volsync on registry cluster
  kubernetes/registry/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/registry/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, cluster/registry

longhorn schema changes
  kubernetes/network/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(smartctl_exporter): use my image
  kubernetes/main/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/network/apps/observability/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network

chore(tuppr): enable monitoring
  kubernetes/network/apps/system-upgrade/tuppr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

chore(tuppr): enable monitoring
  kubernetes/main/apps/system-upgrade/tuppr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(tuppr): enable monitoring
  kubernetes/registry/apps/system-upgrade/tuppr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/registry

chore(node-feature-discovery): use new registry.k8s.io ocirepository
  kubernetes/main/apps/tools/node-feature-discovery/app/ocirepository.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main, cluster/network

feat: karakeep (again)
  kubernetes/main/apps/default/karakeep/app/externalsecret.yaml
  kubernetes/main/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/main/apps/default/karakeep/app/kustomization.yaml
  kubernetes/main/apps/default/karakeep/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/network/apps/default/netbootxyz/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/network
